Repository jerryscript-project/jerryscript, pull requests merged in 2018-09, with the labels that each got.

#2483 Fix logging issues in the debugger.
  jerry-core/api/jerry-debugger-transport.c
  jerry-debugger/jerry_client_ws.py
  jerry-ext/debugger/debugger-tcp.c
  jerry-ext/debugger/debugger-ws.c
  jerry-ext/handler/handler-print.c
  tests/debugger/do_print.cmd
  tests/debugger/do_print.expected
  tests/debugger/do_print.js
Labels: debugger

#2504 Fix constantness of 'jerry_merge_snapshots' function.
  jerry-core/api/jerry-snapshot.c
  jerry-core/ecma/base/ecma-literal-storage.c
  tests/unit-core/test-snapshot.c
Labels: bug, snapshot

#2447 Implement the core of the map object.
  jerry-core/config.h
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers-value.c
  jerry-core/ecma/base/ecma-helpers-values-collection.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-global.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-map-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-map-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-map.c
  jerry-core/ecma/builtin-objects/ecma-builtin-map.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtins.inc.h
  jerry-core/ecma/operations/ecma-map-object.c
  jerry-core/ecma/operations/ecma-map-object.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  jerry-core/profiles/README.md
  jerry-core/vm/vm-stack.c
  jerry-core/vm/vm.c
  tests/jerry/es2015/map.js
Labels: ES2015, ecma builtins

#2501 Merge instance into context
  docs/02.API-REFERENCE.md
  docs/05.PORT-API.md
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  jerry-core/include/jerryscript-port.h
  jerry-core/jcontext/jcontext.h
  jerry-main/main-unix.c
  jerry-port/default/default-external-context.c
  jerry-port/default/include/jerryscript-port-default.h
Labels: api, ecma core

#2485 Introducing internal properties.
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers-external-pointers.c
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/base/ecma-lcache.c
  jerry-core/ecma/base/ecma-property-hashmap.c
  jerry-core/lit/lit-magic-strings.h
Labels: ecma core

#2503 Promote dynamic memory management from debugger transport to core API
  docs/02.API-REFERENCE.md
  docs/13.DEBUGGER-TRANSPORT.md
  jerry-core/api/jerry-debugger-transport.c
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  jerry-core/include/jerryscript-debugger-transport.h
  jerry-ext/debugger/debugger-tcp.c
  jerry-ext/debugger/debugger-ws.c
Labels: api, debugger, ecma core, memory management

#2511 Properly guard off LCache-related functionality
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/base/ecma-lcache.c
  jerry-core/ecma/base/ecma-lcache.h
  jerry-core/ecma/operations/ecma-reference.c
  jerry-core/vm/vm.c
Labels: ecma core

#2523 Remove leading space from before `#if`s
  jerry-core/jcontext/jcontext.h
  jerry-port/default/default-debugger.c
Labels: bug, style

#2521 Remove bad assertion in ecma_builtin_json_str_helper
  jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  tests/jerry/regression-test-issue-2494.js
Labels: bug, ecma builtins

#2525 Fix check-magic-strings.sh to return with non-zero if error happens
  tools/check-magic-strings.sh
Labels: bug, tools

#2515 Send print output to debugger client from the port implementation
  jerry-ext/handler/handler-print.c
  jerry-port/default/defaultx-handler.c
Labels: debugger, jerry-port

#2519 Fix JERRY_CONTEXT (error_value) handling during ecma_builtin_promise_reject_abrupt
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.c
  tests/jerry/fail/regression-test-issue-2489.js
Labels: ES2015, bug, ecma builtins

#2516 Add soft assert handler to jerry-ext
  docs/10.EXT-REFERENCE-HANDLER.md
  jerry-ext/handler/handler-assert.c
  jerry-ext/include/jerryscript-ext/handler.h
Labels: enhancement, jerry-ext

#2533 Fix memory leak in the snapshot creation.
  jerry-core/api/jerry-snapshot.c
Labels: bug, snapshot

#2513 Increase the debugger version field size from 1 byte to 4 byte
  jerry-core/debugger/debugger.c
  jerry-core/debugger/debugger.h
  jerry-debugger/jerry_client_ws.py
Labels: debugger

#2536 Fix '--skip-list' argument of the test runner script.
  tools/runners/run-test-suite.sh
Labels: bug, test
