Repository jerryscript-project/jerryscript, pull requests merged in 2018-06, with the labels that each got.

#2374 Make sure that API function jerry_debugger_send_output is always implemented
  jerry-core/api/jerry-debugger.c
Labels: api, debugger

#2377 Direct alloc/dealloc implementations for ecma_number_t
  jerry-core/ecma/base/ecma-alloc.c
Labels: ecma core, memory management

#2372 Remove legacy public headers
  jerry-core/include/jerry-api.h
  jerry-core/include/jerry-port.h
Labels: api

#2375 Remove the leftover declaration of ecma_op_create_global_environment
  jerry-core/ecma/operations/ecma-lex-env.h
Labels: ecma core

#2370 Add better support for proper installation after build
  CMakeLists.txt
  tests/unit-core/CMakeLists.txt
  tests/unit-doc/CMakeLists.txt
  tests/unit-ext/CMakeLists.txt
  tests/unit-ext/module/CMakeLists.txt
  tests/unit-libm/CMakeLists.txt
  tools/build.py
  tools/run-tests.py
  tools/runners/run-unittests.sh
Labels: tools

#2376 Declare parser_error_to_string conditionally
  jerry-core/parser/js/js-parser.h
Labels: parser

#2373 Rework command line handling of build tool
  CMakeLists.txt
  jerry-core/CMakeLists.txt
  tools/build.py
  tools/pylint/pylintrc
  tools/run-tests.py
Labels: enhancement, tools

#2367 Replace the jerry_value_set_error_flag function with jerry_create_error_from_value
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  tests/unit-core/test-abort.c
  tests/unit-core/test-api-set-and-clear-error-flag.c
  tests/unit-core/test-api.c
Labels: api

#2389 On simple strings the utf8 substring copy api call created an assert
  jerry-core/ecma/base/ecma-helpers-string.c
  tests/unit-core/test-api.c
Labels: bug, ecma core

#2391 Improve license checker line ending validation
  tools/check-license.py
Labels: enhancement, tools

#2371 Use binary mode in snapshot tool for fopen
  jerry-libc/target/posix/jerry-libc-target.c
  jerry-main/main-unix-snapshot.c
  jerry-main/main-unix-test.c
  jerry-main/main-unix.c
  tests/jerry/windows-line-ending.js
Labels: snapshot, tools

#2392 Rework 128 bit arithmetics of ecma_utf8_string_to_number
  jerry-core/ecma/base/ecma-helpers-conversion.c
Labels: binary size, ecma core, enhancement, memory consumption

#2385 Add operational mode for jerry_gc API call.
  docs/02.API-REFERENCE.md
  docs/10.EXT-REFERENCE-HANDLER.md
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  jerry-ext/handler/handler-gc.c
  tests/unit-core/test-api.c
  tests/unit-core/test-objects-foreach.c
  tests/unit-ext/test-ext-autorelease.c
Labels: api, jerry-ext

#2381 Improve SonarQube analysis to cover more code path.
  .travis.yml
  tools/check-sonarqube.sh
Labels: enhancement, tools

#2411 Replace jerry_value_set_abort_flag with jerry_create_abort_from_value
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  tests/unit-core/test-abort.c
  tests/unit-core/test-api-set-and-clear-error-flag.c
Labels: api
