Repository jerryscript-project/jerryscript, pull requests merged in 2018-11, with the labels that each got.

#2586 Added missing include for debugger build.
  jerry-ext/debugger/debugger-tcp.c
Labels: bug, debugger

#2594 [Debugger] Modify the object representation in case of variables request.
  jerry-core/debugger/debugger.c
  tests/debugger/do_variables.expected
Labels: debugger

#2583 Improve the evaluate requests
  jerry-core/debugger/debugger.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/include/jerryscript-debugger.h
  jerry-core/vm/vm.c
  jerry-debugger/jerry_client.py
  jerry-debugger/jerry_client_ws.py
  tests/debugger/do_eval_at.cmd
  tests/debugger/do_eval_at.expected
  tests/debugger/do_eval_at.js
  tests/debugger/do_help.expected
Labels: debugger, development

#2542 [API] Add RegExp C API
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp.c
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/ecma/operations/ecma-regexp-object.h
  jerry-core/include/jerryscript-core.h
  tests/unit-core/test-regexp.c
Labels: api, development

#2558 Skip `-m32` build-test on non-Linux non-x86 platforms
  tools/run-tests.py
Labels: test, tools

#2611 Typo fixes related to jerry_json_stringify
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  tests/unit-core/test-api.c
Labels: api, bug

#2612 Fix a typo in Object.getOwnPropertyNames test
  tests/jerry/object-get-own-property-names.js
Labels: bug, test

#2597 Support identifier references for object initializers.
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-scanner.c
  tests/jerry/es2015/object-initializer.js
Labels: ES2015, development, parser

#2615 Make CONFIG_ECMA_LCACHE_DISABLE and CONFIG_ECMA_PROPERTY_HASHMAP_DISABLE build-tested
  tools/run-tests.py
Labels: test

#2620 Use logical operators for bool converions.
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-parser-expr.c
Labels: bug

#2596 Seperate tests from test-api.c - Property
  tests/unit-core/test-api-property.c
  tests/unit-core/test-api.c
Labels: test

#2609 Optimize property call opcodes
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/unit-core/test-snapshot.c
Labels: enhancement, interpreter, performance

#2623 Unify the usage of boolean value creations.
  jerry-core/api/jerry.c
  jerry-core/ecma/builtin-objects/ecma-builtin-arraybuffer.c
  jerry-core/ecma/builtin-objects/ecma-builtin-boolean.c
  jerry-core/ecma/builtin-objects/ecma-builtin-global.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-promise-object.c
Labels: enhancement, style
