Repository jerryscript-project/jerryscript, pull requests merged in 2018-10, with the labels that each got.

#2545 Fix typo in the byte code documentation.
  jerry-core/parser/js/byte-code.h
Labels: documentation, minor

#2548 Add missing doc to webpage generator script
  tools/update-webpage.sh
Labels: documentation, tools

#2549 Update the webpage
  02.API-REFERENCE.md
  03.API-EXAMPLE.md
  05.PORT-API.md
  07.DEBUGGER.md
  10.EXT-REFERENCE-HANDLER.md
  13.DEBUGGER-TRANSPORT.md
Labels: documentation

#2550 Remove the JERRY_SNAPSHOT_FOUR_BYTE_CPOINTER snapshot flag.
  jerry-core/api/jerry-snapshot.c
  jerry-core/api/jerry-snapshot.h
Labels: api, snapshot

#2555 Fix documentation of jerryx_handler_assert
  docs/10.EXT-REFERENCE-HANDLER.md
Labels: documentation, jerry-ext

#2554 Fix mismatch in context getter/setter names of default port
  docs/05.PORT-API.md
  jerry-main/main-unix.c
  jerry-port/default/default-external-context.c
  jerry-port/default/include/jerryscript-port-default.h
Labels: api, jerry-port

#2553 Remove the support for "N*.js"-named disabled tests
  tests/jerry/N.compact-profile-error.js
  tools/runners/run-test-suite.sh
Labels: test, tools

#2551 Ensure that tests are always executed in a proper time zone
  .travis.yml
  tools/run-tests.py
Labels: infrastructure, test, tools

#2540 Change jerry_port interface to allow for a correct implementation of timezones.
  docs/05.PORT-API.md
  jerry-core/ecma/builtin-objects/ecma-builtin-date-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers-date.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.h
  jerry-core/include/jerryscript-port.h
  jerry-port/default/CMakeLists.txt
  jerry-port/default/default-date.c
  targets/curie_bsp/source/curie-bsp-port.c
  targets/esp8266/user/jerry_port.c
  targets/mbedos5/source/jerry_port_mbed.c
  targets/nuttx-stm32f4/jerry_main.c
  targets/tizenrt-artik053/apps/jerryscript/jerry_main.c
  targets/zephyr/src/jerry-port.c
  tests/jerry/date-getters.js
  tests/jerry/date-setters.js
  tools/runners/run-test-suite-test262.sh
Labels: api, jerry-port

#2556 Move version numbers to public headers
  jerry-core/api/jerry-snapshot.h
  jerry-core/debugger/debugger.h
  jerry-core/include/jerryscript-debugger.h
  jerry-core/include/jerryscript-snapshot.h
Labels: api, debugger, snapshot

#2563 Fix object initializer prescanning issues.
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-parser-scanner.c
  tests/jerry/es2015/object-computed-prescanner.js
  tests/jerry/object-literal-prescanner.js
Labels: parser

#2573 Update the webpage
  05.PORT-API.md
  10.EXT-REFERENCE-HANDLER.md
Labels: documentation

#2577 Improve .travis.yml
  .travis.yml
Labels: infrastructure

#2557 List scope chain levels and their variables to the selected stack frame.
  jerry-core/debugger/debugger.c
  jerry-core/debugger/debugger.h
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/include/jerryscript-debugger.h
  jerry-core/vm/vm.c
  jerry-debugger/jerry_client.py
  jerry-debugger/jerry_client_ws.py
  tests/debugger/do_help.expected
  tests/debugger/do_scopes.cmd
  tests/debugger/do_scopes.expected
  tests/debugger/do_scopes.js
  tests/debugger/do_variables.cmd
  tests/debugger/do_variables.expected
  tests/debugger/do_variables.js
Labels: debugger, development

#2571 Add support for function argument initializers.
  jerry-core/config.h
  jerry-core/parser/js/js-parser-scanner.c
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-parser.h
  jerry-core/profiles/README.md
  tests/jerry/es2015/function-param-init.js
Labels: ES2015, development

#2564 Seperate tests from test-api.c - Strings
  tests/unit-core/test-api-strings.c
  tests/unit-core/test-api.c
Labels: api, ecma core, test

#2570 Enable the already fixed test cases
  tests/jerry/equality.js
Labels: test
