Repository jerryscript-project/jerryscript, pull requests merged in 2018-07, with the labels that each got.

#2405 Support for %TypedArray%.prototype.set(typedArray [, offset]).
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  tests/jerry/es2015/typedArray-set-with-typedArray.js
Labels: ES2015, development

#2420 Optimize JSON `Quote` operation.
  jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
Labels: ecma builtins, enhancement

#2422 Added literal list loading feature to the snapshot tool.
  jerry-core/api/jerry-snapshot.c
  jerry-core/lit/lit-magic-strings.c
  jerry-core/lit/lit-magic-strings.h
  jerry-main/main-unix-snapshot.c
Labels: development, snapshot

#2425 Remove jerry_get_arg_value function.
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  jerry-ext/module/module.c
  tests/unit-core/test-api-value-type.c
  tests/unit-core/test-api.c
  tests/unit-ext/test-ext-module-empty.c
Labels: api

#2431 Simplify source evaluation options.
  docs/02.API-REFERENCE.md
  docs/03.API-EXAMPLE.md
  docs/12.EXT-REFERENCE-MODULE.md
  jerry-core/api/jerry.c
  jerry-core/debugger/debugger.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-function.c
  jerry-core/ecma/builtin-objects/ecma-builtin-global.c
  jerry-core/ecma/operations/ecma-eval.c
  jerry-core/ecma/operations/ecma-eval.h
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/include/jerryscript-core.h
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-parser.h
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  jerry-main/main-unix.c
  targets/curie_bsp/jerry_app/quark/main.c
  targets/esp8266/user/jerry_run.c
  targets/particle/source/main.cpp
  targets/zephyr/src/main-zephyr.c
  tests/unit-core/test-api-value-type.c
  tests/unit-core/test-api.c
  tests/unit-core/test-arraybuffer.c
  tests/unit-core/test-typedarray.c
  tests/unit-ext/module/jerry-module-test.c
Labels: api
