Repository jerryscript-project/jerryscript, pull requests merged in 2018-04, with the labels that each got.

#2259 Rework snapshot generation API.
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry-snapshot.c
  jerry-core/api/jerry-snapshot.h
  jerry-core/include/jerryscript-snapshot.h
  jerry-main/main-unix-snapshot.c
  jerry-main/main-unix.c
  tests/unit-core/test-snapshot.c
  tools/runners/run-test-suite.sh
Labels: api, snapshot

#2274 Fix return value of 'Date.now'
  jerry-core/ecma/builtin-objects/ecma-builtin-date.c
  tests/jerry/regression-test-issue-2272.js
Labels: bug, ecma builtins

#2289 Update the webpage
  02.API-REFERENCE.md
  03.API-EXAMPLE.md
  04.INTERNALS.md
  05.PORT-API.md
  07.DEBUGGER.md
  08.CODING-STANDARDS.md
Labels: documentation

#2277 Reduce code duplication between String.match and search
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
Labels: binary size, ecma builtins, enhancement
