Repository jerryscript-project/jerryscript, pull requests merged in 2018-08, with the labels that each got.

#2444 Simplify redundant condition in jerry-snapshot.c
  jerry-core/api/jerry-snapshot.c
Labels: enhancement, snapshot

#2445 Use #include<> for system headers and #include"" for own headers
  jerry-core/ecma/builtin-objects/ecma-builtin-date.c
  jerry-core/include/jerryscript-debugger-transport.h
  jerry-core/include/jerryscript-debugger.h
Labels: style

#2442 Fix a few parser style issues.
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-lexer.h
  jerry-core/parser/js/js-parser-internal.h
Labels: style

#2438 Improve the output format of the testrunner
  tools/run-tests.py
  tools/runners/run-debugger-test.sh
  tools/runners/run-test-suite.sh
  tools/runners/run-unittests.sh
Labels: enhancement, tools

#2449 Make logging an optional feature and disable it by default
  docs/02.API-REFERENCE.md
  docs/05.PORT-API.md
  jerry-core/CMakeLists.txt
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  jerry-core/include/jerryscript-port.h
  jerry-core/jrt/jrt.h
  jerry-core/parser/js/js-parser.c
  tools/build.py
  tools/run-tests.py
Labels: binary size

#2456 Make cppcheck print diagnostics only
  tools/check-cppcheck.sh
Labels: tools

#2455 Don't use a shell variable to store error output of doxygen
  tools/check-doxygen.sh
Labels: tools

#2458 Make string constants `const char * const`
  jerry-core/api/jerry-snapshot.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers-date.c
  jerry-core/ecma/operations/ecma-exceptions.c
  jerry-core/vm/vm-utils.c
  jerry-ext/handler/handler-print.c
Labels: binary size

#2462 Move all (nano|u)sleep-related decisions to default port implementation
  jerry-core/CMakeLists.txt
  jerry-core/api/jerry-debugger-transport.c
  jerry-core/jrt/jrt.h
  jerry-ext/common/jext-common.h
  jerry-port/default/CMakeLists.txt
  jerry-port/default/default-debugger.c
Labels: debugger, jerry-port

#2446 Fix FILE_PATTERNS of Doxyfile and some of the issues it was hiding
  Doxyfile
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/ecma/builtin-objects/ecma-builtins.h
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-helpers.h
  jerry-core/include/jerryscript-compiler.h
  jerry-core/lit/lit-magic-strings.c
  jerry-core/lit/lit-magic-strings.h
  jerry-core/parser/js/common.h
  jerry-core/parser/js/js-parser-limits.h
  jerry-core/parser/js/js-parser.h
  jerry-core/vm/vm-defines.h
Labels: documentation, enhancement

#2463 Rename debugger-ws.h to debugger-sha1.h in debugger extension
  jerry-ext/debugger/debugger-sha1.c
  jerry-ext/debugger/debugger-sha1.h
  jerry-ext/debugger/debugger-ws.c
Labels: debugger, jerry-ext

#2464 Fix include directories of jerry-ext
  jerry-ext/CMakeLists.txt
Labels: jerry-ext

#2466 Fix unpacking mismatch in run-tests.py
  tools/run-tests.py
Labels: bug, tools

#2461 Split string-sending debugger API into output- and log-sending functions
  docs/07.DEBUGGER.md
  jerry-core/api/jerry-debugger.c
  jerry-core/debugger/debugger.h
  jerry-core/include/jerryscript-debugger-transport.h
  jerry-core/include/jerryscript-debugger.h
  jerry-ext/handler/handler-print.c
  jerry-port/default/default-io.c
  jerry-port/default/include/jerryscript-port-default.h
Labels: api, debugger, jerry-ext, jerry-port

#2471 Update debugger documentation
  docs/07.DEBUGGER.md
  jerry-debugger/README.md
Labels: debugger, documentation

#2474 Change literal status flags to enum.
  jerry-core/parser/js/common.h
  jerry-core/parser/js/js-parser-limits.h
Labels: documentation, parser, style

#2479 Fix syntax error when closing a block after a return statement
  jerry-core/parser/js/js-parser-scanner.c
  tests/jerry/regression-test-issue-2478.js
Labels: parser

#2332 Remove jerry-libc
  .travis.yml
  CMakeLists.txt
  docs/01.GETTING-STARTED.md
  docs/07.DEBUGGER.md
  jerry-core/CMakeLists.txt
  jerry-libc/CMakeLists.txt
  jerry-libc/arch/arm-v7.h
  jerry-libc/arch/x86-32.h
  jerry-libc/arch/x86-64.h
  jerry-libc/include/assert.h
  jerry-libc/include/setjmp.h
  jerry-libc/include/stdio.h
  jerry-libc/include/stdlib.h
  jerry-libc/include/string.h
  jerry-libc/include/sys/time.h
  jerry-libc/jerry-libc-defs.h
  jerry-libc/jerry-libc-init.c
  jerry-libc/jerry-libc-printf.c
  jerry-libc/jerry-libc.c
  jerry-libc/target/posix/jerry-asm.S
  jerry-libc/target/posix/jerry-libc-target.c
  jerry-main/CMakeLists.txt
  targets/esp8266/Makefile.esp8266
  targets/mbedos5/template-mbedignore.txt
  targets/nuttx-stm32f4/Makefile.travis
  targets/nuttx-stm32f4/README.md
  targets/openwrt/readme.md
  targets/particle/Makefile.particle
  targets/riot-stm32f4/Makefile.riot
  targets/tizenrt-artik053/Makefile.tizenrt
  targets/tizenrt-artik053/README.md
  targets/zephyr/Makefile.zephyr
  tests/unit-libm/CMakeLists.txt
  tools/build.py
  tools/check-cppcheck.sh
  tools/check-license.py
  tools/check-sonarqube.sh
  tools/check-vera.sh
  tools/cppcheck/suppressions-list
  tools/run-tests.py
Labels: jerry-libc

#2475 Doctest debugger examples and fix revealed issues
  docs/07.DEBUGGER.md
Labels: debugger, documentation, test

#2437 Add %TypedArray%.prototype.sort([ compareFunction ]) support.
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers-sort.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.h
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.inc.h
  jerry-core/lit/lit-magic-strings.inc.h
  tests/jerry/es2015/typedArray-sort.js
Labels: ES2015, ecma builtins

#2481 Implement computed properties for object literals.
  jerry-core/api/jerry-snapshot.h
  jerry-core/config.h
  jerry-core/include/jerryscript-port.h
  jerry-core/jrt/jrt-fatals.c
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/profiles/README.md
  jerry-core/vm/opcodes.c
  jerry-core/vm/opcodes.h
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es2015/object-computed.js
  tests/jerry/es5.1/object-literal-fails.js
  tests/jerry/fail/object-get-get.js
  tests/jerry/fail/object-several-prop-names-strict.js
  tests/jerry/object-literal-3.js
  tests/unit-core/test-snapshot.c
Labels: ES2015

#2484 Move some internal functions into JerryDebugger.
  jerry-debugger/jerry_client_ws.py
Labels: debugger, style

#2493 Move the 'init/fini arrays' build option to jerry-ext
  CMakeLists.txt
  jerry-ext/CMakeLists.txt
Labels: jerry-ext

#2495 Change `jerry_debugger_send_{output,log}` to take `const jerry_char_t *`
  docs/07.DEBUGGER.md
  jerry-core/api/jerry-debugger.c
  jerry-core/include/jerryscript-debugger.h
Labels: api, debugger

#2496 Remove deprecated native handle support.
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers-external-pointers.c
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/include/jerryscript-core.h
  jerry-core/lit/lit-magic-strings.h
Labels: api, ecma core

#2492 Remove character pointer typedefs
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry-snapshot.c
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  jerry-core/lit/lit-char-helpers.c
  jerry-core/lit/lit-char-helpers.h
  jerry-core/lit/lit-globals.h
  jerry-main/main-unix-snapshot.c
  targets/mbedos5/jerryscript-mbed/jerryscript-mbed-launcher/source/setup.cpp
  tests/unit-core/test-api.c
  tests/unit-core/test-snapshot.c
Labels: api

#2499 Update the webpage
  01.GETTING-STARTED.md
  02.API-REFERENCE.md
  03.API-EXAMPLE.md
  05.PORT-API.md
  07.DEBUGGER.md
  10.EXT-REFERENCE-HANDLER.md
  12.EXT-REFERENCE-MODULE.md
  13.DEBUGGER-TRANSPORT.md
Labels: documentation

#2498 Merge lcache into context
  jerry-core/api/jerry.c
  jerry-core/ecma/base/ecma-alloc.c
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-helpers-string.c
  jerry-core/ecma/base/ecma-init-finalize.c
  jerry-core/ecma/base/ecma-lcache.c
  jerry-core/ecma/base/ecma-lcache.h
  jerry-core/ecma/operations/ecma-objects-arguments.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/jcontext/jcontext.c
  jerry-core/jcontext/jcontext.h
Labels: ecma core

#2491 Fix ecma_builtin_promise_race_or_all function
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.c
  tests/jerry/fail/regression-test-issue-2465.js
  tests/jerry/fail/regression-test-issue-2468.js
  tests/jerry/fail/regression-test-issue-2490-variant2.js
Labels: ES2015, bug
