Repository jerryscript-project/jerryscript, pull requests merged in 2019-01, with the labels that each got.

#2650 Simplify version key in AppVeyor configuration
  appveyor.yml
Labels: infrastructure

#2655 Add missing error check after vm_op_get_value
  jerry-core/vm/vm.c
  tests/jerry/fail/regression-test-issue-2654.js
Labels: bug

#2673 Simplify the collection of sources in cmake files
  jerry-core/CMakeLists.txt
  jerry-ext/CMakeLists.txt
Labels: tools

#2663 Fixed assertion in RegExp built-in.
  jerry-core/parser/regexp/re-parser.c
  tests/jerry/regression-test-issue-2660.js
Labels: bug, ecma builtins

#2681 Build test disabled jerry-libm
  tools/run-tests.py
Labels: test

#2679 Fix broken links in README
  README.md
Labels: documentation

#2610 Fix JerryScript build with clang-6.0
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  tests/unit-core/test-regexp.c
Labels: api

#2691 Update links in docs
  CONTRIBUTING.md
  docs/01.GETTING-STARTED.md
  docs/03.API-EXAMPLE.md
  jerry-debugger/README.md
  targets/nuttx-stm32f4/README.md
  targets/tizenrt-artik053/README.md
Labels: documentation

#2692 Update the webpage
  01.GETTING-STARTED.md
  02.API-REFERENCE.md
  03.API-EXAMPLE.md
  05.PORT-API.md
  _includes/header.html
  index.html
Labels: documentation

#2683 Travis CI config maintenance
  .travis.yml
Labels: tools

#2694 Add missing error check in ecma_builtin_promise_do_all
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.c
  tests/jerry/es2015/regression-test-issue-2693.js
Labels: ES2015, bug

#2701 Add missing ecma_deref_ecma_string in ecma_builtin_typedarray_prototype_join
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  tests/jerry/es2015/regression-test-issue-2698.js
Labels: ES2015, bug

#2687 Normalize routine's arguments before dispatch
  jerry-core/ecma/builtin-objects/ecma-builtin-date-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-internal-routines-template.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtins.c
Labels: binary size

#2702 Fix getting array length in ecma_builtin_promise_do_{race, all}
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.c
Labels: ES2015, bug

#2686 Inner classes should not finalize the parent's class heritage environment
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/vm/vm.c
  tests/jerry/es2015/class-inheritance-inner-class.js
Labels: ES2015, bug

#2705 Style fix in the lexer.h
  jerry-core/parser/js/js-lexer.h
Labels: minor, style

#2684 Update the debugger to work on Windows
  appveyor.yml
  jerry-ext/CMakeLists.txt
  jerry-ext/debugger/debugger-tcp.c
  jerry-port/default/default-debugger.c
  jerry-port/default/default-io.c
Labels: debugger, jerry-ext, jerry-port

#2680 Add pkg-config metadata files for libraries
  jerry-core/CMakeLists.txt
  jerry-core/libjerry-core.pc.in
  jerry-ext/CMakeLists.txt
  jerry-ext/libjerry-ext.pc.in
  jerry-libm/CMakeLists.txt
  jerry-libm/libjerry-libm.pc.in
  jerry-port/default/CMakeLists.txt
  jerry-port/default/libjerry-port-default-minimal.pc.in
  jerry-port/default/libjerry-port-default.pc.in
Labels: tools

#2710 Fix buffer overflow while printing unhandled exception
  jerry-main/main-unix.c
Labels: bug

#2714 Fix out-of-bounds writes (buffer overflows) in unit tests
  tests/unit-core/test-api-strings.c
  tests/unit-core/test-api.c
Labels: bug, test

#2708 Substitute symbols with their descriptive string in ecma_raise_standard_error_with_format
  jerry-core/ecma/operations/ecma-exceptions.c
  tests/jerry/es2015/symbol-exception.js
Labels: ES2015, bug

#2704 Fix %TypedArray% object instances symbol properties
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/es2015/typedarray-symbol-properties.js
Labels: ES2015, bug

#2664 Fix super keyword parsing for arrow functions
  jerry-core/parser/js/js-parser-expr.c
  tests/jerry/es2015/regression-test-issue-2657.js
  tests/jerry/es2015/regression-test-issue-2664.js
Labels: ES2015, bug

#2726 Fix the order of value finalizing in ecma_builtin_typedarray_prototype_join
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  tests/jerry/es2015/regression-test-issue-2724.js
Labels: bug, ecma builtins

#2734 Ensure that symbol properties are not listed in ecma_builtin_list_lazy_property_names
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  tests/jerry/es2015/regression-test-issue-2733.js
Labels: ES2015, bug

#2740 Add duplicated argument check for function rest parameter
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-parser.h
  tests/jerry/es2015/function-rest-parameter.js
Labels: ES2015, bug, parser
