Repository jerryscript-project/jerryscript, pull requests merged in 2019-02, with the labels that each got.

#2739 Implement @@toStringTag well-known symbol related features
  jerry-core/ecma/builtin-objects/ecma-builtin-arraybuffer-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-json.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-map-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-math.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-promise-prototype.inc.h
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.inc.h
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-objects.h
  tests/jerry/es2015/object-prototype-tostring.js
Labels: ES2015, development

#2748 Fix instanceof operator for implicit class constructors
  jerry-core/ecma/operations/ecma-function-object.c
  tests/jerry/es2015/class-inheritance-has-instance.js
Labels: ES2015, bug

#2746 Added new 'jerry_binary_operation' API function
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/ecma/operations/ecma-comparison.c
  jerry-core/include/jerryscript-core.h
  tests/unit-core/test-api-binary-operations.c
Labels: api, development

#2736 Reduce the memory allocations while getting a string's length property
  jerry-core/ecma/operations/ecma-get-put-value.c
Labels: enhancement, memory consumption, performance

#2744 Ensure that ecma_get_number throws error for symbol values.
  jerry-core/ecma/operations/ecma-conversion.c
  tests/jerry/es2015/regression-test-issue-2743.js
Labels: ES2015, bug

#2640 Implement Iterator interface and Array iterators
  jerry-core/config.h
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-array-iterator-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array-iterator-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-iterator-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-iterator-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtins.inc.h
  jerry-core/ecma/operations/ecma-iterator-object.c
  jerry-core/ecma/operations/ecma-iterator-object.h
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/lit/lit-magic-strings.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  jerry-core/profiles/README.md
  tests/jerry/es2015/array-prototype-entries.js
  tests/jerry/es2015/array-prototype-keys.js
  tests/jerry/es2015/array-prototype-values.js
  tests/jerry/es2015/iterator-prototype.js
Labels: ES2015, development

#2742 Use custom dispatcher for Array.prototype routines
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.inc.h
Labels: binary size, ecma builtins

#2751 Added 'instanceof' binary operation to the API
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/include/jerryscript-core.h
  tests/unit-core/test-api-binary-operations-comparisons.c
  tests/unit-core/test-api-binary-operations-instanceof.c
Labels: api, development

#2756 Add missing error checks for ecma_regexp_exec_helper
  jerry-core/ecma/operations/ecma-regexp-object.c
  tests/jerry/regression-test-issue-2755.js
Labels: bug

#2747 Ensure that symbol properties can be set via computed object literals
  jerry-core/vm/vm.c
  tests/jerry/es2015/symbol-computed-object-literal.js
Labels: ES2015, development

#2741 Add new symbol related API functions.
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  jerry-ext/handler/handler-print.c
  tests/unit-core/test-api-value-type.c
  tests/unit-core/test-symbol.c
Labels: ES2015, api, development

#2764 Separate the debugger-client to support the later usage of other communication protocols
  jerry-debugger/jerry_client.py
  jerry-debugger/jerry_client_main.py
  jerry-debugger/jerry_client_tcp.py
  jerry-debugger/jerry_client_websocket.py
Labels: debugger
