Repository jerryscript-project/jerryscript, pull requests merged in 2019-12, with the labels that each got.

#3378 Remove CBC_EXT_CONTINUE_EXEC opcode.
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-generator-prototype.c
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/jcontext/jcontext.h
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser.c
  jerry-core/vm/opcodes.c
  jerry-core/vm/vm-defines.h
  jerry-core/vm/vm-stack.c
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/unit-core/test-snapshot.c
Labels: ES2015, enhancement

#3295 Optimize array copyWithin for fast-array cases
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
Labels: enhancement, performance

#3391 Fix error handling in abrupt promise rejection
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.c
  tests/jerry/es2015/regression-test-issue-3390.js
Labels: ES2015, bug

#3400 Fix leaking char buffer in RegExp.prototype[@@replace]
  jerry-core/ecma/operations/ecma-regexp-object.c
  tests/jerry/es2015/symbol-replace.js
Labels: ES2015, bug, ecma builtins

#3399 Support destructuring bindings as catch variables.
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-scanner-internal.h
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
  jerry-core/parser/js/js-scanner.h
  jerry-core/vm/vm.c
  tests/jerry/es2015/try-pattern.js
Labels: ES2015, parser

#3402 Implement Array.from routine
  jerry-core/ecma/builtin-objects/ecma-builtin-array.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-map-prototype.inc.h
  jerry-core/lit/lit-magic-strings.inc.h
  tests/jerry/es2015/array-from.js
  tests/jerry/es2015/map-iterators.js
Labels: ES2015, ecma builtins

#3406 Fix index handling in ecma_op_advance_string_index
  jerry-core/ecma/base/ecma-helpers-string.c
Labels: bug

#3412 Fix the global error management on promise operations
  jerry-core/ecma/operations/ecma-jobqueue.c
  jerry-core/ecma/operations/ecma-promise-object.c
  tests/jerry/es2015/regression-test-issue-3409.js
  tests/jerry/es2015/regression-test-issue-3411.js
Labels: ES2015, bug

#3413 ecma_create_error_reference should clear the context's exception flag.
  jerry-core/ecma/base/ecma-helpers.c
  tests/jerry/fail/regression-test-issue-3410.js
Labels: bug

#3415 Support spreaded argument list in super property reference.
  jerry-core/vm/vm.c
  tests/jerry/fail/regression-test-issue-3394.js
Labels: ES2015, bug

#3414 Fix global error management in ecma_builtin_string_prototype_object_split
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  tests/jerry/es2015/regresssion-test-issue-3395.js
Labels: bug

#3403 Implement ArrayBuffer.isView function
  jerry-core/api/jerry.c
  jerry-core/ecma/builtin-objects/ecma-builtin-arraybuffer.c
  jerry-core/ecma/operations/ecma-dataview-object.c
  jerry-core/ecma/operations/ecma-dataview-object.h
  tests/jerry/es2015/arraybuffer-isview.js
Labels: ES2015

#3417 Fix scanner_create_variables for empty destructuring patterns
  jerry-core/parser/js/js-scanner-util.c
  tests/jerry/es2015/regression-test-issue-3383.js
Labels: bug, pre-scanner

#3407 Implement yield* operation in generator functions.
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-generator-prototype.c
  jerry-core/ecma/operations/ecma-iterator-object.c
  jerry-core/ecma/operations/ecma-iterator-object.h
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-scanner.c
  jerry-core/vm/opcodes.c
  jerry-core/vm/vm.c
  tests/jerry/es2015/generator-yield-iterator.js
  tests/unit-core/test-snapshot.c
Labels: ES2015

#3423 Fix cleanup on error in Array.from
  jerry-core/ecma/builtin-objects/ecma-builtin-array.c
  tests/jerry/es2015/regression-test-issue-3420.js
Labels: ES2015, bug

#3425 Add bounds check for copyWithin
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  tests/jerry/es2015/regression-test-issue-3408.js
Labels: bug

#3224 Refactor code to use ToInteger
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-arraybuffer-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  jerry-core/ecma/builtin-objects/ecma-builtin-number-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-number.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  jerry-core/ecma/operations/ecma-dataview-object.c
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/ecma/operations/ecma-typedarray-object.c
  tests/jerry/es2015/dataview.js
  tests/jerry/es2015/regression-test-issue-3237.js
  tests/jerry/regression-test-issue-3325.js
Labels: ecma core

#3428 Implement TypedArray.of method
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray.c
  tests/jerry/es2015/typedarray-of.js
Labels: ES2015, ecma builtins

#3418 Implement Array.of method
  jerry-core/ecma/builtin-objects/ecma-builtin-array.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array.inc.h
  jerry-core/lit/lit-magic-strings.inc.h
  tests/jerry/es2015/array-of.js
Labels: ES2015, ecma builtins

#3375 Update String.prototype.match to ECMA-262 v6
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/ecma/operations/ecma-regexp-object.h
  tests/jerry/es2015/string-prototype-match.js
Labels: ES2015

#3426 Revise the usage of the global error value/exception flag
  jerry-core/api/jerry-snapshot.c
  jerry-core/api/jerry.c
  jerry-core/debugger/debugger.c
  jerry-core/debugger/debugger.h
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-generator-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.c
  jerry-core/ecma/builtin-objects/ecma-builtin-reflect.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/operations/ecma-exceptions.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-iterator-object.c
  jerry-core/ecma/operations/ecma-jobqueue.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-promise-object.c
  jerry-core/ecma/operations/ecma-typedarray-object.c
  jerry-core/jcontext/jcontext.c
  jerry-core/jcontext/jcontext.h
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/regexp/re-parser.c
  jerry-core/vm/opcodes.c
  jerry-core/vm/vm.c
  tests/jerry/es2015/regression-test-issue-3422.js
  tests/unit-core/test-to-integer.c
  tests/unit-core/test-to-length.c
Labels: bug

#3435 Updated the supported Unicode version from 9.0.0 to 13.0.0
  jerry-core/lit/lit-unicode-conversions.inc.h
  jerry-core/lit/lit-unicode-ranges.inc.h
  tools/gen-unicode.py
Labels: tools

#3438 Fixed memory leak in rest initializer.
  jerry-core/vm/vm.c
  tests/jerry/fail/regression-test-issue-3437.js
Labels: ES2015, bug

#3445 Fix Math.trunc(x) if -1 < x < 0
  jerry-core/ecma/builtin-objects/ecma-builtin-math.c
  tests/jerry/es2015/math-trunc.js
Labels: ES2015, bug, ecma builtins

#3444 Fixed segmentation fault in scanner.
  jerry-core/parser/js/js-scanner-util.c
  tests/jerry/es2015/regression-test-issue-3419.js
  tests/jerry/es2015/regression-test-issue-3431.js
Labels: bug, parser

#3436 Implement and add support for RegExp.prototype[@@search]
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/ecma/operations/ecma-regexp-object.h
  tests/jerry/es2015/symbol-search.js
  tests/jerry/es5.1/string-regexp-methods.js
  tests/jerry/string-prototype-search.js
Labels: ES2015, ecma builtins

#3447 Implement \u{hex} support.
  jerry-core/api/jerry-snapshot.c
  jerry-core/ecma/base/ecma-helpers-string.c
  jerry-core/ecma/builtin-objects/ecma-builtin-date.c
  jerry-core/ecma/builtin-objects/ecma-builtin-global.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/lit/lit-char-helpers.c
  jerry-core/lit/lit-char-helpers.h
  jerry-core/lit/lit-strings.c
  jerry-core/lit/lit-strings.h
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
  jerry-core/parser/regexp/re-compiler.c
  jerry-core/parser/regexp/re-parser.c
  tests/jerry/es2015/identifier-escape.js
  tests/unit-core/test-lit-char-helpers.c
  tests/unit-core/test-strings.c
  tests/unit-core/test-unicode.c
  tools/run-tests.py
Labels: parser

#3440 Add @@species accessor to Array and Promise builtin objects
  jerry-core/api/jerry.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-arraybuffer.c
  jerry-core/ecma/builtin-objects/ecma-builtin-arraybuffer.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-map.c
  jerry-core/ecma/builtin-objects/ecma-builtin-map.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.c
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp.c
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-set.c
  jerry-core/ecma/builtin-objects/ecma-builtin-set.inc.h
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray.inc.h
  jerry-core/ecma/operations/ecma-array-object.c
  jerry-core/ecma/operations/ecma-array-object.h
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-objects.h
  jerry-core/ecma/operations/ecma-promise-object.c
  jerry-core/ecma/operations/ecma-promise-object.h
  jerry-core/ecma/operations/ecma-typedarray-object.c
  jerry-core/ecma/operations/ecma-typedarray-object.h
  jerry-core/lit/lit-magic-strings.inc.h
  tests/jerry/es2015/array-species.js
  tests/jerry/es2015/promise-species.js
Labels: ES2015

#3448 Detect keyword type even if the keyword is identifier.
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-lexer.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-module.c
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
Labels: parser

#3450 Support strict mode detection in the pre-scanner.
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.h
  jerry-core/parser/js/js-scanner-internal.h
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
  tests/jerry/es2015/directive.js
Labels: development, parser

#3439 Implement binary literal parsing
  jerry-core/lit/lit-char-helpers.c
  jerry-core/lit/lit-char-helpers.h
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-lexer.h
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.h
  tests/jerry/es2015/binary-literal.js
Labels: ES2015, parser

#3452 Uncomment some fixed test cases
  tests/jerry/es2015/class-inheritance-builtin-array.js
Labels: test

#3451 Free three parser status flag bits.
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-lexer.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser.c
Labels: parser

#3462 Add missing assert entry in case of static super assignment
  jerry-core/vm/vm.c
  tests/jerry/es2015/regression-test-issue-3458.js
Labels: ES2015, minor

#3466 Remove asserts from ecma_number_is_zero and is_inf
  jerry-core/ecma/base/ecma-helpers-number.c
Labels: ecma core

#3464 Early return when the scanner throws an error while parsing an invalid function identifier
  jerry-core/parser/js/js-scanner-util.c
  tests/jerry/es2015/regression-test-issue-3454.js
Labels: bug, pre-scanner

#3405 Implement Symbol.unscopables
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype-unscopables.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype-unscopables.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtins.inc.h
  jerry-core/ecma/operations/ecma-reference.c
  jerry-core/lit/lit-magic-strings.inc.h
  tests/jerry/es2015/symbol-unscopables.js
Labels: ES2015

#3456 Implement tagged template literals
  jerry-core/api/jerry-snapshot.c
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-string.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string.inc.h
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-lexer.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-mem.c
  jerry-core/parser/js/js-parser-tagged-template-literal.c
  jerry-core/parser/js/js-parser-tagged-template-literal.h
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-scanner-internal.h
  jerry-core/parser/js/js-scanner.c
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es2015/string-raw.js
  tests/jerry/es2015/symbol-prototype.toprimitive.js
  tests/jerry/es2015/tagged-template-literal.js
  tests/jerry/es2015/template_string.js
  tests/unit-core/test-snapshot.c
Labels: ES2015, parser

#3468 Fix the parsing/scanning of empty return statement
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-scanner.c
  tests/jerry/regression-test-issue-3467.js
Labels: bug, parser

#3465 Make Math.min() and Math.max() ECMA262 conform
  jerry-core/ecma/builtin-objects/ecma-builtin-math.c
  tests/jerry/math-functions-tonumber-rule.js
Labels: bug

#3453 Implement and add support for Symbol.split
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/ecma/operations/ecma-regexp-object.h
  jerry-core/lit/lit-magic-strings.inc.h
  tests/jerry/es2015/string-prototype-split.js
  tests/jerry/es2015/symbol-split.js
  tests/jerry/es5.1/string-prototype-split.js
  tests/jerry/string-prototype-split.js
Labels: ES2015, ecma builtins

#3460 Support parsing async modifiers for functions.
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.c
  jerry-core/ecma/operations/ecma-promise-object.c
  jerry-core/ecma/operations/ecma-promise-object.h
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-lexer.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-scanner-internal.h
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
  jerry-core/parser/js/js-scanner.h
  jerry-core/vm/opcodes.c
  jerry-core/vm/opcodes.h
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es2015/function-async1.js
  tests/jerry/es2015/function-async2.js
  tests/unit-core/test-snapshot.c
Labels: parser, pre-scanner

#3470 Optimize ecma_number_to_uint32
  jerry-core/ecma/base/ecma-helpers-conversion.c
  jerry-core/ecma/base/ecma-helpers-number.c
  jerry-core/ecma/base/ecma-helpers.h
Labels: ecma core
