Repository jerryscript-project/jerryscript, pull requests merged in 2019-04, with the labels that each got.

#2809 Fix typo in the API documentation
  docs/02.API-REFERENCE.md
Labels: api, minor

#2816 Identifiers should be stored in the lexical environment if argument object needs to be created
  jerry-core/parser/js/js-parser.c
  tests/jerry/regression-test-issue-2699.js
Labels: bug, parser

#2796 Increase branch coverage: Array.prototype functions
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  tests/jerry/array-prototype-concat.js
  tests/jerry/array-prototype-join.js
  tests/jerry/array-prototype-pop.js
  tests/jerry/array-prototype-push.js
  tests/jerry/array-prototype-reverse.js
  tests/jerry/array-prototype-shift.js
  tests/jerry/array-prototype-slice.js
  tests/jerry/array-prototype-sort.js
  tests/jerry/array-prototype-splice.js
  tests/jerry/array-prototype-unshift.js
  tests/jerry/es2015/array-prototype-find.js
Labels: test

#2794 Use custom dispatcher for Global object's routines
  jerry-core/ecma/builtin-objects/ecma-builtin-global.c
  jerry-core/ecma/builtin-objects/ecma-builtin-global.inc.h
  tests/jerry/global-uri-coding.js
Labels: binary size, ecma builtins, enhancement

#2814 Allow the JS objects to have more than one native pointer data
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers-external-pointers.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/include/jerryscript-core.h
  jerry-ext/arg/arg-transform-functions.c
  targets/mbedos5/jerryscript-mbed/jerryscript-mbed-drivers/source/AnalogIn-js.cpp
  targets/mbedos5/jerryscript-mbed/jerryscript-mbed-drivers/source/DigitalOut-js.cpp
  targets/mbedos5/jerryscript-mbed/jerryscript-mbed-drivers/source/I2C-js.cpp
  targets/mbedos5/jerryscript-mbed/jerryscript-mbed-drivers/source/InterruptIn-js.cpp
  targets/mbedos5/jerryscript-mbed/jerryscript-mbed-drivers/source/PwmOut-js.cpp
  tests/unit-core/test-api.c
Labels: api, development

#2804 Implement DataView builtin
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/config.h
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-dataview-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-dataview-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-dataview.c
  jerry-core/ecma/builtin-objects/ecma-builtin-dataview.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-global.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-internal-routines-template.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtins.inc.h
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-helpers.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-helpers.h
  jerry-core/ecma/operations/ecma-dataview-object.c
  jerry-core/ecma/operations/ecma-dataview-object.h
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/include/jerryscript-core.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  jerry-core/profiles/README.md
  tests/jerry/es2015/dataview.js
  tests/jerry/es2015/regression-test-issue-2733.js
  tests/unit-core/test-dataview.c
Labels: ES2015, ecma builtins

#2828 Updated the API reference
  docs/02.API-REFERENCE.md
Labels: documentation, enhancement

#2760 Rework Map object
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers-string.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-map-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-map-prototype.inc.h
  jerry-core/ecma/operations/ecma-conversion.c
  jerry-core/ecma/operations/ecma-conversion.h
  jerry-core/ecma/operations/ecma-map-object.c
  jerry-core/ecma/operations/ecma-map-object.h
  jerry-core/lit/lit-magic-strings.h
  jerry-core/lit/lit-magic-strings.inc.h
  tests/jerry/es2015/map-prototype-foreach.js
  tests/jerry/es2015/map.js
Labels: ES2015, enhancement

#2834 Minor fixes of the documentation
  docs/01.GETTING-STARTED.md
  docs/15.MODULE-SYSTEM.md
  tools/update-webpage.sh
Labels: documentation, tools

#2835 Update the webpage
  01.GETTING-STARTED.md
  02.API-REFERENCE.md
  03.API-EXAMPLE.md
  05.PORT-API.md
  07.DEBUGGER.md
  10.EXT-REFERENCE-HANDLER.md
  14.EXT-REFERENCE-HANDLE-SCOPE.md
  15.MODULE-SYSTEM.md
Labels: documentation

#2827 Remove incorrect assertions from class construction instructions
  jerry-core/vm/vm.c
  tests/jerry/es2015/regression-test-issue-2819.js
Labels: ES2015, bug

#2830 Non-object values should give early false result for instanceof operator
  jerry-core/ecma/operations/ecma-function-object.c
  tests/jerry/es2015/regression-test-issue-2823.js
Labels: ES2015, bug

#2831 Super parse options should be cleared before setting it's value
  jerry-core/vm/vm.c
  tests/jerry/es2015/regression-test-issue-2825.js
Labels: ES2015, bug

#2836 Make the underlying buffer of the ArrayBuffer accessible.
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  tests/unit-core/test-arraybuffer.c
Labels: ES2015, api

#2839 Fixed build failure caused by conversion warning with GCC-5.4
  jerry-core/ecma/base/ecma-helpers-string.c
Labels: bug

#2840 [Debugger] Fixes the processing methods of incoming part messages
  jerry-core/debugger/debugger.c
  jerry-ext/debugger/debugger-rp.c
Labels: bug, debugger

#2829 Class this binding must be bound to non-heritage contexts as well
  jerry-core/ecma/operations/ecma-function-object.c
  tests/jerry/es2015/regression-test-issue-2822.js
Labels: ES2015, bug

#2843 Fix identifier handling inside export statements
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-statm.c
  tests/jerry/es2015/regression-test-issue-2842.js
  tests/jerry/fail/module-031.js
Labels: ES2015, bug

#2844 Update README
  README.md
Labels: documentation
