Repository jerryscript-project/jerryscript, pull requests merged in 2019-03, with the labels that each got.

#2771 Builtin Object constructor should handle symbol arguments
  jerry-core/ecma/operations/ecma-objects-general.c
  tests/jerry/es2015/regression-test-issue-2768.js
Labels: ES2015, bug

#2776 Fix the JSON stringify context abort in case of error
  jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  tests/jerry/fail/regression-test-issue-2774.js
  tests/jerry/fail/regression-test-issue-2775.js
Labels: bug, critical, ecma builtins

#2778 Fix the rest parameter behavior if the arguments object needs to be created
  jerry-core/parser/js/js-parser.c
  tests/jerry/es2015/regression-test-issue-2777.js
Labels: ES2015, bug

#2780 Add missing builtin object type checks from ecma_object_check_class_name_is_object
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/es2015/regression-test-issue-2779.js
Labels: ES2015, bug

#2785 Iterated object should be marked during GC
  jerry-core/ecma/base/ecma-gc.c
  tests/jerry/es2015/regression-test-issue-2783.js
Labels: ES2015, bug

#2772 Ensure that Symbol.toStringTag property is copied to buffer as a cesu8 string
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  tests/jerry/es2015/regression-test-issue-2769.js
Labels: ES2015, bug

#2773 Use [[DefineOwnProperty]] in the iterator next step in ecma_builtin_promise_do_all
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.c
  tests/jerry/es2015/regression-test-issue-2770.js
Labels: ES2015, bug

#2767 Optimize LCache entrys keys
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-lcache.c
Labels: enhancement, performance

#2784 Fix getting the iterated object's length property
  jerry-core/ecma/builtin-objects/ecma-builtin-array-iterator-prototype.c
  tests/jerry/es2015/regression-test-issue-2782.js
Labels: ES2015, bug

#2797 Split the Travis checks into two test calls
  .travis.yml
Labels: infrastructure

#2781 [Debugger] Create a simplified transmission layer
  docs/07.DEBUGGER.md
  jerry-debugger/jerry_client.py
  jerry-debugger/jerry_client_main.py
  jerry-debugger/jerry_client_rawpacket.py
  jerry-debugger/jerry_client_websocket.py
  jerry-ext/debugger/debugger-rp.c
  jerry-ext/include/jerryscript-ext/debugger.h
  jerry-main/main-unix.c
  tools/run-tests.py
  tools/runners/run-debugger-test.sh
Labels: debugger

#2798 Merge base resolve + get/put operations for lexical environments to increase performance
  jerry-core/ecma/operations/ecma-get-put-value.c
  jerry-core/ecma/operations/ecma-lex-env.h
  jerry-core/vm/vm.c
Labels: performance

#2801 Remove outer loop from ecma_op_function_call
  jerry-core/ecma/operations/ecma-function-object.c
Labels: enhancement, performance

#2753 Implement handle scope API in jerry-ext
  docs/14.EXT-REFERENCE-HANDLE-SCOPE.md
  jerry-ext/CMakeLists.txt
  jerry-ext/handle-scope/handle-scope-allocator.c
  jerry-ext/handle-scope/handle-scope-internal.h
  jerry-ext/handle-scope/handle-scope.c
  jerry-ext/include/jerryscript-ext/handle-scope.h
  tests/unit-ext/test-ext-handle-scope-escape.c
  tests/unit-ext/test-ext-handle-scope-handle-prelist-escape.c
  tests/unit-ext/test-ext-handle-scope-handle-prelist.c
  tests/unit-ext/test-ext-handle-scope-nested.c
  tests/unit-ext/test-ext-handle-scope-remove.c
  tests/unit-ext/test-ext-handle-scope-root.c
  tests/unit-ext/test-ext-handle-scope.c
Labels: development, jerry-ext

#2807 Fixed 'jerry_get_object_keys' API function.
  jerry-core/api/jerry.c
  tests/unit-core/test-api.c
Labels: api, bug, critical

#2766 Merge external direct magic strings into direct magic strings
  docs/02.API-REFERENCE.md
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers-string.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/lit/lit-magic-strings.c
  jerry-core/lit/lit-magic-strings.h
  tests/unit-core/test-snapshot.c
Labels: enhancement

#2805 Fix bound functions with no arguments after #2801
  jerry-core/ecma/operations/ecma-function-object.c
  tests/jerry/regression-test-issue-2805.js
Labels: bug
