Repository jerryscript-project/jerryscript, pull requests merged in 2019-11, with the labels that each got.

#3268 Arrow functions "prototype" property should not be lazy listed
  jerry-core/ecma/operations/ecma-function-object.c
  tests/jerry/es2015/regression-test-issue-3267.js
Labels: bug

#3278 Do not create temporary object during [[Get]] operation with primitive base
  jerry-core/ecma/operations/ecma-get-put-value.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-objects.h
Labels: enhancement, performance

#3279 Add missing GC limit check to realloc with system allocator
  jerry-core/jmem/jmem-heap.c
Labels: bug, memory management

#3282 Increase the size of VM group opcodes to 256
  jerry-core/vm/vm.h
Labels: interpreter

#3280 Simplify ecma_builtin_date_parse function
  jerry-core/ecma/builtin-objects/ecma-builtin-date.c
  tests/jerry/date-parse.js
Labels: ecma builtins

#3236 Introduce jerry_get_resource_name API function
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-function-object.h
  jerry-core/include/jerryscript-core.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser.c
  jerry-core/vm/vm-defines.h
  jerry-core/vm/vm.c
  jerry-ext/handler/handler-resource-name.c
  jerry-ext/include/jerryscript-ext/handler.h
  jerry-main/main-unix.c
  tests/debugger/do_variables.expected
  tests/jerry/regression-test-issue-2105.js
  tests/unit-core/test-resource-name.c
Labels: api, feature request, jerry-ext

#3260 Make run-tests --jerry-tests --jerry-test-suite work on Windows too
  tests/.gitattributes
  tests/jerry/windows-line-ending.js
  tools/pylint/pylintrc
  tools/run-tests.py
  tools/runners/run-test-suite-test262.py
  tools/runners/run-test-suite.py
  tools/runners/run-test-suite.sh
  tools/runners/run-unittests.py
  tools/runners/util.py
  tools/settings.py
Labels: tools, windows

#3285 Add missing parameter description for jerry_get_resource_name
  docs/02.API-REFERENCE.md
Labels: documentation, minor

#3283 [[HasOwnProperty]] should update the lex-env binding of arguments objects
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/regression-test-issue-3271.js
Labels: bug, ecma core

#3284 Refactor String.prototype.replace
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/ecma/operations/ecma-regexp-object.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/parser/regexp/re-bytecode.c
  tests/jerry/es2015/regression-test-issue-3070.js
  tests/jerry/es2015/symbol-replace.js
  tests/jerry/es5.1/string-prototype-replace.js
  tests/jerry/string-prototype-replace.js
Labels: ES2015, enhancement, memory consumption, performance

#3281 Implement String.fromCodePoint method
  jerry-core/ecma/builtin-objects/ecma-builtin-string.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string.inc.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  jerry-core/lit/lit-strings.c
  jerry-core/lit/lit-strings.h
  tests/jerry/es2015/string-fromcodepoint.js
Labels: ES2015, ecma builtins

#3269 Implement Array.prototype's copyWithin method
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.inc.h
  jerry-core/lit/lit-magic-strings.inc.h
  tests/jerry/es2015/array-prototype-copywithin.js
Labels: ES2015, ecma builtins

#3291 Implement String.prototype.codePointAt method
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.inc.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  tests/jerry/es2015/string-prototype-codepointat.js
Labels: ES2015, ecma builtins

#3301 Fix cleanup upon error in String.prototype.replace
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  tests/jerry/fail/regression-test-issue-3297.js
Labels: bug, ecma builtins

#3304 Fix local variable declaration issues after function argument initialization.
  jerry-core/parser/js/byte-code.h
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es2015/function-param-init2.js
  tests/jerry/es2015/regression-test-issue-3298.js
  tests/jerry/es2015/regresssion-test-issue-3302.js
  tests/jerry/fail/regresssion-test-issue-3299.js
  tests/jerry/fail/regresssion-test-issue-3300.js
Labels: bug

#3296 Allow extending statements with block context.
  jerry-core/parser/js/js-parser-statm.c
Labels: ES2015, parser

#3310 Fix timezone in Date.prototype.toString()
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers-date.c
Labels: bug

#3315 Fixing sudo usage for dependency installation
  tools/apt-get-install-deps.sh
  tools/apt-get-install-qemu-arm.sh
Labels: feature request, tools

#3309 Fix for propagating arguments reference from nested blocks.
  jerry-core/parser/js/js-scanner-util.c
  tests/jerry/arguments.js
Labels: pre-scanner

#3305 Implement array/object destructuring
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-lexer.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-module.c
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.h
  jerry-core/parser/js/js-scanner-internal.h
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
  jerry-core/parser/js/js-scanner.h
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es2015/array-pattern.js
  tests/jerry/es2015/object-pattern.js
  tests/unit-core/test-snapshot.c
Labels: ES2015, interpreter, parser, pre-scanner

#3311 Fix ecma_op_get_value_lex_env_base for let/const declarations
  jerry-core/ecma/operations/ecma-get-put-value.c
  tests/jerry/es2015/regression-test-issue-3306.js
Labels: bug, ecma core

#3312 Improve delete property with undefined base
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/vm/opcodes.c
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es2015/regression-test-issue-2891.js
Labels: ES2015, feature request

#3316 Don't upload artifacts to AppVeyor
  appveyor.yml
Labels: infrastructure

#3317 Fix the usage of escaped identifiers in scanner_scope_find_let_declaration
  jerry-core/parser/js/js-scanner-util.c
  tests/jerry/regression-test-issue-3313.js
Labels: bug, pre-scanner

#3319 Update the webpage
  01.CONFIGURATION.md
  02.API-REFERENCE.md
Labels: documentation

#3320 Fix the initialization of let/const patterns when block context is needed
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.h
  jerry-core/parser/js/js-scanner.c
  tests/jerry/es2015/array-pattern.js
  tests/jerry/es2015/object-pattern.js
Labels: parser, pre-scanner

#3318 Introduce parser statement flags
  jerry-core/parser/js/js-parser-statm.c
Labels: enhancement, parser

#3323 Reorganize ecma_gc_free_object
  jerry-core/ecma/base/ecma-gc.c
Labels: gc

#3322 Implement function destructuring argument support.
  jerry-core/api/jerry-snapshot.c
  jerry-core/ecma/base/ecma-literal-storage.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-objects-arguments.c
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-scanner-internal.h
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
  jerry-core/parser/js/js-scanner.h
  jerry-core/vm/vm.c
  tests/jerry/es2015/function-param-init2.js
  tests/jerry/es2015/function-pattern1.js
  tests/jerry/es2015/function-pattern2.js
  tests/jerry/es2015/function-rest-parameter.js
  tests/unit-core/test-snapshot.c
Labels: ES2015, parser, pre-scanner

#3307 Implement Symbol.isConcatSpreadable
  jerry-core/ecma/base/ecma-helpers-value.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-array.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-objects.h
  tests/jerry/es2015/symbol-isconcatspreadable.js
Labels: ES2015, ecma builtins

#3329 Implement spread operator for function call arguments
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-scanner.c
  jerry-core/vm/opcodes.c
  jerry-core/vm/opcodes.h
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es2015/argument-spread.js
Labels: ES2015, parser

#3331 Add missing macro guard for jerry_generate_snapshot_with_args
  jerry-core/api/jerry-snapshot.c
Labels: bug, snapshot

#3332 Fix fast array array hole initialization
  jerry-core/ecma/operations/ecma-array-object.c
Labels: bug

#3326 Add validation for single statement lexical declarations
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.h
  tests/jerry/es2015/let12.js
  tests/jerry/es5.1/regression-test-issue-3151-function.js
  tests/jerry/fail/regression-test-issue-3276.js
  tests/jerry/fail/regresssion-test-issue-3275.js
Labels: ES2015, parser

#3330 Improve eval call parsing.
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-scanner.c
  tests/jerry/es2015/arrow-function.js
  tests/jerry/eval.js
Labels: enhancement, parser

#3333 Eliminate the allocation of spread object
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/operations/ecma-spread-object.c
  jerry-core/ecma/operations/ecma-spread-object.h
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/vm/opcodes.c
  jerry-core/vm/opcodes.h
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
Labels: enhancement

#3328 Implement WeakMap and WeakSet
  jerry-core/config.h
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-global.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-map-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-weakmap-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-weakmap-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-weakmap.c
  jerry-core/ecma/builtin-objects/ecma-builtin-weakmap.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-weakset-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-weakset-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-weakset.c
  jerry-core/ecma/builtin-objects/ecma-builtin-weakset.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtins.inc.h
  jerry-core/ecma/operations/ecma-container-object.c
  jerry-core/ecma/operations/ecma-container-object.h
  jerry-core/lit/lit-magic-strings.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  tests/jerry/es2015/weakmap.js
  tests/jerry/es2015/weakset.js
Labels: ES2015, ecma builtins

#3321 Implement IsRegExp operation
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-objects.h
  tests/jerry/es2015/regexp-construct.js
  tests/jerry/es2015/string-prototype-endswith.js
  tests/jerry/es2015/string-prototype-includes.js
  tests/jerry/es2015/string-prototype-startswith.js
  tests/jerry/es5.1/regexp-construct.js
  tests/jerry/regexp-construct.js
Labels: ES2015

#3335 Throw error for using rest parameter in property setter
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-parser.h
  tests/jerry/es2015/function-rest-parameter.js
Labels: ES2015, parser

#3339 Improve RegExp compatibility with web browsers
  jerry-core/parser/regexp/re-parser.c
  tests/jerry/regexp-web-compatibility.js
Labels: ecma builtins

#3336 Arrow functions should be parsed as assignment expressions.
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.h
  tests/jerry/es2015/arrow-function.js
  tests/jerry/es2015/regression-test-issue-2825.js
Labels: ES2015, parser

#3337 Add iterator close support for array destructuring
  jerry-core/ecma/operations/ecma-iterator-object.c
  jerry-core/ecma/operations/ecma-iterator-object.h
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-objects.h
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es2015/array-pattern.js
  tests/unit-core/test-snapshot.c
Labels: ES2015

#3338 Support ES6 based octal literals
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.h
  tests/jerry/es2015/octal-literal.js
Labels: ES2015, parser

#3344 Improve the performance of the interpreter.
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/vm/vm-defines.h
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
Labels: interpreter, performance

#3342 Properly handle primitive arguments in Object methods
  jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object.h
  jerry-core/ecma/builtin-objects/ecma-builtin-reflect.c
  tests/jerry/es2015/object-get-own-property-symbols.js
  tests/jerry/es2015/object-methods.js
  tests/jerry/es5.1/object-methods.js
  tests/jerry/object-defineproperty.js
  tests/jerry/object-get-own-property-names.js
  tests/jerry/object-is-extensible.js
  tests/jerry/object-keys.js
Labels: ES2015, ecma builtins

#3343 Fix weakrefs when adding a key to the same container multiple times
  jerry-core/ecma/builtin-objects/ecma-builtin-weakmap-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-weakset-prototype.c
  jerry-core/ecma/operations/ecma-container-object.c
  jerry-core/ecma/operations/ecma-container-object.h
  tests/jerry/es2015/weakmap.js
  tests/jerry/es2015/weakset.js
Labels: ES2015, bug, ecma builtins

#3340 Support get/set as property name in object literal
  jerry-core/parser/js/js-lexer.c
  tests/jerry/es2015/object-initializer.js
Labels: parser

#3358 Fix class name check for WeakMap and WeakSet prototype
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/es2015/weakmap.js
  tests/jerry/es2015/weakset.js
Labels: ES2015, bug, ecma builtins

#3354 Fix Reflect.getPrototypeOf for primitive arguments
  jerry-core/ecma/builtin-objects/ecma-builtin-reflect.c
  tests/jerry/es2015/reflect-getPrototypeOf.js
Labels: ES2015, bug, ecma builtins

#3353 Fix refcount when returning with the argument in Object built-ins
  jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  tests/jerry/es2015/object-methods.js
Labels: ES2015, bug, ecma builtins

#3362 Fix adding fast arrays as keys to a weak container
  jerry-core/ecma/operations/ecma-container-object.c
  tests/jerry/es2015/weakmap.js
  tests/jerry/es2015/weakset.js
Labels: ES2015, bug, ecma builtins

#3314 Make Date.parse() ECMA-262 conform
  jerry-core/ecma/builtin-objects/ecma-builtin-date.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers-date.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.h
  tests/jerry/date-parse.js
  tests/jerry/date-tostring.js
Labels: ecma builtins

#3366 Fix the assertion for VM_OC_EVAL.
  jerry-core/vm/vm.c
  tests/jerry/es2015/regression-test-issue-3364.js
Labels: ES2015, bug, interpreter

#3367 Fix the scanning of default array/object literals.
  jerry-core/parser/js/js-scanner.c
  tests/jerry/es2015/regression-test-issue-3360.js
Labels: ES2015, bug, pre-scanner

#3369 Fix the order of the function arguments for spread operation
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/vm/opcodes.c
  jerry-core/vm/opcodes.h
  jerry-core/vm/vm.c
  tests/jerry/es2015/argument-spread.js
Labels: ES2015, bug, interpreter

#3365 Fix this property reference on assignment patterns
  jerry-core/parser/js/js-parser-expr.c
  tests/jerry/es2015/regression-test-issue-3348.js
Labels: ES2015, bug, parser

#3370 Rework register reference in the vm.
  jerry-core/vm/vm.c
Labels: interpreter, performance

#3345 Implement Regexp.prototype[@@match] method
  jerry-core/ecma/base/ecma-helpers-string.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.inc.h
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/ecma/operations/ecma-regexp-object.h
  tests/jerry/es2015/regexp-prototype-match.js
Labels: ES2015, ecma builtins

#3346 Fix value release in ecma_op_is_concat_spreadable
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/es2015/regression-test-issue-3356.js
  tests/jerry/es2015/regression-test-issue-3361.js
Labels: ES2015, bug

#3371 Fix the handling of unresolvable reference in VM_OC_TYPEOF_IDENT
  jerry-core/vm/vm.c
  tests/jerry/es2015/regression-test-issue-3363.js
Labels: bug, interpreter

#3368 Implement the core of the generator functions.
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers-value.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-generator-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-generator-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtins.inc.h
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-parser.h
  jerry-core/parser/js/js-scanner-internal.h
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
  jerry-core/profiles/README.md
  jerry-core/vm/opcodes.c
  jerry-core/vm/opcodes.h
  jerry-core/vm/vm-defines.h
  jerry-core/vm/vm-stack.c
  jerry-core/vm/vm-stack.h
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es2015/generator-return.js
  tests/jerry/es2015/generator-throw.js
  tests/jerry/es2015/generator-yield.js
  tests/jerry/es2015/generator.js
  tests/unit-core/test-snapshot.c
Labels: ES2015

#3379 Implement RegExp unicode and sticky flags
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.h
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/ecma/operations/ecma-regexp-object.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/regexp/re-bytecode.c
  jerry-core/parser/regexp/re-compiler.c
  tests/jerry/es2015/regexp-flags.js
  tests/jerry/es2015/regexp-routines.js
Labels: ES2015, ecma builtins

#3385 Fix exception handling in ecma_op_create_promise_object
  jerry-core/ecma/operations/ecma-promise-object.c
  tests/jerry/es2015/regression-test-issue-3376.js
Labels: ES2015, bug

#3382 Support assignment expressions in the pre-scanner.
  jerry-core/parser/js/js-scanner.c
  tests/jerry/es2015/arrow-assignment.js
  tests/jerry/es2015/arrow-function.js
  tests/jerry/es2015/regression-test-issue-3355.js
Labels: pre-scanner

#3386 Allow lexical function declaration in labeled statements.
  jerry-core/parser/js/js-parser-statm.c
  tests/jerry/es2015/regression-test-issue-3381.js
Labels: bug, parser
