Repository jerryscript-project/jerryscript, pull requests merged in 2019-10, with the labels that each got.

#3180 Cleanup Valgrind macros
  jerry-core/jmem/jmem-heap.c
Labels: memory management

#3069 Get rid of strict aliasing rule violations from libm
  jerry-libm/acos.c
  jerry-libm/asin.c
  jerry-libm/atan2.c
  jerry-libm/ceil.c
  jerry-libm/copysign.c
  jerry-libm/exp.c
  jerry-libm/fabs.c
  jerry-libm/floor.c
  jerry-libm/fmod.c
  jerry-libm/jerry-libm-internal.h
  jerry-libm/log.c
  jerry-libm/nextafter.c
  jerry-libm/pow.c
  jerry-libm/scalbn.c
  jerry-libm/sqrt.c
  jerry-libm/trig.c
Labels: jerry-libm

#3183 Update the webpage
  01.CONFIGURATION.md
  02.API-REFERENCE.md
  03.API-EXAMPLE.md
  07.DEBUGGER.md
  10.EXT-REFERENCE-HANDLER.md
  11.EXT-REFERENCE-AUTORELEASE.md
  12.EXT-REFERENCE-MODULE.md
Labels: documentation

#3178 Fix duplicated argument validation for default arguments
  jerry-core/parser/js/js-parser.c
  tests/jerry/es2015/function-param-init.js
Labels: bug, parser

#3176 Fix argument validation for Number.prototype.toPrecision
  jerry-core/ecma/builtin-objects/ecma-builtin-number-prototype.c
  tests/jerry/fail/regression-test-issue-3173.js
Labels: bug, ecma builtins

#3185 Fix python build `--mem-heap` document
  docs/01.CONFIGURATION.md
Labels: documentation

#3179 Fix class/function parsing in single-statement blocks
  jerry-core/parser/js/js-parser-statm.c
  tests/jerry/es2015/regression-test-issue-3151-class.js
  tests/jerry/fail/regression-test-issue-3174.js
  tests/jerry/regression-test-issue-3151-function.js
Labels: bug, parser

#3163 Make ecma_number_make_nan more optimal and C99 conform
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers-number.c
  jerry-core/ecma/base/ecma-helpers-value.c
Labels: ecma core

#3159 Reduce code duplication in js-parser-expr.c
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser.c
  tests/unit-core/test-snapshot.c
Labels: binary size, parser

#3023 Improve TypedArray get/set
  jerry-core/api/jerry.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-dataview-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtins.inc.h
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-float32array.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-float64array.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-int16array.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-int32array.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-int8array.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-helpers.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-helpers.h
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-uint16array.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-uint32array.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-uint8array.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-uint8clampedarray.c
  jerry-core/ecma/operations/ecma-dataview-object.c
  jerry-core/ecma/operations/ecma-dataview-object.h
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-typedarray-object.c
  jerry-core/ecma/operations/ecma-typedarray-object.h
Labels: ES2015, enhancement

#3136 Refactor RegExp builtin
  jerry-core/api/jerry-snapshot.c
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp.c
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/ecma/operations/ecma-regexp-object.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  jerry-core/parser/regexp/re-bytecode.c
  jerry-core/parser/regexp/re-bytecode.h
  jerry-core/parser/regexp/re-compiler.c
  jerry-core/parser/regexp/re-compiler.h
  jerry-core/parser/regexp/re-parser.c
  jerry-core/parser/regexp/re-parser.h
  tests/jerry/es2015/regexp-lastindex.js
  tests/jerry/es2015/regression-test-issue-782.js
  tests/jerry/es5.1/regexp-lastindex.js
  tests/jerry/es5.1/regression-test-issue-312.js
  tests/jerry/regexp-assertions.js
Labels: ecma builtins, enhancement, performance

#3194 Do not add line info into the merged sources by default
  tools/srcmerger.py
Labels: tools

#3193 Improve example REPL to exit if there is nothing on the stdin
  jerry-main/main-unix.c
Labels: tools

#3192 Fix null escape in character classes
  jerry-core/parser/regexp/re-compiler.c
  tests/jerry/regexp-character-class.js
Labels: bug, ecma builtins

#3189 Fix typos "enumberable" -> "enumerable"
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/operations/ecma-array-object.c
  jerry-core/ecma/operations/ecma-objects-general.c
Labels: minor

#3188 Remove test-longjmp.c
  tests/unit-core/test-longjmp.c
Labels: test

#3196 Make Date.parse handle 24:00:00.000 time properly
  jerry-core/ecma/builtin-objects/ecma-builtin-date.c
  tests/jerry/date-parse.js
Labels: ecma builtins

#3182 Remove abort-on-fail from the default port
  jerry-main/main-unix.c
  jerry-port/default/default-fatal.c
  jerry-port/default/include/jerryscript-port-default.h
Labels: infrastructure

#3181 Fix an undefined read during module cleanup after parse error
  jerry-core/ecma/base/ecma-module.c
  jerry-core/ecma/base/ecma-module.h
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-module.c
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser.c
Labels: ES2015, bug

#3184 Use a string builder in Array.prototype.join and toLocaleString
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
Labels: ecma builtins

#3146 Add toLength and toInteger operations
  jerry-core/ecma/operations/ecma-conversion.c
  jerry-core/ecma/operations/ecma-conversion.h
  tests/unit-core/test-number-to-int32.c
  tests/unit-core/test-to-integer.c
  tests/unit-core/test-to-length.c
Labels: ES2015

#3198 Remove superfluous include
  jerry-port/default/default-module.c
Labels: minor

#3197 Fix the include format of math.h
  jerry-core/ecma/builtin-objects/ecma-builtin-number.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
Labels: minor, style

#3191 Improve documentation on native pointer API methods
  docs/02.API-REFERENCE.md
Labels: documentation

#3158 Fix count variable calculation in typedarray copyWithin
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
Labels: ES2015, bug

#3202 Add support for Symbols when using the 'in' operation
  jerry-core/vm/opcodes-ecma-relational-equality.c
  tests/jerry/es2015/symbol-in.js
Labels: ES2015

#3203 Fix delete operation in Set objects
  jerry-core/ecma/operations/ecma-container-object.c
  tests/jerry/es2015/set.js
Labels: ES2015, bug

#3200 Add missing value release in typedArray toLocaleString
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  tests/jerry/es2015/regression-test-issue-3162.js
Labels: ES2015, bug

#3206 Remove ARTIK 053 from the targets.
  .travis.yml
  cmake/toolchain_mcu_artik053.cmake
  targets/tizenrt-artik053/Makefile.tizenrt
  targets/tizenrt-artik053/Makefile.travis
  targets/tizenrt-artik053/README.md
  targets/tizenrt-artik053/apps/jerryscript/Kconfig
  targets/tizenrt-artik053/apps/jerryscript/Make.defs
  targets/tizenrt-artik053/apps/jerryscript/Makefile
  targets/tizenrt-artik053/apps/jerryscript/jerry_main.c
  targets/tizenrt-artik053/apps/jerryscript/setjmp.S
  targets/tizenrt-artik053/apps/jerryscript/setjmp.h
  targets/tizenrt-artik053/configs/jerryscript/Make.defs
  targets/tizenrt-artik053/configs/jerryscript/defconfig
Labels: infrastructure

#3209 Fix handle-scope unittest force convertion complains
  tests/unit-ext/test-ext-handle-scope-nested.c
Labels: bug

#3205 Improve ecma_typedarray_info_t
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-typedarray-object.c
  tests/jerry/es2015/regression-test-issue-3204.js
Labels: bug, enhancement

#3211 Properly release scanner info in parser_parse_for_statement_start
  jerry-core/parser/js/js-parser-statm.c
Labels: bug, critical, pre-scanner

#3215 Set post-processing mode after an arrow expression scanning is completed
  jerry-core/parser/js/js-scanner.c
  tests/jerry/fail/regression-test-issue-3214.js
Labels: bug, pre-scanner

#3217 Remove ECMA_PROPERTY_HASHMAP_SHIFT_LIMIT
  jerry-core/ecma/base/ecma-property-hashmap.c
Labels: bug

#3201 Add Array.prototype.fill method
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.inc.h
  jerry-core/lit/lit-magic-strings.inc.h
  tests/jerry/es2015/array-prototype-fill.js
Labels: ES2015

#3187 Optimize array push/pop for fast-array cases
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/operations/ecma-array-object.c
  jerry-core/ecma/operations/ecma-array-object.h
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/vm/vm-utils.c
Labels: enhancement, performance

#3208 Add ArrayBuffer detach operations
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/ecma/builtin-objects/ecma-builtin-arraybuffer-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-dataview-prototype.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  jerry-core/ecma/operations/ecma-arraybuffer-object.c
  jerry-core/ecma/operations/ecma-arraybuffer-object.h
  jerry-core/ecma/operations/ecma-dataview-object.c
  jerry-core/ecma/operations/ecma-typedarray-object.c
  jerry-core/include/jerryscript-core.h
  tests/unit-core/test-arraybuffer.c
Labels: ES2015, api

#3190 Add missing error checks to API functions
  jerry-core/api/jerry.c
Labels: api

#3223 Remove duplicated error raising in ecma_op_typedarray_set_with_typedarray
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  tests/jerry/es2015/regression-test-issue-3222.js
Labels: ES2015, bug

#3199 Create function variables using the data produced by the pre-scanner.
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/common.c
  jerry-core/parser/js/common.h
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-limits.h
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-parser.h
  jerry-core/parser/js/js-scanner-internal.h
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
  jerry-core/parser/js/js-scanner.h
  jerry-core/vm/vm.c
  tests/debugger/do_variables.expected
  tests/jerry/regression-test-issue-1555.js
  tests/unit-core/test-snapshot.c
Labels: parser, pre-scanner

#3226 Add @@hasInstance Symbol support for instanceof operator
  jerry-core/vm/opcodes-ecma-relational-equality.c
  tests/jerry/es2015/instanceof-symbol-hasinstance-class.js
  tests/jerry/es2015/instanceof-symbol-hasinstance.js
Labels: ES2015

#3225 Implement ES2015 Function.prototype[@@hasInstance]
  jerry-core/ecma/builtin-objects/ecma-builtin-function-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-function-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers-macro-defines.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers-macro-undefs.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-internal-routines-template.inc.h
  tests/jerry/es2015/function-prototype-hasinstance-class.js
  tests/jerry/es2015/function-prototype-hasinstance.js
Labels: ES2015

#3234 Extend the API documentation for jerry_create_string_* functions
  docs/02.API-REFERENCE.md
  jerry-core/lit/lit-strings.c
Labels: documentation

#3036 Implement Reflect object
  jerry-core/config.h
  jerry-core/ecma/builtin-objects/ecma-builtin-function-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-function-prototype.h
  jerry-core/ecma/builtin-objects/ecma-builtin-global.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object.h
  jerry-core/ecma/builtin-objects/ecma-builtin-reflect.c
  jerry-core/ecma/builtin-objects/ecma-builtin-reflect.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtins.inc.h
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  tests/jerry/es2015/reflect-apply.js
  tests/jerry/es2015/reflect-define-Property.js
  tests/jerry/es2015/reflect-get-own-property-description.js
  tests/jerry/es2015/reflect-getPrototypeOf.js
  tests/jerry/es2015/reflect-isextensible.js
  tests/jerry/es2015/reflect-preventextensions.js
  tests/jerry/es2015/reflect-setPrototypeOf.js
Labels: ES2015, ecma builtins

#3227 Update the webpage
  01.CONFIGURATION.md
  02.API-REFERENCE.md
  05.PORT-API.md
  15.MODULE-SYSTEM.md
Labels: documentation

#3210 Refactor code to use ToLength
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  jerry-core/ecma/operations/ecma-dataview-object.c
  jerry-core/ecma/operations/ecma-typedarray-object.c
  tests/jerry/array-prototype-push.js
  tests/jerry/es5.1/array-prototype-push.js
Labels: ES2015

#3221 General GC optimizations
  docs/01.CONFIGURATION.md
  jerry-core/CMakeLists.txt
  jerry-core/config.h
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/ecma/base/ecma-init-finalize.c
  jerry-core/jcontext/jcontext.h
  tools/build.py
  tools/run-tests.py
Labels: enhancement, gc, performance

#3230 Fix error type when creating TypedArray with detached ArrayBuffer
  jerry-core/ecma/operations/ecma-typedarray-object.c
  tests/unit-core/test-typedarray.c
Labels: ES2015, bug

#3238 Sort function breakpoints before enabling them
  jerry-debugger/jerry_client_main.py
Labels: bug, debugger

#3244 Fix integer overflow during byteLength calculation for %TypedArray%s
  jerry-core/ecma/operations/ecma-typedarray-object.c
  tests/jerry/es2015/regression-test-issue-3243.js
Labels: bug, ecma builtins

#3246 Fix lazy instantiation of external functions 'prototype' property
  jerry-core/ecma/operations/ecma-function-object.c
  tests/jerry/function-external.js
  tests/jerry/regression-test-issue-736.js
  tests/unit-core/test-native-instanceof.c
Labels: bug, ecma core

#3171 Refactor ecma_op_to_string
  jerry-core/api/jerry-snapshot.c
  jerry-core/api/jerry.c
  jerry-core/debugger/debugger.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-date.c
  jerry-core/ecma/builtin-objects/ecma-builtin-error-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-function.c
  jerry-core/ecma/builtin-objects/ecma-builtin-global.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers-error.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string.c
  jerry-core/ecma/builtin-objects/ecma-builtin-symbol.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  jerry-core/ecma/operations/ecma-conversion.c
  jerry-core/ecma/operations/ecma-conversion.h
  jerry-core/ecma/operations/ecma-exceptions.c
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/ecma/operations/ecma-regexp-object.h
  jerry-core/ecma/operations/ecma-string-object.c
  jerry-core/ecma/operations/ecma-symbol-object.c
  jerry-core/vm/opcodes-ecma-arithmetics.c
Labels: ecma core, enhancement

#3251 Arrow functions prototype property should not be lazy instantiated
  jerry-core/ecma/operations/ecma-function-object.c
  tests/jerry/es2015/regression-test-issue-3250.js
Labels: bug

#3186 Introduce new Promise API methods
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/ecma/operations/ecma-promise-object.c
  jerry-core/ecma/operations/ecma-promise-object.h
  jerry-core/include/jerryscript-core.h
  tests/unit-core/test-api-promise.c
Labels: ES2015, api, ecma builtins

#3257 Fix wrong error handling in ecma_builtin_function_helper_get_function_arguments
  jerry-core/ecma/builtin-objects/ecma-builtin-function.c
  tests/jerry/es2015/regression-test-issue-3252.js
Labels: bug

#3256 Export statement parsing should construct new ident literal
  jerry-core/parser/js/js-parser-module.c
  tests/jerry/fail/regression-test-issue-3253-1.js
  tests/jerry/fail/regression-test-issue-3253-2.js
Labels: bug, parser

#3249 Add arithmetic operations support for the API
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  jerry-core/vm/opcodes-ecma-arithmetics.c
  jerry-core/vm/opcodes.h
  jerry-core/vm/vm.c
  tests/unit-core/test-api-binary-operations-arithmetics.c
Labels: api

#3232 Fix issue about Number.prototype.toString
  jerry-core/ecma/builtin-objects/ecma-builtin-number-prototype.c
  tests/jerry/regression-test-issue-3229.js
Labels: bug, ecma builtins

#3245 Introduce ecma_op_object_get_length and ecma_op_object_get_by_index operations
  jerry-core/api/jerry.c
  jerry-core/debugger/debugger.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-array-iterator-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array.c
  jerry-core/ecma/builtin-objects/ecma-builtin-function-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  jerry-core/ecma/operations/ecma-array-object.c
  jerry-core/ecma/operations/ecma-array-object.h
  jerry-core/ecma/operations/ecma-container-object.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-function-object.h
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-objects.h
  jerry-core/ecma/operations/ecma-typedarray-object.c
  jerry-core/ecma/operations/ecma-typedarray-object.h
  jerry-core/vm/vm.c
Labels: binary size, enhancement, performance

#3248 Rework array hole calculation for fast access mode arrays
  jerry-core/api/jerry.c
  jerry-core/debugger/debugger.c
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers-external-pointers.c
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/ecma/base/ecma-init-finalize.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/ecma/operations/ecma-array-object.c
  jerry-core/ecma/operations/ecma-array-object.h
  jerry-core/ecma/operations/ecma-container-object.c
  jerry-core/ecma/operations/ecma-objects-general.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/vm/opcodes.c
  jerry-core/vm/opcodes.h
  jerry-core/vm/vm-utils.c
  jerry-core/vm/vm.c
Labels: enhancement

#3213 Optimize array slice for fast-array cases
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
Labels: enhancement, performance

#3233 Optimize array indexOf/lastIndexOf for fast-array cases
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
Labels: ecma builtins, performance

#3235 Optimize array shift/unshift for fast-array cases
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
Labels: ecma builtins, performance

#3266 Support \u200C \u200D unicode characters
  jerry-core/lit/lit-unicode-ranges.inc.h
  tests/jerry/unicode-format-control-characters.js
  tools/gen-unicode.py
Labels: bug, parser

#3258 Add Number.{EPSILON, {MAX,MIN}_SAFE_INTEGER} to the builtin descriptor
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-number.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtins-internal.h
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  tests/jerry/es2015/number-constants.js
Labels: ES2015
