Repository jerryscript-project/jerryscript, pull requests merged in 2019-09, with the labels that each got.

#3030 Add symbol support to same value function
  jerry-core/ecma/operations/ecma-conversion.c
Labels: ES2015

#3033 Skip fast access arrays during hashmap frees
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/operations/ecma-array-object.c
Labels: bug, critical

#3047 Prevent fast access mode arrays from low-level property management methods
  jerry-core/ecma/base/ecma-helpers-external-pointers.c
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/operations/ecma-array-object.c
  jerry-core/ecma/operations/ecma-container-object.c
  jerry-core/ecma/operations/ecma-objects-general.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/vm/opcodes.c
  jerry-core/vm/vm.c
  tests/jerry/es2015/regression-test-issue-3043-3046.js
  tests/jerry/es2015/regression-test-issue-3045.js
Labels: bug, critical, ecma core

#3031 Refactor JSON builtin methods
  jerry-core/ecma/base/ecma-helpers-string.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers-json.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  jerry-core/jmem/jmem-heap.c
Labels: ecma builtins, enhancement, memory consumption, performance

#3052 Property release the callback result in Array.prototype.[find/findIndex]
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  tests/jerry/es2015/regression-test-issue-3049.js
Labels: ES2015, bug

#2984 Add copyWithin and slice functions to TypedArray
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.inc.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  tests/jerry/es2015/typedarray-prototype-copy-within.js
  tests/jerry/es2015/typedarray-prototype-slice.js
Labels: ES2015, ecma builtins

#3053 Add fast array support for property name enumeration
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/es2015/regression-test-issue-3050.js
Labels: bug, ecma core

#3054 Properly handle CBC_PUSH_THIS_LITERAL for unary lvalue operations
  jerry-core/parser/js/js-parser-expr.c
  tests/jerry/regression-test-issue-3048.js
Labels: bug, parser

#3061 Fix array hole calculation for fast access mode arrays
  jerry-core/ecma/operations/ecma-array-object.c
  tests/jerry/regression-test-issue-3060.js
Labels: bug, ecma core

#3051 Add backtrace print when the 'assert' js method fails
  docs/10.EXT-REFERENCE-HANDLER.md
  jerry-ext/handler/handler-assert.c
Labels: jerry-ext, test

#3077 Correctly propagate super prop ref when parsing expressions
  jerry-core/parser/js/js-parser-expr.c
  tests/jerry/es2015/regression-test-issue-3067.js
Labels: bug, ecma core

#3066 Limit the constructed string size in String.prototype.repeat
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  tests/jerry/es2015/regression-test-issue-3063.js
Labels: ES2015, bug

#3080 Fix TypedArray.slice with external array buffer
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  tests/jerry/es2015/regression-test-issue-3078.js
  tests/jerry/es2015/typedarray-prototype-slice-ext-arraybuffer.js
Labels: ES2015, bug, ecma builtins

#3056 Properly decode literal index before CBC_MOV_IDENT
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser.c
  jerry-core/vm/vm.c
  tests/jerry/regression-test-issue-3055.js
Labels: bug, parser

#3083 Fix JSON.stringify for non-serializable properties
  jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  tests/jerry/regression-test-issue-3082.js
Labels: bug, ecma builtins

#3081 Fix the internal object reference count in Map/Set.prototype.forEach
  jerry-core/ecma/operations/ecma-container-object.c
  tests/jerry/es2015/regression-test-issue-3079.js
Labels: ES2015, bug

#3076 Fix array initialization with array holes
  jerry-core/ecma/operations/ecma-array-object.c
  jerry-core/ecma/operations/ecma-array-object.h
  jerry-core/vm/vm.c
  tests/jerry/regression-test-issue-3072.js
Labels: bug, ecma core

#3074 Fix byteLength validation in DataView constructor
  jerry-core/ecma/operations/ecma-dataview-object.c
  tests/jerry/es2015/regression-test-issue-3072.js
Labels: ES2015, bug

#3073 Fix fast access mode arrays delete property operation
  jerry-core/ecma/operations/ecma-array-object.c
  tests/jerry/regression-test-issue-3068.js
Labels: bug, ecma core

#3065 Ensure that Map/Set object keys can always have MAP_KEY_STRING internal property
  jerry-core/ecma/operations/ecma-container-object.c
  tests/jerry/es2015/regression-test-issue-3062.js
Labels: ES2015, bug

#3085 Fix String.prototype.repeat for empty strings
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  tests/jerry/es2015/regression-test-issue-3084.js
Labels: ES2015, bug

#3087 Keep GC object list in the order of traversal
  jerry-core/ecma/base/ecma-gc.c
Labels: enhancement, performance

#3038 Scanner rework.
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-lexer.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-mem.c
  jerry-core/parser/js/js-parser-scanner.c
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
  jerry-core/parser/js/js-scanner.h
  tests/jerry/es2015/arrow-function.js
  tests/jerry/es2015/module-export-01.js
  tests/jerry/es2015/module-export-02.js
  tests/jerry/es2015/module-export-03.js
  tests/jerry/es2015/module-export-04.js
  tests/jerry/es2015/module-export-05.js
  tests/jerry/es2015/module-export-06.js
  tests/jerry/es2015/module-export-07.js
  tests/jerry/es2015/module-import-01.js
  tests/jerry/es2015/module-import-02.js
  tests/jerry/es2015/module-import-03.js
  tests/jerry/es2015/module-import-04.js
  tests/jerry/regression-test-issue-1555.js
Labels: parser

#3093 Fix pre-scanner function name parsing.
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-lexer.h
  jerry-core/parser/js/js-scanner.c
  tests/jerry/es2015/class.js
Labels: bug, critical

#2987 Add toLocaleString for TypedArrays
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.inc.h
  tests/jerry/es2015/typedarray-prototype-tolocalestring.js
Labels: ES2015, ecma builtins

#3103 Implement var statement pre-scanning.
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-scanner-internal.h
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
  tests/jerry/es2015/class.js
  tests/jerry/es2015/function-rest-parameter.js
  tests/jerry/es2015/module-export-01.js
  tests/jerry/es2015/module-export-02.js
  tests/jerry/es2015/module-export-03.js
  tests/jerry/es2015/module-export-04.js
  tests/jerry/es2015/module-export-05.js
  tests/jerry/es2015/module-export-06.js
  tests/jerry/es2015/module-export-07.js
  tests/jerry/es2015/module-import-01.js
  tests/jerry/es2015/module-import-02.js
  tests/jerry/es2015/module-import-03.js
  tests/jerry/es2015/module-import-04.js
Labels: parser

#3113 Add string iterator to ecma_object_check_class_name_is_object function
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/fail/regression-test-issue-3112.js
Labels: ES2015, bug

#3111 Fix overflow in ecma_op_dataview_create
  jerry-core/ecma/operations/ecma-dataview-object.c
  tests/jerry/es2015/regression-test-issue-3109.js
Labels: ES2015, bug

#3124 Fix skipping empty statements during class literal scanning
  jerry-core/parser/js/js-scanner.c
  tests/jerry/es2015/regression-test-issue-3123.js
Labels: bug, parser

#3115 Fix [[Delete]] operation for fast arrays.
  jerry-core/ecma/operations/ecma-array-object.c
  tests/jerry/es2015/regression-test-issue-3106.js
Labels: bug

#3116 Fix string size calculation in builtin string repeat
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  tests/jerry/es2015/regression-test-issue-3105.js
Labels: ES2015, bug

#3118 Fix incorrect assertion while decoding the literal argument index
  jerry-core/parser/js/js-parser.c
  tests/jerry/regression-test-issue-3114.js
Labels: bug, parser

#3120 Class expression scanning must be continued with post primary expression scanning.
  jerry-core/parser/js/js-scanner.c
  tests/jerry/fail/regression-test-issue-3117.js
  tests/jerry/fail/regression-test-issue-3119.js
Labels: bug, parser

#3125 Fix stack overflow in unit-core/test-api.c
  tests/unit-core/test-api.c
Labels: bug, test

#3126 Implement seeking in the pre-scanner info.
  jerry-core/parser/js/js-lexer.h
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-scanner-util.c
  tests/jerry/fail/regression-test-issue-3101.js
  tests/jerry/fail/regression-test-issue-3102.js
  tests/jerry/prescanner.js
Labels: pre-scanner

#3138 There is no need to update the scanner info chain after a for/while statement.
  jerry-core/parser/js/js-parser-statm.c
  tests/jerry/fail/regression-test-issue-3131.js
  tests/jerry/switch-case.js
Labels: bug, critical

#3141 Free scanner info even if for statement parsing is failed.
  jerry-core/parser/js/js-parser-statm.c
  tests/jerry/fail/regression-test-issue-3140.js
Labels: bug

#3150 Colon tokens are not optional.
  jerry-core/parser/js/js-scanner.c
  tests/jerry/fail/regresssion-test-issue-3145.js
Labels: bug

#3153 Fix comma after an arrow function.
  jerry-core/parser/js/js-scanner.c
  tests/jerry/fail/regresssion-test-issue-3152.js
Labels: bug, pre-scanner

#3160 Temporary fix for ESP8266 target on Travis
  targets/esp8266/Makefile.travis
Labels: critical, infrastructure

#3157 Make all test262 tests pass on Windows
  jerry-port/default/default-date.c
  tools/runners/run-test-suite-test262.py
Labels: tools, windows

#3156 Add new check for a special corner case to typedarray lastIndexOf
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  tests/jerry/es2015/regression-test-issue-3129.js
Labels: ES2015, bug

#3155 Optimize lcache insert
  jerry-core/ecma/base/ecma-lcache.c
  jerry-core/ecma/base/ecma-lcache.h
Labels: performance

#3154 Inline ecma_gc_set_object_visited for performance critical code paths
  jerry-core/ecma/base/ecma-gc.c
Labels: performance
