Repository jerryscript-project/jerryscript, pull requests merged in 2020-01, with the labels that each got.

#3482 Fix freeing `this_arg` in `ecma_builtin_promise_race_or_all`
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.c
  tests/jerry/es2015/regression-test-issue-3478.js
Labels: bug

#3474 Remove lexer_process_char_literal function.
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-mem.c
  tests/jerry/large_literal.js
Labels: parser

#3480 Add fast-path check to ecma_builtin_array_prototype_slice
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  tests/jerry/es2015/regression-test-issue-3459.js
Labels: bug

#3475 Create a new file for scanner operations.
  jerry-core/parser/js/js-scanner-internal.h
  jerry-core/parser/js/js-scanner-ops.c
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
Labels: pre-scanner

#3486 Refactor ecma_op_same_value
  jerry-core/ecma/base/ecma-helpers-value.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/operations/ecma-conversion.c
Labels: ecma core

#3484 Refactor ecma_regexp_exec_helper arguments
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.c
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/ecma/operations/ecma-regexp-object.h
Labels: enhancement

#3487 Fix Array.prototype.reduce and reduceRight
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.inc.h
  tests/jerry/array-prototype-reduce-right.js
  tests/jerry/array-prototype-reduce.js
Labels: bug

#3491 Fix value release in ecma_builtin_typedarray_prototype_map
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  tests/jerry/es2015/regression-test-issue-3485.js
Labels: ES2015, bug

#3489 Throw error for generator function class constructor
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.h
  tests/jerry/es2015/class.js
Labels: ES2015, enhancement

#3476 Add unscopables check to ecma_op_get_value_lex_env_base
  jerry-core/ecma/operations/ecma-get-put-value.c
  jerry-core/ecma/operations/ecma-reference.c
  jerry-core/ecma/operations/ecma-reference.h
  tests/jerry/es2015/symbol-unscopables.js
Labels: ES2015

#3492 Fix for-of block context creation for empty destructuring pattern
  jerry-core/parser/js/js-parser-statm.c
  tests/jerry/es2015/regression-test-issue-3421.js
Labels: bug, parser

#3481 Add length check to ecma_builtin_array_prototype_object_slice
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  tests/jerry/es2015/array-prototype-slice.js
  tests/jerry/es2015/regression-test-issue-3479.js
Labels: bug

#3495 Tagged template object references should be released only in post_processing
  jerry-core/parser/js/js-parser-tagged-template-literal.c
  jerry-core/parser/js/js-parser.c
  tests/jerry/es2015/regression-test-issue-3483.js
Labels: ES2015, bug, parser

#3471 toNumber operation should handle binary and octal literals
  jerry-core/ecma/base/ecma-helpers-conversion.c
  tests/jerry/es2015/to-number-string.js
Labels: ES2015

#3503 Refactor ecma_builtin_error_prototype_object_to_string to use stringbuilder
  jerry-core/ecma/builtin-objects/ecma-builtin-error-prototype.c
  jerry-core/lit/lit-magic-strings.inc.h
Labels: enhancement

#3496 Support iterable objects in Promise.all and Promise.race functions
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-objects.h
  jerry-core/ecma/operations/ecma-promise-object.c
  tests/jerry/es2015/promise-all-iterator.js
  tests/jerry/es2015/promise-race-iterator.js
  tests/jerry/es2015/regression-test-issue-2544.js
Labels: ES2015

#3488 Support nested destructuring patterns in catch header
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-scanner.c
  tests/jerry/es2015/try-pattern.js
Labels: bug, parser, pre-scanner

#3504 Update Function.prototype.bind to conform ES6 requirements
  jerry-core/ecma/builtin-objects/ecma-builtin-function-prototype.c
  tests/jerry/es2015/function-prototype-bind.js
Labels: ES2015

#3508 Nested destructuring binding patterns should inherit the PARSER_PATTERN_ARGUMENTS flag.
  jerry-core/parser/js/js-parser-expr.c
  tests/jerry/fail/regression-test-issue-3398.js
Labels: bug, parser

#3509 Property modifiers should not be checked before an equals.
  jerry-core/parser/js/js-lexer.c
  tests/jerry/es2015/regression-test-issue-3434.js
Labels: bug, parser

#3401 Add iterator close support for for-of statement
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/vm/vm-stack.c
  jerry-core/vm/vm-stack.h
  jerry-core/vm/vm.c
  tests/jerry/es2015/for-of-iterator-close.js
Labels: ES2015

#3469 Add support for new.target
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-init-finalize.c
  jerry-core/ecma/operations/ecma-eval.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/jcontext/jcontext.h
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-parser.h
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
  jerry-core/vm/opcodes.c
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es2015/new-target-async.js
  tests/jerry/es2015/new-target-class.js
  tests/jerry/es2015/new-target-generator.js
  tests/jerry/es2015/new-target.js
  tests/unit-core/test-newtarget.c
Labels: ES2015, ecma core, parser

#3511 Call filter arguments after the global arguments are parsed.
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
  tests/jerry/es2015/function-pattern2.js
Labels: pre-scanner

#3510 Correctly handle celestial plane codepoints in ES5.1.
  jerry-core/lit/lit-char-helpers.c
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-lexer.h
  tests/unit-core/test-api-errortype.c
Labels: parser

#3514 Construct non-fast array in ecma_op_array_species_create
  jerry-core/ecma/operations/ecma-array-object.c
Labels: ES2015, bug

#3494 Fix iterator position calculation for array patterns
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/vm/vm.c
  tests/jerry/es2015/regression-test-issue-3437.js
  tests/jerry/es2015/regression-test-issue-3455.js
  tests/unit-core/test-snapshot.c
Labels: ES2015, bug, parser

#3512 Make run-test-suite.py handle crashes properly
  tools/runners/run-test-suite.py
Labels: tools

#3518 Add runtime option "--call-on-exit [FUNCNAME]" to main-unix.c
  jerry-main/main-unix.c
  tests/jerry/es2015/regression-test-issue-2544.js
  tools/runners/run-test-suite.py
Labels: infrastructure

#3490 Introduce builtin intrinsic object to share property values between builtin objects
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-array.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers-macro-defines.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers-macro-undefs.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-internal-routines-template.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-intrinsic.c
  jerry-core/ecma/builtin-objects/ecma-builtin-intrinsic.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-symbol.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtins-internal.h
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/ecma/builtin-objects/ecma-builtins.inc.h
  jerry-core/ecma/operations/ecma-array-object.c
  jerry-core/ecma/operations/ecma-array-object.h
  jerry-core/ecma/operations/ecma-iterator-object.c
  jerry-core/ecma/operations/ecma-objects-arguments.c
  jerry-core/ecma/operations/ecma-objects-general.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-objects.h
  jerry-core/ecma/operations/ecma-reference.c
  jerry-core/lit/lit-magic-strings.h
  jerry-core/vm/opcodes-ecma-relational-equality.c
  tests/jerry/es2015/arguments-iterator.js
Labels: ES2015

#3507 Add option to list symbols in Object.getOwnPropertyNames()
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/ecma/builtin-objects/ecma-builtins.h
  jerry-core/ecma/operations/ecma-array-object.c
  jerry-core/ecma/operations/ecma-array-object.h
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-function-object.h
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-string-object.c
  jerry-core/ecma/operations/ecma-string-object.h
  tests/jerry/es2015/object-assign.js
  tests/jerry/es2015/object-get-own-property-names.js
Labels: ES2015, enhancement

#3521 Fix new.target invalidity check
  jerry-core/parser/js/js-parser-expr.c
  tests/jerry/es2015/regression-test-issue-3519.js
Labels: ES2015, bug, parser

#3520 Allow an extra comma before the end of a function call.
  jerry-core/parser/js/js-parser-expr.c
  tests/jerry/es2015/function-call.js
Labels: parser

#3516 Always mark the identifers which are propagated to upper level after argument parsing.
  jerry-core/parser/js/js-scanner-util.c
  tests/jerry/es2015/function-pattern2.js
Labels: pre-scanner

#3524 Add missing release value to ecma_op_object_get_property_names
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/regression-test-issue-3523.js
Labels: ES2015, bug

#3525 Fix assignment opcode transformation for CBC_PUSH_THIS_LITERAL
  jerry-core/parser/js/js-parser-expr.c
  tests/jerry/regression-test-issue-3477.js
Labels: bug, parser

#3515 Allow API usage in native_free_callbacks
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-init-finalize.c
  jerry-core/include/jerryscript-port.h
  jerry-core/jrt/jrt-fatals.c
  tests/unit-core/test-native-callback-nested.c
Labels: api

#3522 Introduce new.target C api
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  tests/unit-core/test-newtarget.c
Labels: api

#3529 Colon must be expected after computed property name in object destructuring
  jerry-core/parser/js/js-parser-expr.c
  tests/jerry/es2015/regression-test-issue-3527.js
Labels: bug, parser

#3531 Fix the build with enabled debugger on Windows
  appveyor.yml
  jerry-ext/CMakeLists.txt
  tools/run-tests.py
Labels: windows

#3530 Update "arguments" and "caller" properties of function object to conform ES6 changes
  jerry-core/ecma/builtin-objects/ecma-builtin-function-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers-macro-defines.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers-macro-undefs.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-internal-routines-template.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-type-error-thrower.c
  jerry-core/ecma/builtin-objects/ecma-builtins-internal.h
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/ecma/operations/ecma-function-object.c
  tests/jerry/es2015/function-arguments-caller.js
Labels: ES2015, ecma core

#3533 Fix array-indexed property name calculation for fast access mode arrays in property name listing
  jerry-core/ecma/operations/ecma-array-object.c
  jerry-core/ecma/operations/ecma-array-object.h
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/regression-test-issue-3532.js
Labels: bug, ecma core

#3535 Add missing release value call to Array.prototype.pop fast path.
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  tests/jerry/es2015/regression-test-issue-3534.js
Labels: bug, ecma builtins

#3513 Add strict mode check to for-in and for-of header in parser_parse_for_statement_start
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.h
  tests/jerry/es2015/forin-header-strict.js
Labels: ES2015, parser
