Repository jerryscript-project/jerryscript, pull requests merged in 2020-04, with the labels that each got.

#3635 Python debugger cleanup
  jerry-debugger/jerry_client.py
  jerry-debugger/jerry_client_main.py
  tests/debugger/do_eval_at.cmd
  tests/debugger/do_eval_at.expected
  tests/debugger/do_help.expected
  tests/debugger/do_scope.cmd
  tests/debugger/do_scope.expected
  tests/debugger/do_scope.js
  tests/debugger/do_scopes.cmd
  tests/debugger/do_scopes.expected
  tests/debugger/do_variables.cmd
  tests/debugger/do_variables.expected
Labels: debugger

#3660 Fix objects foreach unittest
  tests/unit-core/test-objects-foreach.c
Labels: test

#3617 Implement missing Math logarithm functions from ES6
  jerry-core/ecma/builtin-objects/ecma-builtin-math.c
  jerry-libm/expm1.c
  jerry-libm/include/math.h
  jerry-libm/jerry-libm-internal.h
  jerry-libm/log10.c
  jerry-libm/log1p.c
  jerry-libm/log2.c
  tests/jerry/es2015/math-expm1.js
  tests/jerry/es2015/math-log10.js
  tests/jerry/es2015/math-log1p.js
  tests/jerry/es2015/math-log2.js
  tests/unit-libm/test-libm.inc.h
  tools/unit-tests/gen-test-libm.c
Labels: ES2015, jerry-libm

#3659 Fix attributes of length property for bound function
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-function-prototype.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-function-object.h
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/es2015/length-property.js
Labels: ES2015

#3663 Fix the types of builtin prototype objects
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-date-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/ecma/builtin-objects/ecma-builtins.inc.h
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/lit/lit-magic-strings.h
  tests/jerry-test-suite/es5.1/15.07.03.01-004.js
  tests/jerry-test-suite/es5.1/15.07.03.01-008.js
  tests/jerry-test-suite/es5.1/15.07.03.01-009.js
  tests/jerry-test-suite/es5.1/15.07.03.01-010.js
  tests/jerry-test-suite/es5.1/15.07.03.01-011.js
  tests/jerry-test-suite/es5.1/15.07.04-001.js
  tests/jerry-test-suite/es5.1/15.07.04-002.js
  tests/jerry-test-suite/es5.1/15.07.04.02-006.js
  tests/jerry-test-suite/es5.1/15.07.04.02-008.js
  tests/jerry-test-suite/es5.1/15.07.04.05-001.js
  tests/jerry-test-suite/es5.1/15.07.04.05-002.js
  tests/jerry-test-suite/es5.1/15.07.04.05-003.js
  tests/jerry-test-suite/es5.1/15.07.04.05-004.js
  tests/jerry-test-suite/es5.1/15.07.04.05-005.js
  tests/jerry-test-suite/es5.1/15.07.04.05-006.js
  tests/jerry-test-suite/es5.1/15.07.04.05-007.js
  tests/jerry-test-suite/es5.1/15.07.04.05-008.js
  tests/jerry/date-construct.js
  tests/jerry/date-setters.js
  tests/jerry/es2015/builtin-prototypes.js
  tests/jerry/es2015/regexp-flags.js
  tests/jerry/es2015/regexp-prototype-source.js
  tests/jerry/es2015/regression-test-issue-3084.js
  tests/jerry/es2015/regresssion-test-issue-3395.js
  tests/jerry/es5.1/builtin-prototypes.js
  tests/jerry/es5.1/regression-test-issue-1065.js
  tests/jerry/es5.1/regression-test-issue-1080.js
  tests/jerry/es5.1/regression-test-issue-1546.js
  tests/jerry/es5.1/regression-test-issue-1641.js
  tests/jerry/es5.1/regression-test-issue-787.js
  tests/jerry/regexp-construct.js
Labels: ES2015, ecma builtins

#3657 Implement Proxy object [[Construct]] internal method
  jerry-core/ecma/operations/ecma-proxy-object.c
  jerry-core/lit/lit-magic-strings.inc.h
  tests/jerry/es2015/proxy_construct.js
  tests/jerry/es2015/proxy_define_own_property.js
Labels: ES2015

#3654 Fix super property assignment for namedaccessor properties
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/vm/opcodes.c
  jerry-core/vm/opcodes.h
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es2015/proxy_set.js
  tests/jerry/es2015/super-assignment.js
Labels: ES2015, parser

#3639 Implement Proxy object [[OwnPropertyKeys]] internal method
  jerry-core/ecma/builtin-objects/ecma-builtin-reflect.c
  jerry-core/ecma/operations/ecma-conversion.c
  jerry-core/ecma/operations/ecma-conversion.h
  jerry-core/ecma/operations/ecma-proxy-object.c
  jerry-core/lit/lit-magic-strings.inc.h
  tests/jerry/es2015/proxy_get_own_property_descriptor.js
  tests/jerry/es2015/proxy_own_keys.js
Labels: ES2015

#3666 Update the isArray operation to handle proxy objects
  jerry-core/ecma/base/ecma-helpers-value.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-array.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  jerry-core/ecma/operations/ecma-array-object.c
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/es2015/array-isarray.js
Labels: ES2015

#3651 Fix lazy property name listing for ArrayIndices.
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/regression-test-issue-3648.js
Labels: bug

#3653 Fix lexical binding set in VM_OC_COPY_TO_GLOBAL
  jerry-core/vm/vm.c
  tests/jerry/es2015/regression-test-issue-3647.js
Labels: bug

#3682 Use symbolic constants for code size checks.
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.c
Labels: parser

#3680 Implement missing Math.cbrt function from ES6
  jerry-core/ecma/builtin-objects/ecma-builtin-math.c
  jerry-libm/cbrt.c
  jerry-libm/include/math.h
  jerry-libm/jerry-libm-internal.h
  tests/jerry/es2015/math-cbrt.js
  tests/unit-libm/test-libm.inc.h
  tools/unit-tests/gen-test-libm.c
Labels: jerry-libm

#3675 Implement missing Math Inverse Hyperbolic functions
  jerry-core/ecma/builtin-objects/ecma-builtin-math.c
  jerry-libm/acosh.c
  jerry-libm/asinh.c
  jerry-libm/atanh.c
  jerry-libm/include/math.h
  jerry-libm/jerry-libm-internal.h
  tests/jerry/es2015/math-acosh.js
  tests/jerry/es2015/math-asinh.js
  tests/jerry/es2015/math-atanh.js
  tests/unit-libm/test-libm.inc.h
  tools/unit-tests/gen-test-libm.c
Labels: jerry-libm

#3678 Fix iterator step calculation for bracketed property expressions
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  tests/jerry/es2015/regression-test-issue-3665.js
Labels: bug

#3688 Fix assignment expression pre-scanning for arrow functions.
  jerry-core/parser/js/js-scanner.c
  tests/jerry/es2015/regression-test-issue-3656.js
Labels: bug

#3687 Fix delayed variable creation for function declarations.
  jerry-core/parser/js/js-scanner-util.c
  tests/jerry/es2015/regression-test-issue-3658.js
Labels: bug

#3679 Fix incorrect assertion in parser_parse_for_statement_start
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser.c
  tests/jerry/es2015/regression-test-issue-3655.js
Labels: bug

#3686 Implement separate context for arguments.
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-scanner-internal.h
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.h
  tests/jerry/es2015/function-param-init3.js
  tests/jerry/es2015/regression-test-issue-3396.js
Labels: ES2015, parser

#3662 Implement Proxy object [[DefineOwnProperty]] internal method
  jerry-core/ecma/operations/ecma-objects-general.c
  jerry-core/ecma/operations/ecma-objects-general.h
  jerry-core/ecma/operations/ecma-proxy-object.c
  tests/jerry/es2015/proxy_define_own_property.js
Labels: ES2015

#3698 Accessor functions do not have [[Construct]] internal method
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser.c
  tests/jerry/es2015/function-accessor.js
Labels: ES2015

#3672 Add [[GetOwnProperty]] internal Proxy method
  jerry-core/ecma/operations/ecma-objects-general.c
  jerry-core/ecma/operations/ecma-objects-general.h
  jerry-core/ecma/operations/ecma-proxy-object.c
  tests/jerry/es2015/proxy_get_own_property_descriptor.js
Labels: ES2015
