Repository jerryscript-project/jerryscript, pull requests merged in 2020-08, with the labels that each got.

#4087 Implement relational operators for BigInts
  jerry-core/ecma/base/ecma-helpers-number.c
  jerry-core/ecma/base/ecma-helpers-value.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-bigint.c
  jerry-core/ecma/operations/ecma-big-uint.c
  jerry-core/ecma/operations/ecma-bigint.c
  jerry-core/ecma/operations/ecma-bigint.h
  jerry-core/ecma/operations/ecma-comparison.c
  jerry-core/ecma/operations/ecma-conversion.c
  tests/jerry/es.next/bigint3.js
  tests/jerry/es.next/bigint4.js
  tests/test262-esnext-excludelist.xml
Labels: ES2015

#4101 Add Symbol support to integrity testing routine
  jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  tests/jerry/es.next/object-freeze-with-symbol.js
Labels: bug

#4100 Fix AdvanceStringIndex to return an ecma_length_t
  jerry-core/ecma/base/ecma-helpers-string.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/operations/ecma-regexp-object.c
  tests/test262-esnext-excludelist.xml
Labels: ES.next, bug

#4039 Implement Object.prototype.{__lookupGetter__, __lookupSetter__}
  jerry-core/ecma/builtin-objects/ecma-builtin-object-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object-prototype.inc.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  tests/jerry/es.next/object-prototype-lookup-getter.js
  tests/jerry/es.next/object-prototype-lookup-setter.js
  tests/test262-esnext-excludelist.xml
Labels: ES.next

#4091 Allow error reporting during property creation in Array.prototype.filter
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  tests/test262-esnext-excludelist.xml
Labels: ES.next, ES2015

#4099 Implement JSON superset
  jerry-core/parser/js/js-lexer.c
  tests/jerry/es.next/json-superset.js
  tests/jerry/es5.1/json-superset.js
  tests/test262-es6-excludelist.xml
  tests/test262-esnext-excludelist.xml
Labels: ES2015

#4104 Minor fixes to ecma_builtin_object_prototype_define_getter_setter
  jerry-core/ecma/builtin-objects/ecma-builtin-object-prototype.c
  tests/jerry/es.next/object-prototype-define-getter.js
  tests/jerry/es.next/object-prototype-define-setter.js
  tests/test262-esnext-excludelist.xml
Labels: ES.next, bug

#3964 Methods shouldn't have prototype property
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser.c
  tests/jerry/es.next/regression-test-issue-3459.js
  tests/test262-es6-excludelist.xml
  tests/test262-esnext-excludelist.xml
Labels: ES2015

#4085 Update proxy methods
  jerry-core/ecma/operations/ecma-proxy-object.c
  tests/jerry/es.next/proxy_define_own_property.js
  tests/jerry/es.next/proxy_delete.js
  tests/jerry/es.next/proxy_get_own_property_descriptor.js
  tests/test262-esnext-excludelist.xml
Labels: ES.next

#4103 Update RegExp.prototype accessors for ES11
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.c
  tests/jerry/es.next/builtin-prototypes.js
  tests/jerry/es.next/regexp-flags.js
  tests/jerry/es.next/regexp-prototype-source.js
  tests/test262-es6-excludelist.xml
  tests/test262-esnext-excludelist.xml
Labels: ES.next, ecma builtins

#4110 Fix whitespace ranges for ES.next profile
  jerry-core/lit/lit-char-helpers.c
  jerry-core/lit/lit-char-helpers.h
  jerry-core/lit/lit-unicode-ranges.inc.h
  tests/jerry/string-prototype-trim.js
  tests/test262-esnext-excludelist.xml
  tools/gen-unicode.py
Labels: ES.next, bug

#4113 Add Number builtin custom dispatcher
  jerry-core/ecma/builtin-objects/ecma-builtin-number.c
  jerry-core/ecma/builtin-objects/ecma-builtin-number.inc.h
Labels: enhancement

#4077 Fix Symbol's description default value
  jerry-core/ecma/builtin-objects/ecma-builtin-symbol-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-symbol.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-symbol-object.c
  jerry-core/ecma/operations/ecma-symbol-object.h
  tests/jerry/es.next/symbol-prototype-description.js
Labels: bug

#4065 New feature - Object.prototype.fromentries
  jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object.inc.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  tests/jerry/es.next/object-fromEntries.js
  tests/test262-esnext-excludelist.xml
Labels: ES.next

#4125 Fix mem-stress-test to properly run gc before allocs
  jerry-core/jmem/jmem-heap.c
  jerry-core/jmem/jmem-poolman.c
Labels: bug, memory management

#4126 Fix yield* with undefined return method.
  jerry-core/ecma/operations/ecma-iterator-object.c
  tests/jerry/es.next/regression-test-issue-4097.js
  tests/test262-esnext-excludelist.xml
Labels: ES2015, bug, ecma core

#4122 Fix Array.prototype.slice, splice and map builtin methods
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  tests/test262-esnext-excludelist.xml
Labels: ES2015

#3925 New feature - Array.flat and Array.flatMap
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype-unscopables.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.inc.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  tests/jerry/es.next/array-prototype-flat-flatMap.js
  tests/jerry/es.next/regression-test-issue-3606.js
  tests/test262-esnext-excludelist.xml
Labels: ES.next

#4127 Append promise reaction values in a gc safe manner
  jerry-core/ecma/operations/ecma-promise-object.c
Labels: ES.next, bug, ecma core

#4133 Mark the lexical environments of running executable objects
  jerry-core/ecma/base/ecma-gc.c
  tests/jerry/es.next/regression-test-issue-4094.js
Labels: ES.next, bug, ecma core

#4128 Make Array.prototype.unshift method conform to ES11
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  tests/jerry/es.next/array-prototype-unshift.js
  tests/jerry/es5.1/array-prototype-unshift.js
  tests/test262-esnext-excludelist.xml
Labels: ES2015

#4134 Handle errors in JSON.parse triggered by Proxies
  jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  tests/jerry/es.next/json-parse-proxy.js
  tests/test262-esnext-excludelist.xml
Labels: ES.next, ES2015, bug

#4144 Added missing object deref in ecma_promise_reject_or_resolve
  jerry-core/ecma/operations/ecma-promise-object.c
  tests/jerry/es.next/regression-test-issue-4131.js
Labels: bug

#4143 Fix heap-buffer-overflow in ecma_builtin_json_quote
  jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  tests/jerry/es.next/regression-test-issue-4129.js
Labels: bug

#4153 Add missing error support for API functions.
  jerry-core/api/jerry.c
  tests/unit-core/test-api-property.c
  tests/unit-core/test-proxy.c
Labels: api, bug

#4156 Correctly release values in TypedArray's toLocaleString
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  tests/jerry/es.next/regression-test-issue-4148.js
  tests/test262-esnext-excludelist.xml
Labels: ES2015, bug

#4164 Fix memory corruption (bad-free) in ecma_string_pad
  jerry-core/ecma/base/ecma-helpers-string.c
  tests/jerry/es.next/string-prototype-padding.js
Labels: bug

#4151 Implement BigInt64 and BigUint64 typedArrays
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-global.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtins.inc.h
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-bigint64array-prototype.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-bigint64array-prototype.inc.h
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-bigint64array.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-bigint64array.inc.h
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-biguint64array-prototype.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-biguint64array-prototype.inc.h
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-biguint64array.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-biguint64array.inc.h
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray.c
  jerry-core/ecma/operations/ecma-container-object.c
  jerry-core/ecma/operations/ecma-conversion.c
  jerry-core/ecma/operations/ecma-conversion.h
  jerry-core/ecma/operations/ecma-dataview-object.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-typedarray-object.c
  jerry-core/ecma/operations/ecma-typedarray-object.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  tests/jerry/es.next/regression-test-issue-2143.js
  tests/jerry/es.next/typedArray-fill.js
  tests/jerry/es.next/typedArray-find-index.js
  tests/jerry/es.next/typedarray-prototype-copy-within.js
  tests/jerry/es.next/typedarray-prototype-entires.js
  tests/test262-esnext-excludelist.xml
Labels: ES.next

#4102 Implement TrimStart TrimEnd and aliases
  jerry-core/ecma/base/ecma-helpers-number.c
  jerry-core/ecma/base/ecma-helpers-string.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-intrinsic.c
  jerry-core/ecma/builtin-objects/ecma-builtin-intrinsic.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.inc.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  tests/jerry/es.next/string-prototype-trim.js
  tests/test262-esnext-excludelist.xml
Labels: ES.next

#4034 Rename ecma_get_number to ecma_op_to_number
  jerry-core/api/jerry.c
  jerry-core/ecma/base/ecma-helpers-number.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-date-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-date.c
  jerry-core/ecma/builtin-objects/ecma-builtin-global.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  jerry-core/ecma/builtin-objects/ecma-builtin-math.c
  jerry-core/ecma/builtin-objects/ecma-builtin-number.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  jerry-core/ecma/operations/ecma-array-object.c
  jerry-core/ecma/operations/ecma-arraybuffer-object.c
  jerry-core/ecma/operations/ecma-comparison.c
  jerry-core/ecma/operations/ecma-conversion.c
  jerry-core/ecma/operations/ecma-conversion.h
  jerry-core/ecma/operations/ecma-dataview-object.c
  jerry-core/ecma/operations/ecma-number-object.c
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/ecma/operations/ecma-try-catch-macro.h
Labels: enhancement

#4088 Implement String.prototype.replaceAll
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.inc.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  tests/jerry/es.next/string-prototype-replace-all.js
  tests/test262-esnext-excludelist.xml
Labels: ES.next

#4168 Added length check in copy_within's fast path
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  tests/jerry/es.next/regression-test-issue-4146.js
Labels: bug

#4165 Correctly report error in for-in start in case of proxies
  jerry-core/vm/opcodes.c
  jerry-core/vm/vm.c
  tests/jerry/es.next/proxy-for-in.js
  tests/test262-es6-excludelist.xml
Labels: ES2015, bug

#4162 Introduce new API functions to obtain detailed object type information
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  jerry-core/parser/js/js-parser.c
  tests/unit-core/test-api-functiontype.c
  tests/unit-core/test-api-iteratortype.c
  tests/unit-core/test-api-objecttype.c
Labels: api

#4166 Fix leaking lastIndex values in RegExp built-ins
  jerry-core/ecma/base/ecma-helpers-value.c
  jerry-core/ecma/operations/ecma-regexp-object.c
  tests/jerry/es.next/symbol-replace.js
Labels: ES2015, bug

#4169 Refactor ecma_op_check_object_coercible
  jerry-core/ecma/builtin-objects/ecma-builtin-intrinsic.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/operations/ecma-conversion.c
  jerry-core/ecma/operations/ecma-conversion.h
  jerry-core/vm/opcodes.c
  jerry-core/vm/vm.c
Labels: enhancement

#4170 Support BigInt64/BigUint64 typedarray creation from API
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  tests/unit-core/test-typedarray.c
Labels: api

#4174 Refactor ArrayBuffer.prototype.slice to conform ES11 standard
  jerry-core/ecma/builtin-objects/ecma-builtin-arraybuffer-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-arraybuffer-prototype.inc.h
  tests/test262-esnext-excludelist.xml
Labels: ES.next

#4173 Fix evaluation order in non-binding destructuring patterns
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/parser/js/byte-code.c
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es.next/array-pattern.js
  tests/jerry/es.next/object-pattern.js
  tests/test262-es6-excludelist.xml
  tests/test262-esnext-excludelist.xml
Labels: bug

#4163 Introduce new API function to obtain well-known symbols
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  jerry-core/lit/lit-magic-strings.h
  tests/unit-core/test-symbol.c
Labels: api
