Repository jerryscript-project/jerryscript, pull requests merged in 2020-10, with the labels that each got.

#4254 Fix the runtime option of sign check
  .travis.yml
Labels: documentation, infrastructure

#4255 Check that this binding is initialized before forming a super reference
  jerry-core/vm/opcodes.c
  tests/test262-es6-excludelist.xml
  tests/test262-esnext-excludelist.xml
Labels: test262

#4258 Fix the value of the caller property of function instances
  jerry-core/ecma/operations/ecma-function-object.c
  tests/jerry/es.next/function-arguments-caller.js
  tests/test262-es6-excludelist.xml
  tests/test262-esnext-excludelist.xml
Labels: test262

#4259 Various minor improvements to reference document
  docs/02.API-REFERENCE.md
Labels: documentation

#4253 Update the webpage
  00.GETTING-STARTED.md
  01.CONFIGURATION.md
  02.API-REFERENCE.md
  08.CODING-STANDARDS.md
Labels: documentation

#4249 Fix Date.parse to handle times without timezone properly
  jerry-core/ecma/builtin-objects/ecma-builtin-date.c
  tests/jerry/date-parse.js
  tests/test262-esnext-excludelist.xml
Labels: test262

#4247 Fix class handling with disabled module system
  jerry-core/parser/js/js-scanner-util.c
Labels: ES.next, ES2015, bug

#4248 Date.parse should reject out of range values
  jerry-core/ecma/builtin-objects/ecma-builtin-date.c
  tests/jerry/date-parse.js
  tests/test262-esnext-excludelist.xml
Labels: test262

#4267 Fix Symbol.description API reference count management
  jerry-core/api/jerry.c
  tests/unit-core/test-symbol.c
Labels: api, bug

#4261 Remove revoked Proxy checks when creating a Proxy
  jerry-core/ecma/operations/ecma-proxy-object.c
  tests/jerry/es.next/proxy_create.js
  tests/jerry/es.next/proxy_revocable.js
  tests/test262-es6-excludelist.xml
  tests/test262-esnext-excludelist.xml
Labels: ES.next

#4262 Propagate strict mode flag from scanner when parsing functions
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.h
  tests/test262-es6-excludelist.xml
Labels: hacktoberfest-accepted, parser

#4271 Builtin objects symbol properties should be lazy listed
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/es.next/map.js
  tests/jerry/es.next/set.js
  tests/jerry/es.next/weakmap.js
  tests/jerry/es.next/weakset.js
Labels: bug, hacktoberfest-accepted

#4274 Add AsyncFunc proto id check in ecma_object_check_class_name_is_object
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/es.next/regression-test-issue-4147.js
Labels: bug, ecma core, hacktoberfest-accepted

#4272 Fix flag handling when creating arguments objects
  jerry-core/ecma/operations/ecma-arguments-object.c
Labels: bug, ecma core, hacktoberfest-accepted

#4273 Propagate strict mode for Proxy targets during delete
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-proxy-object.c
  jerry-core/ecma/operations/ecma-proxy-object.h
  jerry-core/vm/opcodes.c
  tests/test262-esnext-excludelist.xml
Labels: ES.next, ES2015, hacktoberfest-accepted

#4277 Replace fast path should keep a reference to the executed bytecode
  jerry-core/ecma/operations/ecma-regexp-object.c
Labels: bug, ecma builtins

#4284 Revise the API ArrayBuffer related operations
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/operations/ecma-arraybuffer-object.c
  jerry-core/ecma/operations/ecma-arraybuffer-object.h
  tests/unit-core/test-arraybuffer.c
Labels: api, hacktoberfest-accepted

#4283 Update jerry_run_all_enqueued_jobs() function and documentation
  docs/02.API-REFERENCE.md
  jerry-core/ecma/operations/ecma-jobqueue.c
Labels: api, documentation, hacktoberfest-accepted

#4256 Error should be thrown later when calling super multiple times
  jerry-core/vm/vm.c
  tests/test262-es6-excludelist.xml
  tests/test262-esnext-excludelist.xml
Labels: hacktoberfest-accepted, test262

#4158 Implemented numeric-separator
  jerry-core/ecma/base/ecma-helpers-conversion.c
  jerry-core/ecma/base/ecma-helpers-number.c
  jerry-core/ecma/base/ecma-helpers-string.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-date.c
  jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  jerry-core/ecma/operations/ecma-bigint.c
  jerry-core/ecma/operations/ecma-bigint.h
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.h
  tests/jerry/es.next/numeric-separator.js
  tests/test262-esnext-excludelist.xml
  tests/unit-core/test-string-to-number.c
Labels: ES.next

#4176 Update JSON stringify to conform ES11 standard
  jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  tests/test262-esnext-excludelist.xml
Labels: bug

#4281 Annotate test262-esnext-excludelist.xml
  tests/test262-esnext-excludelist.xml
Labels: hacktoberfest-accepted, test262

#4288 Fix implicit 'double' conversion reported by Clang 12.0.0
  jerry-core/ecma/base/ecma-helpers-string.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
Labels: hacktoberfest-accepted

#4276 Exporting undeclared variables should throw a SyntaxError
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-module.c
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.h
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
  jerry-core/parser/js/js-scanner.h
  tests/test262-es6-excludelist.xml
  tests/test262-esnext-excludelist.xml
Labels: ES2015, ecma core, hacktoberfest-accepted

#4291 Revise internal array creation operations
  jerry-core/api/jerry.c
  jerry-core/ecma/base/ecma-helpers-value.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array.c
  jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.c
  jerry-core/ecma/builtin-objects/ecma-builtin-reflect.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/operations/ecma-array-object.c
  jerry-core/ecma/operations/ecma-array-object.h
  jerry-core/ecma/operations/ecma-iterator-object.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-proxy-object.c
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/vm/vm-utils.c
  jerry-core/vm/vm.c
Labels: enhancement, hacktoberfest-accepted

#4257 Check for prototype bound name in class static accessors
  jerry-core/parser/js/js-parser-expr.c
  tests/jerry/es.next/class.js
  tests/test262-es6-excludelist.xml
  tests/test262-esnext-excludelist.xml
Labels: hacktoberfest-accepted, parser, test262

#4292 Fix HAVE_TM_GMTOFF check for older CMake.
  jerry-port/default/CMakeLists.txt
Labels: hacktoberfest-accepted

#4290 Implement proper function length support
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser.c
  tests/jerry/es.next/function-decl.js
  tests/test262-es6-excludelist.xml
  tests/test262-esnext-excludelist.xml
Labels: hacktoberfest-accepted, test262

#4293 Fix sign-compare compiler warning in js-scanner-util.c
  jerry-core/parser/js/js-scanner-util.c
Labels: hacktoberfest-accepted

#4296 Fix implicit 'double' conversion reported by Clang
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
Labels: hacktoberfest-accepted

#4298 Don't ref arguments object bytecode in case of static snapshots
  jerry-core/ecma/operations/ecma-arguments-object.c
Labels: hacktoberfest-accepted

#4297 Initialize variable to eliminate `may be used uninitialized` warnings
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
Labels: hacktoberfest-accepted

#4299 Improve JerryScript debugger
  jerry-debugger/jerry_client.py
  jerry-debugger/jerry_client_main.py
  tests/debugger/do_delete.expected
  tests/debugger/do_delete_all.expected
  tests/debugger/do_eval.cmd
  tests/debugger/do_eval.expected
  tests/debugger/do_help.expected
  tests/debugger/do_pending_breakpoints.expected
  tools/srcgenerator.py
Labels: debugger

#4270 espressif's ESP-IDF port
  CMakeLists.txt
  cmake/toolchain-esp32.cmake
  targets/esp-idf/CMakeLists.txt.example
  targets/esp-idf/README.md
  targets/esp-idf/date.c
  targets/esp-idf/debugger.c
  targets/esp-idf/external-context.c
  targets/esp-idf/fatal.c
  targets/esp-idf/io.c
  targets/esp-idf/module.c
Labels: hacktoberfest-accepted, targets

#4282 Uncontrolled memory allocation in jerry_port_read_source function
  jerry-port/default/default-module.c
Labels: bug, hacktoberfest-accepted, jerry-port

#4285 Fix assertion fail in typedarray_prototype_to locale_string
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  tests/test262-esnext-excludelist.xml
Labels: bug, ecma builtins, hacktoberfest-accepted, test262

#4307 Add Dispatcher for Promise Builtin
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.c
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.inc.h
Labels: ecma builtins, enhancement, hacktoberfest-accepted

#4287 Implement ToIndex abstract operation
  jerry-core/ecma/builtin-objects/ecma-builtin-dataview-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-dataview.inc.h
  jerry-core/ecma/operations/ecma-conversion.c
  jerry-core/ecma/operations/ecma-conversion.h
  jerry-core/ecma/operations/ecma-dataview-object.c
  tests/jerry/es.next/dataview.js
  tests/test262-esnext-excludelist.xml
Labels: ES.next, ecma builtins, hacktoberfest-accepted

#4317 Add lazy load of exclude_list in test262-harness
  tools/runners/test262-harness.py
Labels: hacktoberfest-accepted

#4309 Add Promise Prototype Dispatcher
  jerry-core/ecma/builtin-objects/ecma-builtin-promise-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-promise-prototype.inc.h
Labels: ecma builtins, enhancement, hacktoberfest-accepted

#4310 Add Array Builtin Dispatcher
  jerry-core/ecma/builtin-objects/ecma-builtin-array.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array.inc.h
Labels: ecma builtins, enhancement, hacktoberfest-accepted

#4312 Fix sweeping ecma_promise_value_thunk function objects
  jerry-core/ecma/base/ecma-gc.c
  tests/jerry/es.next/regression-test-issue-4214.js
Labels: hacktoberfest-accepted, test262

#4311 Property key filter API
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  tests/unit-core/test-api-object-property-names.c
Labels: api, hacktoberfest-accepted

#4308 Add Boolean Prototype Dispatcher
  jerry-core/ecma/builtin-objects/ecma-builtin-boolean-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-boolean-prototype.inc.h
Labels: ecma builtins, enhancement, hacktoberfest-accepted

#4286 Support decimal create with leading zero
  jerry-core/parser/js/js-lexer.c
  tests/jerry/es.next/decimal-with-leading-zero.js
  tests/test262-esnext-excludelist.xml
Labels: hacktoberfest-accepted, test262
