Repository jerryscript-project/jerryscript, pull requests merged in 2020-06, with the labels that each got.

#3831 Fix string position calculation in @@replace
  jerry-core/ecma/operations/ecma-regexp-object.c
  tests/jerry/es2015/regression-test-issue-3817.js
  tests/jerry/es2015/symbol-replace.js
Labels: bug, ecma builtins

#3827 Fix incorrect assertion on ecma_op_function_has_instance
  jerry-core/ecma/operations/ecma-function-object.c
  tests/jerry/es2015/regression-test-issue-3814.js
Labels: bug

#3832 Fix PropertyDefinition parsing in ObjectInitializer
  jerry-core/parser/js/js-parser-expr.c
  tests/jerry/es2015/regression-test-issue-3822.js
  tests/jerry/es2015/regression-test-issue-3823.js
  tests/jerry/es2015/regression-test-issue-3824.js
  tests/jerry/es2015/regression-test-issue-3825.js
Labels: bug

#3838 Fix parsing function statements containing invalid tokens
  jerry-core/parser/js/js-parser-statm.c
  tests/jerry/regression-test-issue-3821.js
Labels: bug, pre-scanner

#3846 Fix invalid AssignmentExpression lookahead in parser_process_group_expression
  jerry-core/parser/js/js-parser-expr.c
  tests/jerry/es2015/regression-test-issue-3845.js
Labels: bug, parser

#3848 Fix several function name related issues
  jerry-core/parser/js/js-parser.c
  jerry-core/vm/vm.c
  tests/jerry/es2015/function-name.js
Labels: bug

#3798 Fix length check for Array.prototype indexOf, lastIndexOf and fill
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  tests/jerry/array-prototype-indexof.js
  tests/jerry/array-prototype-lastindexof.js
  tests/jerry/array-prototype-slice.js
  tests/jerry/es2015/array-prototype-copywithin.js
  tests/jerry/es2015/array-prototype-fill.js
Labels: bug, ecma builtins

#3840 Fix property descriptor queries
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-proxy-object.c
  tests/jerry/es2015/regression-test-issue-3837.js
Labels: bug

#3851 Object/Array initializers should be parsed as AssignmentExpression
  jerry-core/parser/js/js-parser-expr.c
  tests/jerry/es2015/regression-test-issue-3849.js
Labels: bug

#3852 Context break should honor private contexts.
  jerry-core/parser/js/js-parser-statm.c
  tests/jerry/es2015/continue.js
Labels: bug

#3854 Primitive this values of accessors should not be coerced in strict mode
  jerry-core/vm/vm.c
  tests/jerry/getter-setter-this-value.js
Labels: bug, ecma core

#3867 Correct release of spread arguments
  jerry-core/vm/opcodes.c
  tests/jerry/es2015/regression-test-issue-3860.js
Labels: ES2015, bug, ecma core

#3863 Fix three async function issues.
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/parser/js/byte-code.c
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-scanner-ops.c
  tests/jerry/es2015/regresssion-test-issue-3856.js
  tests/jerry/es2015/regresssion-test-issue-3857.js
Labels: bug

#3850 Fix TypedArray initialization with another TypedArray
  jerry-core/ecma/operations/ecma-arraybuffer-object.c
  jerry-core/ecma/operations/ecma-typedarray-object.c
  tests/jerry/es2015/regression-test-issue-3836.js
Labels: bug, ecma builtins

#3853 Raw string length should be adjusted when UTF8 string is converted to CESU8
  jerry-core/parser/js/js-lexer.c
  tests/jerry/es2015/regression-test-issue-3812.js
Labels: bug, parser

#3875 Add missing end-of-string checks to RegExp parser in unicode mode
  jerry-core/parser/regexp/re-parser.c
  tests/jerry/es2015/regression-test-issue-3870.js
  tests/jerry/es2015/regression-test-issue-3871.js
Labels: bug, ecma builtins

#3806 Implement eval support for functions with arguments lexical env.
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/parser/js/byte-code.c
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es2015/function-scope2.js
Labels: parser

#3839 Builtin objects accessor properties should be configurable
  jerry-core/ecma/builtin-objects/ecma-builtin-arraybuffer-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-dataview-prototype.inc.h
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.inc.h
  tests/jerry/es2015/builtin-objects-accessor-property-configurable.js
Labels: ecma builtins

#3811 Implement argument redefinition with var statement.
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/parser/js/byte-code.c
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
  jerry-core/parser/js/js-scanner.h
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es2015/function-scope2.js
Labels: parser

#3877 Fix define_own_property_descriptor to set configurable flag correctly
  jerry-core/api/jerry.c
  tests/unit-core/test-api-property.c
Labels: api, bug

#3879 Fix result of Date getters when called on invalid date
  jerry-core/ecma/builtin-objects/ecma-builtin-date-prototype.c
  tests/jerry/regression-test-issue-3878.js
Labels: bug, ecma builtins

#3876 Compiled code should hold strong reference for the object in the tagged template literal collection
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/parser/js/js-parser.c
  tests/jerry/es2015/regression-test-issue-3866.js
Labels: bug

#3883 Fix built-in RegExp allocation with default constructor
  jerry-core/ecma/operations/ecma-regexp-object.c
  tests/jerry/es2015/regression-test-issue-3880.js
Labels: bug, ecma builtins

#3884 Fix initializer detection in for-in expressions.
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-parser-statm.c
  tests/jerry/fail/regression-test-issue-3882.js
Labels: bug

#3889 Update API version to 2.3
  docs/02.API-REFERENCE.md
  jerry-core/include/jerryscript-core.h
Labels: documentation

#3891 Fix redeclaration of existing var variables in functions with argument context.
  jerry-core/vm/vm.c
  tests/jerry/es2015/function-scope2.js
  tests/jerry/es2015/regresssion-test-issue-3888.js
Labels: bug

#3896 Builtin objects finalization should handle function properties with tagged template literal collection
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-gc.h
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  tests/jerry/es2015/regression-test-issue-3893.js
Labels: bug

#3900 Update API version to 2.4
  jerry-core/include/jerryscript-core.h
Labels: api

#3902 Update the webpage
  00.GETTING-STARTED.md
  01.CONFIGURATION.md
  02.API-REFERENCE.md
  03.API-EXAMPLE.md
  05.PORT-API.md
  15.MODULE-SYSTEM.md
Labels: documentation

#3802 Create extend byte code flags with function types.
  jerry-core/api/jerry-snapshot.c
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/ecma/base/ecma-literal-storage.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-regexp-object.h
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser.c
  jerry-core/vm/vm.c
Labels: interpreter

#3904 Documentation typo fixes
  docs/01.CONFIGURATION.md
  jerry-core/profiles/README.md
Labels: documentation

#3864 Add Generator prototype custom dispatcher
  jerry-core/ecma/builtin-objects/ecma-builtin-generator-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-generator-prototype.inc.h
Labels: ecma builtins

#3897 Implement async function execution.
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/builtin-objects/ecma-builtin-generator-prototype.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-jobqueue.c
  jerry-core/ecma/operations/ecma-jobqueue.h
  jerry-core/ecma/operations/ecma-promise-object.c
  jerry-core/ecma/operations/ecma-promise-object.h
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser.c
  jerry-core/vm/opcodes.c
  jerry-core/vm/opcodes.h
  jerry-core/vm/vm-stack.c
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es.next/function-await2.js
  tests/jerry/es.next/function-await3.js
Labels: ES.next

#3906 Remove arguments and caller properties from ArrowFunction
  jerry-core/ecma/operations/ecma-function-object.c
  tests/jerry/es.next/arrow-function.js
  tests/test262-es6-excludelist.xml
Labels: ES.next

#3898 Reduce try context stack consumption to 1 from 2.
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser.c
  jerry-core/vm/vm-stack.c
  jerry-core/vm/vm.c
Labels: interpreter

#3892 Improve test262 ES2015 runner
  .travis.yml
  tests/test262-es6-excludelist.xml
  tools/run-tests.py
  tools/runners/run-test-suite-test262.py
Labels: ES2015, tools

#3790 Add custom dispatcher to Set/Map/WeakSet/WeakMap
  jerry-core/ecma/builtin-objects/ecma-builtin-map-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-map-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-set-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-set-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-weakmap-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-weakmap-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-weakset-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-weakset-prototype.inc.h
  jerry-core/ecma/operations/ecma-container-object.c
  jerry-core/ecma/operations/ecma-container-object.h
Labels: ecma builtins

#3905 Extend CI list with Github actions
  .github/workflows/gh-actions.yml
  .travis.yml
Labels: infrastructure

#3913 Fix releasing 'exec' in regexp replace fast path
  jerry-core/ecma/operations/ecma-regexp-object.c
  tests/jerry/es.next/symbol-replace.js
Labels: bug, ecma builtins

#3887 Refactor ecma_builtin_global_object_escape
  jerry-core/ecma/builtin-objects/ecma-builtin-global.c
Labels: ecma builtins

#3890 Refactor ecma_builtin_global_object_encode_uri_helper
  jerry-core/ecma/builtin-objects/ecma-builtin-global.c
Labels: ecma builtins

#3895 Refactor ecma_builtin_global_object_decode_uri_helper
  jerry-core/ecma/builtin-objects/ecma-builtin-global.c
Labels: ecma builtins

#3915 Fix signed-off check in tolerant mode
  .github/workflows/gh-actions.yml
  tools/check-signed-off.sh
  tools/run-tests.py
Labels: infrastructure

#3764 Added new target support for dataview object
  jerry-core/api/jerry.c
  jerry-core/ecma/operations/ecma-dataview-object.c
  tests/jerry/es.next/new-target-for-dataview.js
Labels: ES2015

#3807 Use stringbuilder in ecma_builtin_helper_object_to_string
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
Labels: ecma builtins

#3777 Change the Set.prototype values, keys and [@@iterator] methods to one intrinsic method
  jerry-core/ecma/builtin-objects/ecma-builtin-intrinsic.c
  jerry-core/ecma/builtin-objects/ecma-builtin-intrinsic.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-set-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/lit/lit-magic-strings.h
  jerry-core/lit/lit-magic-strings.inc.h
  tests/jerry/es.next/set-iterators.js
  tests/test262-es6-excludelist.xml
Labels: ES2015

#3922 Fix the types of builtin prototype objects
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/ecma/builtin-objects/ecma-builtins.inc.h
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/builtin-prototypes.js
  tests/jerry/es.next/builtin-prototypes.js
  tests/jerry/es5.1/builtin-prototypes.js
  tests/test262-es6-excludelist.xml
Labels: ES.next

#3910 Support comma after last argument for function declarations.
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-scanner-ops.c
  jerry-core/parser/js/js-scanner.c
  tests/jerry/es.next/arrow-function.js
  tests/jerry/es.next/function-decl.js
Labels: parser

#3921 Implement Object.getOwnPropertyDescriptors built-in method
  jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object.inc.h
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  tests/jerry/es.next/object-get-own-property-descriptors.js
Labels: ES.next, ecma builtins

#3930 Fix DataView argument handling in case of undefined value
  jerry-core/ecma/operations/ecma-dataview-object.c
  tests/jerry/es.next/dataview.js
Labels: ES2015, bug, ecma builtins

#3923 Implement yield* operator
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-generator-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-intrinsic.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.c
  jerry-core/ecma/builtin-objects/ecma-builtin-symbol.inc.h
  jerry-core/ecma/operations/ecma-async-generator-object.c
  jerry-core/ecma/operations/ecma-async-generator-object.h
  jerry-core/ecma/operations/ecma-container-object.c
  jerry-core/ecma/operations/ecma-iterator-object.c
  jerry-core/ecma/operations/ecma-iterator-object.h
  jerry-core/ecma/operations/ecma-jobqueue.c
  jerry-core/ecma/operations/ecma-promise-object.c
  jerry-core/ecma/operations/ecma-promise-object.h
  jerry-core/lit/lit-magic-strings.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  jerry-core/parser/js/byte-code.c
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/vm/opcodes.c
  jerry-core/vm/opcodes.h
  jerry-core/vm/vm-defines.h
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es.next/function-async-gen1.js
  tests/jerry/es.next/function-async-gen2.js
  tests/jerry/es.next/function-async-gen3.js
Labels: ES.next

#3929 Simplify resource name handling
  jerry-core/api/jerry-snapshot.c
  jerry-core/api/jerry.c
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/base/ecma-literal-storage.c
  jerry-core/ecma/base/ecma-module.c
  jerry-core/ecma/builtin-objects/ecma-builtin-function.c
  jerry-core/ecma/operations/ecma-eval.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-function-object.h
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/jcontext/jcontext.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/parser/js/byte-code.c
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-module.c
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-parser.h
  jerry-core/vm/vm-defines.h
  jerry-core/vm/vm-utils.c
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
Labels: interpreter

#3939 Support caching of next method in for-of and built-in methods.
  jerry-core/ecma/builtin-objects/ecma-builtin-array.c
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.c
  jerry-core/ecma/operations/ecma-container-object.c
  jerry-core/ecma/operations/ecma-iterator-object.c
  jerry-core/ecma/operations/ecma-iterator-object.h
  jerry-core/ecma/operations/ecma-typedarray-object.c
  jerry-core/parser/js/byte-code.h
  jerry-core/vm/opcodes.c
  jerry-core/vm/vm-stack.c
  jerry-core/vm/vm.c
  tests/jerry/es.next/for-of.js
  tests/test262-es6-excludelist.xml
Labels: ecma builtins

#3946 Implement for-await-of statement.
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-generator-prototype.c
  jerry-core/ecma/operations/ecma-async-generator-object.c
  jerry-core/ecma/operations/ecma-async-generator-object.h
  jerry-core/ecma/operations/ecma-jobqueue.c
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/parser/js/byte-code.c
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.h
  jerry-core/parser/js/js-scanner.c
  jerry-core/vm/opcodes.c
  jerry-core/vm/opcodes.h
  jerry-core/vm/vm-stack.c
  jerry-core/vm/vm-stack.h
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es.next/for-await-of.js
Labels: ES.next, interpreter

#3924 Make test262-es2015 output more verbose
  tests/test262-es6.patch
  tools/runners/run-test-suite-test262.py
Labels: infrastructure, test

#3952 Correct Object.keys to collect only enumerable property names
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/es.next/proxy_own_keys.js
Labels: ES2015

#3899 Remove duplicate is_object check when calling ecma_op_to_primtive
  jerry-core/ecma/operations/ecma-comparison.c
  jerry-core/ecma/operations/ecma-conversion.c
Labels: ecma core

#3920 JERRY_BUILTIN_xxx macros should depend on JERRY_ESNEXT
  jerry-core/config.h
  jerry-core/ecma/builtin-objects/ecma-builtin-arraybuffer-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-dataview-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-map-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-promise-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-set-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-set-prototype.inc.h
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.inc.h
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/parser/js/js-parser-module.c
  jerry-core/parser/js/js-scanner.c
Labels: ecma builtins

#3957 Rework flags representing arrow functions and complex arguments
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-scanner-internal.h
  jerry-core/parser/js/js-scanner-ops.c
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
  jerry-core/parser/js/js-scanner.h
  tests/jerry/regression-test-issue-3944.js
Labels: ES.next, bug

#3949 Adds support for compiling with MSYS and MINGW under windows
  CMakeLists.txt
Labels: windows

#3956 Support catch statement without argument.
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-scanner.c
  tests/jerry/es.next/try-catch.js
  tests/test262-es6-excludelist.xml
Labels: ES2015
