Repository jerryscript-project/jerryscript, pull requests merged in 2020-12, with the labels that each got.

#4351 Correct Regexp literal error release
  jerry-core/parser/js/js-lexer.c
Labels: bug

#4350 Correct syntax error printing in case of end of file
  jerry-main/main-utils.c
Labels: bug

#4347 Rework built-in processing of JerryScript
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array.c
  jerry-core/ecma/builtin-objects/ecma-builtin-async-generator-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-boolean-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-dataview-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-date-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-function-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-generator-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-global.c
  jerry-core/ecma/builtin-objects/ecma-builtin-handlers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-handlers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-internal-routines-template.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-intrinsic.c
  jerry-core/ecma/builtin-objects/ecma-builtin-map-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-math.c
  jerry-core/ecma/builtin-objects/ecma-builtin-number-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-number.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  jerry-core/ecma/builtin-objects/ecma-builtin-promise-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.c
  jerry-core/ecma/builtin-objects/ecma-builtin-reflect.c
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-set-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-symbol-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-weakmap-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-weakset-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtins-internal.h
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/ecma/builtin-objects/ecma-builtins.h
  jerry-core/ecma/builtin-objects/ecma-builtins.inc.h
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  jerry-core/ecma/operations/ecma-container-object.h
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-function-object.h
  jerry-core/ecma/operations/ecma-objects.c
Labels: ecma builtins, enhancement

#4349 Handle revoked Proxy during [[Get]] operation
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-objects.h
  jerry-core/ecma/operations/ecma-proxy-object.c
  tests/test262-esnext-excludelist.xml
Labels: ES.next, ES2015, bug

#4278 Run tests with mem-stress-test enabled
  tools/run-tests.py
Labels: hacktoberfest-accepted, test, tools

#4329 Add support test262 $262 global object support
  jerry-main/main-options.c
  jerry-main/main-options.h
  jerry-main/main-utils.c
  tests/test262-esnext-excludelist.xml
  tools/run-tests.py
Labels: test262

#4354 Implement realm object and support realms for built-ins and JS functions
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry-snapshot.c
  jerry-core/api/jerry-snapshot.h
  jerry-core/api/jerry.c
  jerry-core/config.h
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/ecma/base/ecma-init-finalize.c
  jerry-core/ecma/base/ecma-module.c
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/ecma/builtin-objects/ecma-builtins.h
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-function-object.h
  jerry-core/ecma/operations/ecma-get-put-value.c
  jerry-core/ecma/operations/ecma-lex-env.c
  jerry-core/ecma/operations/ecma-lex-env.h
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-reference.c
  jerry-core/include/jerryscript-core.h
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/jcontext/jcontext.h
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser.c
  jerry-core/vm/opcodes.c
  jerry-core/vm/vm.c
  jerry-main/main-utils.c
  tests/debugger/do_variables.expected
  tests/jerry/es.next/realms1.js
  tests/jerry/es.next/realms2.js
  tests/jerry/es.next/realms3.js
  tests/jerry/regression-test-issue-2105.js
Labels: ES.next

#4358 Add cbc flush before statement parsing in constructors
  jerry-core/parser/js/js-parser.c
  tests/jerry/regression-test-issue-4238.js
Labels: ES.next, bug

#4364 Fix assert in BigInt TypedArray filter and reduce methods
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  tests/jerry/es.next/bigint-typedarray-prototype-filter.js
  tests/jerry/es.next/bigint-typedarray-prototype-reduce.js
Labels: ES.next, bug

#4362 Add missing BigInt type for value type query API
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  tests/unit-core/test-api-value-type.c
Labels: api

#4361 Correctly release wrapper object in JSON stringify
  jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  tests/jerry/es.next/json-stringify.js
Labels: bug

#4363 Add missing version information in API reference document
  docs/02.API-REFERENCE.md
Labels: documentation

#4368 Added new target support to Boolean, String, Number Object
  jerry-core/ecma/operations/ecma-boolean-object.c
  jerry-core/ecma/operations/ecma-conversion.c
  jerry-core/ecma/operations/ecma-conversion.h
  jerry-core/ecma/operations/ecma-number-object.c
  jerry-core/ecma/operations/ecma-string-object.c
  tests/jerry/es.next/new-target-for-boolean.js
  tests/jerry/es.next/new-target-for-number.js
  tests/jerry/es.next/new-target-for-string.js
  tests/test262-esnext-excludelist.xml
Labels: ES.next

#4367 Implement get proxy target
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  tests/unit-core/test-proxy.c
Labels: api

#4388 Update packages before installing them
  .github/workflows/gh-actions.yml
Labels: infrastructure
