Repository jerryscript-project/jerryscript, pull requests merged in 2020-07, with the labels that each got.

#3960 Symbol.prototype[Symbol.toPrimitive].length should be 1
  jerry-core/ecma/builtin-objects/ecma-builtin-symbol-prototype.inc.h
  tests/test262-es6-excludelist.xml
Labels: ES2015

#3961 Class accessors shouldn't be enumerable.
  jerry-core/vm/opcodes.c
  tests/test262-es6-excludelist.xml
Labels: ES2015

#3953 Fix Object.prototype.toLocaleString() and Array.prototype.toLocaleStr…
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object-prototype.c
  tests/test262-es6-excludelist.xml
Labels: ES.next, ecma builtins

#3933 Support symbol property names in Object.defineProperties
  jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  tests/jerry/es.next/object-define-properties.js
Labels: ES.next

#3955 Implement AsyncIteratorClose for for-await-of statement.
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/operations/ecma-async-generator-object.c
  jerry-core/ecma/operations/ecma-jobqueue.c
  jerry-core/vm/vm-stack.c
  jerry-core/vm/vm-stack.h
  jerry-core/vm/vm.c
  tests/jerry/es.next/for-await-of-iterator-close.js
Labels: ES.next

#3938 Fix JSON.stringify empty array replacer handling
  jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  tests/jerry/json-stringify.js
Labels: bug, ecma builtins

#3943 Improve the JSON C API
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  tests/unit-core/test-api.c
  tests/unit-core/test-common.h
  tests/unit-core/test-json.c
Labels: documentation, test

#3965 Speedup AppVeyor CI runtime
  appveyor.yml
Labels: infrastructure

#3967 Fix Date.prototype[@@toPrimitive] hint handling
  jerry-core/ecma/builtin-objects/ecma-builtin-date-prototype.c
  tests/jerry/es.next/date-prototype-toprimitive.js
  tests/test262-es6-excludelist.xml
Labels: ES2015, bug

#3954 Update Promise.race and Promise.all to ES11
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.c
  jerry-core/lit/lit-magic-strings.inc.h
  tests/jerry/es.next/promise-all-iterator.js
  tests/jerry/es.next/promise-race-iterator.js
  tests/jerry/es.next/regression-test-issue-3478.js
Labels: ES.next

#3717 Add simple stack measure for jerry-test
  jerry-main/CMakeLists.txt
  jerry-main/main-unix-test.c
Labels: stack usage, test

#3968 Implement ... support for object initializers.
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/parser/js/byte-code.c
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-scanner.c
  jerry-core/vm/opcodes.c
  jerry-core/vm/opcodes.h
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es.next/object-copy-data.js
Labels: ES.next

#3971 Fix the configuration of stack measurement in jerry-test
  jerry-main/CMakeLists.txt
Labels: stack usage

#3940 Support super property reference in object methods/accessors
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/parser/js/byte-code.c
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-mem.c
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-scanner-internal.h
  jerry-core/parser/js/js-scanner-ops.c
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
  jerry-core/parser/js/js-scanner.h
  jerry-core/vm/opcodes.c
  jerry-core/vm/opcodes.h
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es.next/object-literal-super.js
  tests/test262-es6-excludelist.xml
Labels: ES.next, interpreter, parser, pre-scanner

#3970 Fix namedaccessor property redefinition
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/vm/opcodes.c
  tests/jerry/es.next/object-property-redefiniton.js
Labels: ES2015, bug

#3829 Remove ECMA_TRY_CATCH macro
  jerry-core/ecma/builtin-objects/ecma-builtin-boolean-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-date-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-date.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers-sort.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  jerry-core/ecma/operations/ecma-conversion.c
  jerry-core/ecma/operations/ecma-try-catch-macro.h
  tests/jerry/es.next/date-construct.js
Labels: enhancement

#3963 Use the Invoke method where the ES10 standard says
  jerry-core/ecma/builtin-objects/ecma-builtin-date-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-promise-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/operations/ecma-objects.c
  tests/test262-es6-excludelist.xml
Labels: enhancement

#3981 Fixed memory leak in %TypedArray%.prototype object's 'sort' routine.
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  tests/jerry/es.next/regression-test-issue-3975.js
Labels: ES2015, bug, ecma builtins

#3928 Support Unicode supplementary planes
  jerry-core/ecma/base/ecma-helpers-string.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/lit/lit-char-helpers.c
  jerry-core/lit/lit-char-helpers.h
  jerry-core/lit/lit-unicode-conversions-sup.inc.h
  jerry-core/lit/lit-unicode-conversions.inc.h
  jerry-core/lit/lit-unicode-ranges-sup.inc.h
  jerry-core/lit/lit-unicode-ranges.inc.h
  tests/jerry/es.next/string-upper-lower-case-conversion.js
  tests/jerry/es.next/unicode-escape-identifiers.js
  tests/jerry/es5.1/string-upper-lower-case-conversion.js
  tests/jerry/string-upper-lower-case-conversion.js
  tests/test262-es6-excludelist.xml
  tools/gen-unicode.py
Labels: ES.next, ecma builtins, ecma core, enhancement

#3972 Make Date constructor conform to the latest spec
  jerry-core/ecma/builtin-objects/ecma-builtin-date.c
  tests/test262-es6-excludelist.xml
Labels: ES2015

#3966 Implement ToPropertyKey operation
  jerry-core/ecma/builtin-objects/ecma-builtin-object-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  jerry-core/ecma/builtin-objects/ecma-builtin-reflect.c
  jerry-core/ecma/operations/ecma-conversion.c
  jerry-core/ecma/operations/ecma-conversion.h
  jerry-core/vm/opcodes-ecma-relational-equality.c
  jerry-core/vm/opcodes.c
  jerry-core/vm/vm.c
  tests/jerry/es.next/to-property-key.js
  tests/test262-es6-excludelist.xml
Labels: ES.next, ES2015

#3988 Fix Object.assign to call [[GetOwnProperty]] Proxy handler only once
  jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  tests/jerry/es.next/proxy_get_own_property_descriptor.js
Labels: bug

#3990 LEXER_ASSIGN_GROUP_EXPR should not be emitted when parsing LHS expression
  jerry-core/parser/js/js-parser-expr.c
  tests/jerry/es.next/regression-test-issue-3935.js
Labels: bug

#3983 Add missing isArray checks based on the ES11 standard
  jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  tests/jerry/es.next/regression-test-issue-3945.js
  tests/jerry/es.next/regression-test-issue-3950.js
Labels: bug

#3985 Rework promise internal structures
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.c
  jerry-core/ecma/operations/ecma-jobqueue.c
  jerry-core/ecma/operations/ecma-promise-object.c
  jerry-core/ecma/operations/ecma-promise-object.h
  jerry-core/lit/lit-magic-strings.h
Labels: enhancement

#3986 Update the NuttX-STM32 documentation
  targets/nuttx-stm32f4/Makefile.travis
  targets/nuttx-stm32f4/README.md
Labels: targets

#3969 Remove ecma_op_object_get_own_data_prop and use ecma_op_object_get_by_magic_id
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-objects.h
  jerry-core/ecma/operations/ecma-regexp-object.c
Labels: ES2015

#3993 Implement Object.{entries, values} built-in methods
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object.inc.h
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-objects.h
  tests/jerry/es.next/object-entries.js
  tests/jerry/es.next/object-keys.js
  tests/jerry/es.next/object-values.js
Labels: ES.next

#3996 Date.protoype.toJSON should look for toISOString once
  jerry-core/ecma/builtin-objects/ecma-builtin-date-prototype.c
  tests/jerry/date-tojson.js
  tests/jerry/es.next/proxy-date-prototype-json.js
Labels: ES2015, bug

#3991 Implement Array.prototype.includes
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.inc.h
  jerry-core/lit/lit-magic-strings.inc.h
  tests/jerry/es.next/array-prototype-includes.js
Labels: ES.next

#4006 Fix GetCapabilitiesExecutor function
  jerry-core/ecma/operations/ecma-promise-object.c
Labels: bug

#3997 New feature - Nullish (??) operator
  jerry-core/parser/js/byte-code.c
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-lexer.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-mem.c
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.h
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es.next/nullish-coalescing.js
Labels: ES.next

#4011 Global @@match result array should always contain strings
  jerry-core/ecma/operations/ecma-regexp-object.c
  tests/jerry/es.next/regexp-prototype-match.js
Labels: ES2015, bug, ecma builtins

#4003 Update @@search to conform to ES11 standard
  jerry-core/ecma/operations/ecma-regexp-object.c
  tests/jerry/es.next/symbol-search.js
  tests/test262-es6-excludelist.xml
Labels: ES.next, ecma builtins

#4002 Restore previous group start after a failed non-capturing group
  jerry-core/ecma/operations/ecma-regexp-object.c
  tests/jerry/regression-test-issue-3934.js
Labels: bug, ecma builtins

#4005 Fix sticky flag handling in @@replace
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.h
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/lit/lit-magic-strings.inc.h
  tests/jerry/es.next/symbol-replace.js
  tests/jerry/string-prototype-replace.js
  tests/test262-es6-excludelist.xml
Labels: ES.next, ecma builtins

#3995 Implement Symbol.prototype.description
  jerry-core/ecma/builtin-objects/ecma-builtin-symbol-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-symbol-prototype.inc.h
  jerry-core/ecma/operations/ecma-symbol-object.c
  jerry-core/ecma/operations/ecma-symbol-object.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  tests/jerry/es.next/symbol-prototype-description.js
Labels: ES.next

#3959 Implement UnicodeEscape abstract method
  jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  jerry-core/lit/lit-char-helpers.c
  jerry-core/lit/lit-char-helpers.h
  tests/jerry/es.next/json-stringify.js
Labels: ES.next

#4004 Update RegExp unicode mode case folding to conform to the standard
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/lit/lit-char-helpers.c
  jerry-core/lit/lit-char-helpers.h
  jerry-core/lit/lit-unicode-conversions.inc.h
  jerry-core/lit/lit-unicode-folding.inc.h
  tests/jerry/es.next/regexp-unicode.js
  tests/test262-es6-excludelist.xml
  tools/gen-unicode.py
  tools/pylint/pylintrc
Labels: ES2015, ecma builtins

#3911 Refactor Number.prototype methods toFixed, toExponential, toPrecision
  jerry-core/ecma/base/ecma-helpers-conversion.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-number-prototype.c
  tests/jerry/number-prototype-to-exponential.js
  tests/jerry/number-prototype-to-fixed.js
  tests/jerry/number-prototype-to-precision.js
Labels: ecma builtins

#3979 Add custom Regexp.prototype dispatcher
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.inc.h
Labels: enhancement

#4008 Fix word boundary assertions with both unicode and ignoreCase flags
  jerry-core/ecma/operations/ecma-regexp-object.c
  tests/jerry/es.next/regexp-unicode.js
Labels: ES2015, ecma builtins

#4010 Update lastIndex handling in RegExpBuiltinExec
  jerry-core/ecma/operations/ecma-regexp-object.c
  tests/jerry/es.next/regexp-lastindex.js
  tests/jerry/es5.1/regexp-lastindex.js
  tests/jerry/regexp-routines.js
  tests/test262-es6-excludelist.xml
Labels: ES.next, ecma builtins

#4022 Add missing error check to ecma_builtin_regexp_prototype_compile
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.c
  tests/jerry/es.next/regression-test-issue-4017.js
Labels: bug

#4028 Implement external strings.
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/ecma/base/ecma-alloc.c
  jerry-core/ecma/base/ecma-alloc.h
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers-string.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/include/jerryscript-core.h
  tests/unit-core/test-external-string.c
Labels: api, ecma core, enhancement

#4035 Update Mbed OS target to 5.15.4
  targets/mbedos5/mbed-os.lib
  targets/mbedos5/tools/generate_pins.py
  targets/mbedos5/tools/requirements.txt
Labels: infrastructure

#3998 Fix tagged template literal call precedence for new operator
  jerry-core/parser/js/js-parser-expr.c
  tests/jerry/es.next/tagged-template-literal.js
  tests/test262-es6-excludelist.xml
Labels: ES2015, bug, parser

#3999 Implement String.padStart and String.padEnd
  jerry-core/ecma/base/ecma-helpers-string.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.inc.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  tests/jerry/es.next/string-prototype-padding.js
Labels: ES.next

#3987 Implement Promise.prototype.onFinally
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/builtin-objects/ecma-builtin-promise-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-promise-prototype.inc.h
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-promise-object.c
  jerry-core/ecma/operations/ecma-promise-object.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  tests/jerry/es.next/promise-on-finally.js
Labels: ES.next

#4024 Fix values of properties that reference intrinsic function objects
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-array-iterator-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-date-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-date-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-intrinsic.c
  jerry-core/ecma/builtin-objects/ecma-builtin-intrinsic.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-map-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-set-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.inc.h
  jerry-core/ecma/operations/ecma-array-object.c
  jerry-core/ecma/operations/ecma-array-object.h
  jerry-core/ecma/operations/ecma-container-object.c
  jerry-core/ecma/operations/ecma-container-object.h
  jerry-core/ecma/operations/ecma-iterator-object.c
  jerry-core/ecma/operations/ecma-iterator-object.h
  jerry-core/ecma/operations/ecma-typedarray-object.c
  jerry-core/ecma/operations/ecma-typedarray-object.h
  jerry-core/lit/lit-magic-strings.h
  jerry-core/lit/lit-magic-strings.inc.h
  tests/jerry/es.next/intrinsic-properties.js
  tests/test262-es6-excludelist.xml
  tools/gen-magic-strings.py
Labels: ES.next, ecma builtins

#4000 Added dotAll flag
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.inc.h
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/ecma/operations/ecma-regexp-object.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/regexp/re-bytecode.h
  jerry-core/parser/regexp/re-compiler.c
  tests/jerry/es.next/regexp-dotAll.js
Labels: ES.next

#4031 Fix argument bounday check order in ecma_builtin_number_prototype_object_to_number_convert
  jerry-core/ecma/builtin-objects/ecma-builtin-number-prototype.c
  tests/jerry/number-prototype-to-precision.js
Labels: bug

#4038 Invalid regexp patters should not throw syntax error during parsing
  jerry-core/parser/js/byte-code.c
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.c
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es.next/regression-test-issue-2058.js
  tests/jerry/es5.1/regression-test-issue-2058.js
Labels: interpreter, parser

#4041 Fix the length values of Promise built-in functions
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-promise-object.c
  jerry-core/ecma/operations/ecma-promise-object.h
  tests/test262-es6-excludelist.xml
Labels: ES2015, ecma builtins

#4025 Implement %TypedArray%.prototype.includes
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.inc.h
  jerry-core/lit/lit-magic-strings.inc.h
  tests/jerry/es.next/typedarray-prototype-includes.js
Labels: ES.next

#4060 Fix new.target saving in OrdinaryObject.[[Construct]]
  jerry-core/ecma/operations/ecma-function-object.c
  tests/jerry/es.next/regression-test-issue-4059.js
Labels: bug

#4063 Remove invalid assertion from parser_flush_cbc
  jerry-core/parser/js/js-parser-util.c
  tests/jerry/es.next/regression-test-issue-4054.js
Labels: bug, lexer

#4064 Fix error handling in SetIntegrityLevel
  jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  tests/jerry/es.next/regression-test-issue-4052.js
Labels: bug

#4069 Correctly free descriptors in Object.assign
  jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  tests/jerry/es.next/regression-test-issue-4048.js
Labels: bug

#4075 Fix TypedArray construction with incorrect offset
  jerry-core/ecma/operations/ecma-typedarray-object.c
  tests/jerry/es.next/typedarray-offset-modulo.js
Labels: ES2015, bug

#4074 Fix invalid destructuring function arguments parsing
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser.c
  tests/jerry/es.next/regression-test-issue-4016-4019.js
Labels: bug

#4072 BoundFunctions [[Length]] property should be ecma_number_t
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-function-prototype.c
  jerry-core/ecma/operations/ecma-function-object.c
  tests/jerry/es.next/regression-test-issue-4043.js
Labels: bug

#4071 Update Array.prototype.concat error handling to ES11
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  tests/jerry/es.next/regression-test-issue-4044.js
Labels: bug

#4068 Fix a use-after-free in RegExp.prototype.compile
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.c
  tests/jerry/regression-test-issue-4056.js
Labels: bug, ecma builtins

#4037 Improve source file handling in jerry-main
  jerry-main/CMakeLists.txt
  jerry-main/cli.c
  jerry-main/cli.h
  jerry-main/main-options.c
  jerry-main/main-options.h
  jerry-main/main-unix-snapshot.c
  jerry-main/main-unix.c
  jerry-main/main-utils.c
  jerry-main/main-utils.h
  jerry-port/default/default-module.c
  tests/debugger/do_abort.expected
  tests/debugger/do_throw.expected
  tests/debugger/do_throw_adv.expected
Labels: jerry-main

#4070 Fix argument list end validation after destructuring argument
  jerry-core/parser/js/js-parser.c
  tests/jerry/es.next/regression-test-issue-4050.js
Labels: bug, parser

#4067 Fix scope stack lookup for literal indices
  jerry-core/parser/js/js-scanner-util.c
  tests/jerry/es.next/regression-test-issue-4051.js
Labels: bug, parser

#4061 Indentifier should be expected after `static` in class body.
  jerry-core/parser/js/js-parser-expr.c
  tests/jerry/es.next/regression-test-issue-4055.js
Labels: bug, parser

#4073 Fix surrogate pair lookahead in String.prototype.toUpper
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  tests/jerry/es.next/regression-test-issue-4013.js
Labels: bug

#4007 Update ToLength operation to conform ES6 spec
  jerry-core/api/jerry.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers-string.c
  jerry-core/ecma/base/ecma-helpers-value.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-array-iterator-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array.c
  jerry-core/ecma/builtin-objects/ecma-builtin-arraybuffer-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-function-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  jerry-core/ecma/operations/ecma-array-object.c
  jerry-core/ecma/operations/ecma-array-object.h
  jerry-core/ecma/operations/ecma-container-object.c
  jerry-core/ecma/operations/ecma-conversion.c
  jerry-core/ecma/operations/ecma-conversion.h
  jerry-core/ecma/operations/ecma-dataview-object.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-objects.h
  jerry-core/ecma/operations/ecma-promise-object.c
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/ecma/operations/ecma-typedarray-object.c
  tests/jerry/es.next/string-prototype-split.js
  tests/jerry/es.next/to-length.js
  tests/test262-es6-excludelist.xml
  tests/unit-core/test-to-length.c
Labels: ES2015

#4062 Implement BigInt primitve type and some of its operations
  jerry-core/api/jerry.c
  jerry-core/config.h
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers-value.c
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-bigint-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-bigint-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-bigint.c
  jerry-core/ecma/builtin-objects/ecma-builtin-bigint.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-global.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtins.inc.h
  jerry-core/ecma/operations/ecma-big-uint.c
  jerry-core/ecma/operations/ecma-big-uint.h
  jerry-core/ecma/operations/ecma-bigint-object.c
  jerry-core/ecma/operations/ecma-bigint-object.h
  jerry-core/ecma/operations/ecma-bigint.c
  jerry-core/ecma/operations/ecma-bigint.h
  jerry-core/ecma/operations/ecma-conversion.c
  jerry-core/ecma/operations/ecma-get-put-value.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/include/jerryscript-core.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  jerry-core/vm/opcodes-ecma-arithmetics.c
  jerry-core/vm/opcodes-ecma-bitwise.c
  tests/jerry/es.next/bigint1.js
  tests/jerry/es.next/bigint2.js
Labels: ES.next

#4066 Fix prototype chain traversal in ecma_op_object_put_with_receiver
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/es.next/regression-test-issue-4045.js
Labels: bug

#4086 Fix TypeError name property value
  jerry-core/ecma/builtin-objects/ecma-builtin-typeerror.inc.h
  tests/jerry/es.next/error-names.js
Labels: bug

#4032 Implement Object.prototype.{__defineGetter__, __defineSetter__}
  jerry-core/ecma/builtin-objects/ecma-builtin-object-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object-prototype.inc.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  tests/jerry/es.next/object-prototype-define-getter.js
  tests/jerry/es.next/object-prototype-define-setter.js
Labels: ES.next

#4083 Improve case conversion related fast paths
  jerry-core/lit/lit-char-helpers.c
Labels: enhancement, performance

#4081 Make sure modules are evaluated when creating a namespace object
  jerry-core/ecma/base/ecma-module.c
  tests/jerry/es.next/module-export-08.js
  tests/jerry/es.next/module-import-05.js
Labels: ES2015, bug

#4080 Fix block-scoped var/function redeclarations
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
  tests/jerry/es.next/block-var-redecl.js
  tests/test262-es6-excludelist.xml
  tests/test262-esnext-excludelist.xml
Labels: ES.next, pre-scanner
