Repository jerryscript-project/jerryscript, pull requests merged in 2020-11, with the labels that each got.

#4320 Fix the ESNext build with disabled JERRY_BUILTIN_PROXY
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/builtin-objects/ecma-builtin-handlers.inc.h
  jerry-core/ecma/operations/ecma-objects.c
  tools/run-tests.py
Labels: hacktoberfest-accepted

#4245 Implement from and to property descriptor API function
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  tests/unit-core/test-from-property-descriptor.c
  tests/unit-core/test-to-property-descriptor.c
Labels: api

#4266 Fix await parsing in modules
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser.c
  tests/jerry/fail/module-036.js
  tests/jerry/fail/module-037.js
  tests/jerry/fail/module-await-001.js
  tests/jerry/fail/module-export-001.js
Labels: ES.next, hacktoberfest-accepted, parser

#4330 Fix tabulation of configuration messages
  CMakeLists.txt
  jerry-ext/CMakeLists.txt
  jerry-main/CMakeLists.txt
Labels: tools

#4332 Fix name of install directory of jerry-libm header(s)
  jerry-libm/CMakeLists.txt
Labels: jerry-libm

#4331 Drop the minimal variant of the default port implementation
  jerry-core/libjerry-core.pc.in
  jerry-main/CMakeLists.txt
  jerry-port/default/CMakeLists.txt
  jerry-port/default/default-io.c
  jerry-port/default/libjerry-port-default-minimal.pc.in
  jerry-port/default/libjerry-port-default.pc.in
  targets/esp-idf/io.c
  targets/riot-stm32f4/Makefile
  targets/riot-stm32f4/Makefile.riot
  tests/unit-core/CMakeLists.txt
  tests/unit-doc/CMakeLists.txt
  tests/unit-ext/CMakeLists.txt
  tests/unit-ext/module/CMakeLists.txt
Labels: jerry-port

#4339 Variables created by eval in strict mode should ignore the properties of their parent function.
  jerry-core/parser/js/js-scanner-util.c
  tests/jerry/es.next/regresssion-test-issue-4018.js
Labels: bug

#4246 Extend Jerry API & API documentation with regex flags
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  tests/unit-core/test-regexp-dotall-unicode.c
Labels: api

#4305 Fix the indexing problem in typedarray_prototype_index_of & last_index_of.
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  tests/test262-esnext-excludelist.xml
Labels: bug, ecma builtins, hacktoberfest-accepted

#4338 Implement rest parameter support for destructuring object patterns in for
  jerry-core/parser/js/js-parser-statm.c
  tests/jerry/es.next/object-pattern2.js
  tests/test262-esnext-excludelist.xml
Labels: test262

#4333 Add script to extract JerryScript version from headers
  CMakeLists.txt
  jerry-core/libjerry-core.pc.in
  jerry-ext/libjerry-ext.pc.in
  jerry-libm/libjerry-libm.pc.in
  jerry-port/default/libjerry-port-default.pc.in
  tools/version.py
Labels: tools

#4264 Correctly handle the Proxy IsCallable and IsConstructor information
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-proxy-object.c
  tests/jerry/es.next/proxy_flags.js
  tests/test262-esnext-excludelist.xml
Labels: ES.next, ES2015, hacktoberfest-accepted

#4325 Implement asInteger, asUint32 and asInt32 jerry api methods
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  tests/unit-core/test-number-converter.c
Labels: api

#4343 Use correct flag when checking for static snapshot in arguments object
  jerry-core/ecma/operations/ecma-arguments-object.c
Labels: bug

#4345 Correctly mark the arguments.callee value in gc
  jerry-core/ecma/base/ecma-gc.c
Labels: bug

#4328 Constructor check should return false for arrow and generator functions
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-function-object.h
  jerry-core/vm/opcodes.c
  jerry-core/vm/vm.c
  tests/test262-esnext-excludelist.xml
Labels: ES.next

#4323 Fix the optional argument problem in typedarray_prototype_reduce_...
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  tests/test262-esnext-excludelist.xml
Labels: test262
