Repository jerryscript-project/jerryscript, pull requests merged in 2020-02, with the labels that each got.

#3541 For in-of declaration should only throw error after initialization.
  jerry-core/parser/js/js-parser-statm.c
  tests/jerry/es2015/forin-header-strict.js
Labels: bug, parser

#3539 Fix 'arguments' and 'caller' properties lazy listing in ES2015 profile
  jerry-core/ecma/operations/ecma-function-object.c
  tests/jerry/es2015/function-properties.js
  tests/jerry/es2015/regression-test-issue-3536.js
Labels: ES2015, bug

#3537 Foreach API methods should not iterate over internal objects
  jerry-core/api/jerry.c
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/lit/lit-magic-strings.h
  tests/unit-core/test-objects-foreach.c
Labels: api

#3542 Add a few missing api version documentation
  docs/02.API-REFERENCE.md
Labels: documentation

#3547 Update API version to 2.2.0
  jerry-core/include/jerryscript-core.h
Labels: api

#3550 [[Prototype]] object's reference count should be increased by jerry_get_prototype
  jerry-core/api/jerry.c
  tests/unit-core/test-api.c
Labels: api, bug

#3501 Update ecma_op_typedarray_from to use iterable objects
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  jerry-core/ecma/operations/ecma-typedarray-object.c
  tests/jerry/es2015/typedarray-from.js
Labels: ES2015

#3560 Use stringbuilder in ecma_get_symbol_descriptive_string
  jerry-core/ecma/operations/ecma-symbol-object.c
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
Labels: enhancement

#3543 Implement EscapeRegExpPattern method
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.c
  tests/jerry/es2015/regexp-prototype-source.js
Labels: ES2015, ecma builtins

#3565 Fix third parameter of forEach callback function in Map and Set
  jerry-core/ecma/operations/ecma-container-object.c
  tests/jerry/es2015/map-prototype-foreach.js
  tests/jerry/es2015/set.js
Labels: ES2015, bug, ecma builtins

#3551 Remove vm_init_loop
  jerry-core/parser/js/byte-code.h
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
Labels: enhancement, interpreter, performance

#3558 Fix lexical scoping between scripts
  jerry-core/api/jerry-snapshot.c
  jerry-core/ecma/base/ecma-init-finalize.c
  jerry-core/ecma/base/ecma-module.c
  jerry-core/ecma/base/ecma-module.h
  jerry-core/ecma/operations/ecma-lex-env.c
  jerry-core/ecma/operations/ecma-lex-env.h
  jerry-core/ecma/operations/ecma-reference.c
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/jcontext/jcontext.h
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-module.c
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-scanner-internal.h
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  jerry-main/main-unix.c
  tests/unit-core/test-api.c
  tests/unit-core/test-snapshot.c
Labels: ES2015

#3549 Implement new Reflect methods
  jerry-core/ecma/builtin-objects/ecma-builtin-reflect.c
  jerry-core/ecma/builtin-objects/ecma-builtin-reflect.inc.h
  jerry-core/ecma/operations/ecma-conversion.c
  jerry-core/ecma/operations/ecma-conversion.h
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-objects.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  tests/jerry/es2015/reflect-construct.js
  tests/jerry/es2015/reflect-deleteproperty.js
  tests/jerry/es2015/reflect-get.js
  tests/jerry/es2015/reflect-has.js
  tests/jerry/es2015/reflect-own-keys.js
  tests/jerry/es2015/reflect-set.js
Labels: ES2015

#3581 Fix Symbol properties descriptors.
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers-macro-defines.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-internal-routines-template.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-symbol.inc.h
  tests/jerry/es2015/symbol.js
Labels: ES2015, bug

#3582 Remove ECMA_OBJECT_TYPE_ARROW
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-function-object.h
  jerry-core/ecma/operations/ecma-objects.c
Labels: ecma core

#3562 Implement the core of Proxy object
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/config.h
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers-external-pointers.c
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/base/ecma-module.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-function-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-global.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  jerry-core/ecma/builtin-objects/ecma-builtin-proxy.c
  jerry-core/ecma/builtin-objects/ecma-builtin-proxy.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-reflect.c
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/ecma/builtin-objects/ecma-builtins.inc.h
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-get-put-value.c
  jerry-core/ecma/operations/ecma-lex-env.c
  jerry-core/ecma/operations/ecma-lex-env.h
  jerry-core/ecma/operations/ecma-objects-general.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-objects.h
  jerry-core/ecma/operations/ecma-proxy-object.c
  jerry-core/ecma/operations/ecma-proxy-object.h
  jerry-core/ecma/operations/ecma-reference.c
  jerry-core/include/jerryscript-core.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  jerry-core/parser/js/js-parser-tagged-template-literal.c
  jerry-core/vm/opcodes-ecma-relational-equality.c
  jerry-core/vm/opcodes.c
  jerry-core/vm/opcodes.h
  jerry-core/vm/vm.c
  tests/jerry/es2015/proxy_call.js
  tests/jerry/es2015/proxy_construct.js
  tests/jerry/es2015/proxy_create.js
  tests/jerry/es2015/proxy_define_own_property.js
  tests/jerry/es2015/proxy_delete.js
  tests/jerry/es2015/proxy_get.js
  tests/jerry/es2015/proxy_get_own_property_descriptor.js
  tests/jerry/es2015/proxy_get_prototoype_of.js
  tests/jerry/es2015/proxy_has.js
  tests/jerry/es2015/proxy_is_extensible.js
  tests/jerry/es2015/proxy_own_keys.js
  tests/jerry/es2015/proxy_prevent_extensions.js
  tests/jerry/es2015/proxy_revocable.js
  tests/jerry/es2015/proxy_set.js
  tests/jerry/es2015/proxy_set_prototoype_of.js
  tests/jerry/fail/regression-test-issue-1387.js
  tests/unit-core/test-api-property.c
  tests/unit-core/test-api.c
Labels: ES2015, api, ecma builtins, ecma core
