Repository jerryscript-project/jerryscript, pull requests merged in 2020-03, with the labels that each got.

#3590 Fix argument flags when invoking native function via construct
  jerry-core/ecma/operations/ecma-function-object.c
  tests/jerry/es2015/regression-test-issue-3588.js
  tests/unit-core/test-regression-3588.c
Labels: ES2015, bug

#3571 Fix object destructuring for empty pattern
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es2015/object-pattern.js
  tests/unit-core/test-snapshot.c
Labels: ES2015

#3502 Add Map, Set, WeakMap, WeakSet basic functionality to the API
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/include/jerryscript-core.h
  tests/unit-core/test-container.c
Labels: api

#3602 Fix setting integrity level, when object has Symbol properties
  jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  tests/jerry/es2015/object-freeze-with-symbol.js
  tests/jerry/es2015/object-seal-with-symbol.js
Labels: ES2015, ecma core

#3604 Implement Proxy object [[Get]] internal method
  jerry-core/ecma/operations/ecma-proxy-object.c
  tests/jerry/es2015/proxy_create.js
  tests/jerry/es2015/proxy_get.js
  tests/jerry/es2015/proxy_revocable.js
  tests/jerry/es2015/proxy_set.js
Labels: ES2015

#3609 Implement Proxy object [[Call]] internal method
  jerry-core/ecma/operations/ecma-proxy-object.c
  tests/jerry/es2015/proxy_call.js
Labels: ES2015

#3603 Fix some style issues in the python debugger client.
  jerry-debugger/jerry_client.py
  jerry-debugger/jerry_client_main.py
  tests/debugger/do_src.expected
Labels: debugger, style

#3607 Fix the lazy listing of builtin property names
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/es2015/regression-test-issue-3606.js
Labels: bug

#3605 Implement Proxy object [[Set]] internal method
  jerry-core/ecma/operations/ecma-proxy-object.c
  tests/jerry/es2015/proxy_set.js
Labels: ES2015

#3599 Implement Proxy object [[isExtensible]] internal method
  jerry-core/ecma/operations/ecma-proxy-object.c
  tests/jerry/es2015/proxy_is_extensible.js
Labels: ES2015

#3598 Rework the core of class parsing/runtime semantic
  jerry-core/api/jerry-snapshot.c
  jerry-core/api/jerry.c
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers-collection.c
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-array.c
  jerry-core/ecma/builtin-objects/ecma-builtin-global.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers-error.c
  jerry-core/ecma/builtin-objects/ecma-builtin-reflect.c
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/ecma/builtin-objects/ecma-builtins.h
  jerry-core/ecma/operations/ecma-array-object.c
  jerry-core/ecma/operations/ecma-eval.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-function-object.h
  jerry-core/ecma/operations/ecma-get-put-value.c
  jerry-core/ecma/operations/ecma-lex-env.c
  jerry-core/ecma/operations/ecma-lex-env.h
  jerry-core/ecma/operations/ecma-promise-object.c
  jerry-core/ecma/operations/ecma-proxy-object.c
  jerry-core/ecma/operations/ecma-proxy-object.h
  jerry-core/ecma/operations/ecma-reference.c
  jerry-core/ecma/operations/ecma-reference.h
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/ecma/operations/ecma-typedarray-object.c
  jerry-core/lit/lit-magic-strings.h
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-parser.h
  jerry-core/parser/js/js-scanner-internal.h
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
  jerry-core/parser/js/js-scanner.h
  jerry-core/vm/opcodes.c
  jerry-core/vm/opcodes.h
  jerry-core/vm/vm-stack.c
  jerry-core/vm/vm-stack.h
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es2015/class-inheritance-has-instance.js
  tests/jerry/es2015/class-inheritance-inner-class.js
  tests/jerry/es2015/class.js
Labels: ES2015, enhancement

#3610 Conditional expression should be parsed as AssignmentExpression
  jerry-core/parser/js/js-parser-expr.c
  tests/jerry/regression-test-issue-3553.js
  tests/jerry/regression-test-issue-3608.js
Labels: bug, parser

#3612 Implement helper method for Proxy object internals
  jerry-core/ecma/operations/ecma-proxy-object.c
Labels: ES2015

#3613 Spread operator should not update the scanner context's binding type
  jerry-core/parser/js/js-scanner.c
  tests/jerry/es2015/regression-test-issue-3595.js
Labels: bug, pre-scanner

#3614 Fix for-in/off block context initialization for empty destructuring patterns
  jerry-core/parser/js/js-parser-statm.c
  tests/jerry/es2015/regression-test-issue-3611.js
Labels: bug, parser

#3594 Fix assignment validation in parser_append_binary_token
  jerry-core/parser/js/js-parser-expr.c
  tests/jerry/es2015/regression-test-issue-3589.js
Labels: bug, parser

#3600 Use array based storage in container objects
  jerry-core/api/jerry.c
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers-string.c
  jerry-core/ecma/operations/ecma-container-object.c
  jerry-core/ecma/operations/ecma-container-object.h
  jerry-core/lit/lit-magic-strings.h
  tests/jerry/es2015/map-iterators.js
  tests/jerry/es2015/set-iterators.js
  tests/jerry/es2015/weakmap.js
Labels: ES2015, enhancement

#3620 Impelement Proxy object [[preventExtensions]] internal method
  jerry-core/ecma/operations/ecma-proxy-object.c
  tests/jerry/es2015/proxy_prevent_extensions.js
Labels: ES2015

#3616 Implement Proxy object [[Delete]] internal method
  jerry-core/ecma/operations/ecma-proxy-object.c
  jerry-core/lit/lit-magic-strings.inc.h
  tests/jerry/es2015/proxy_delete.js
Labels: ES2015

#3626 Add missing ecma_free_value to opfunc_init_class
  jerry-core/vm/opcodes.c
  tests/jerry/es2015/regression-test-issue-3625.js
Labels: bug

#3624 Update the webpage
  02.API-REFERENCE.md
Labels: documentation

#3633 Add a Proxy C unittest
  tests/unit-core/test-proxy.c
Labels: ES2015, test

#3623 Implement Proxy object [[getPrototypeOf]] internal method
  jerry-core/ecma/operations/ecma-proxy-object.c
  tests/jerry/es2015/proxy_get_prototoype_of.js
  tests/unit-core/test-api.c
Labels: ES2015

#3538 Update the RegExp constructor to ECMA-262 v6
  jerry-core/api/jerry.c
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-objects.h
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/ecma/operations/ecma-regexp-object.h
  jerry-core/lit/lit-magic-strings.h
  jerry-core/vm/vm.c
  tests/jerry/es2015/regexp-construct.js
Labels: ES2015, enhancement

#3576 Implement Number.parseFloat, Number.parseInt
  jerry-core/ecma/base/ecma-helpers-number.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-global.c
  jerry-core/ecma/builtin-objects/ecma-builtin-global.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-intrinsic.c
  jerry-core/ecma/builtin-objects/ecma-builtin-intrinsic.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-number.inc.h
  jerry-core/lit/lit-magic-strings.inc.h
  tests/jerry/es2015/number-methods.js
Labels: ES2015

#3631 Implement Proxy object [[setPrototypeOf]] internal method
  jerry-core/ecma/operations/ecma-proxy-object.c
  jerry-core/lit/lit-magic-strings.inc.h
  tests/jerry/es2015/proxy_set_prototoype_of.js
  tests/unit-core/test-api.c
Labels: ES2015

#3632 Fix VLA error in strings unittest
  tests/unit-core/test-api-strings.c
Labels: minor, test

#3638 Change the arguments list in ecma_builtin_array_reduce_from .
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
Labels: enhancement

#3643 Remove JERRY_CONTEXT_INVALID_NEW_TARGET
  jerry-core/api/jerry.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-init-finalize.c
  jerry-core/ecma/operations/ecma-eval.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/jcontext/jcontext.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-parser.c
  jerry-core/vm/opcodes.c
  jerry-core/vm/vm.c
  tests/jerry/es2015/regression-test-issue-3630.js
  tests/jerry/es2015/regression-test-issue-3640.js
  tests/jerry/es2015/regression-test-issue-3641.js
Labels: bug

#3644 Fix invalid free in ecma_op_function_get_super_constructor
  jerry-core/ecma/operations/ecma-function-object.c
  tests/jerry/es2015/regression-test-issue-3636.js
Labels: bug

#3645 Fix heap-buffer-overflow in ecma_collection_append
  jerry-core/ecma/base/ecma-helpers-collection.c
  tests/jerry/es2015/regression-test-issue-3628.js
Labels: bug

#3642 Implement Proxy object [[HasProperty]] internal method
  jerry-core/ecma/operations/ecma-proxy-object.c
  jerry-core/lit/lit-magic-strings.inc.h
  tests/jerry/es2015/proxy_delete.js
  tests/jerry/es2015/proxy_has.js
Labels: ES2015

#3546 Implement Object.prototype.__proto__ accessor property
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-internal-routines-template.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-object-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.h
  jerry-core/vm/vm.c
  tests/jerry/es2015/object-prototype-proto.js
Labels: ES2015

#3652 CBC_PUSH_THIS should not be mutated in array literal parsing.
  jerry-core/parser/js/js-parser-expr.c
  tests/jerry/regression-test-issue-3650.js
Labels: bug

#3649 Fix Array.slice when using fast arrays
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  tests/jerry/es2015/regression-test-issue-3637.js
  tests/jerry/es5.1/regression-test-issue-3637.js
Labels: bug

#3037 Bump reference platform to Ubuntu 18.04 LTS
  .travis.yml
  docs/00.GETTING-STARTED.md
  jerry-core/ecma/base/ecma-helpers-number.c
  jerry-core/ecma/base/ecma-helpers-value.c
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/jmem/jmem-heap.c
  jerry-debugger/jerry_client.py
  jerry-debugger/jerry_client_main.py
  jerry-ext/handler/handler-register.c
  jerry-libm/acos.c
  jerry-libm/asin.c
  jerry-libm/atan2.c
  jerry-libm/exp.c
  jerry-libm/fmod.c
  jerry-libm/pow.c
  jerry-libm/sqrt.c
  jerry-main/cli.c
  jerry-main/main-unix-snapshot.c
  jerry-main/main-unix.c
  tests/unit-core/test-arraybuffer.c
  tests/unit-core/test-typedarray.c
  tools/check-cppcheck.sh
  tools/cppcheck/suppressions-list
  tools/run-tests.py
Labels: infrastructure
