Repository jerryscript-project/jerryscript, pull requests merged in 2020-09, with the labels that each got.

#4152 Fix whitespaces in BigInt constructor
  jerry-core/ecma/operations/ecma-bigint.c
  tests/test262-esnext-excludelist.xml
Labels: ES.next, bug

#4178 Correctly set the define property flags during [[Set] in case of Proxy
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/es.next/proxy_set.js
  tests/test262-esnext-excludelist.xml
Labels: ES2015, bug

#4180 Correctly handle strict mode in case of Proxy.[[Set]]
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-proxy-object.c
  jerry-core/ecma/operations/ecma-proxy-object.h
  tests/test262-esnext-excludelist.xml
Labels: ES2015, bug

#4172 Refactor Array.prototype.splice to conform ES11 standard
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  tests/test262-esnext-excludelist.xml
Labels: ES.next

#4182 Allow parallel test execution in test262 for ES2015 and ESNEXT
  tools/runners/test262-harness.py
Labels: test, tools

#4198 Convert fast array to normal array when the prototype is changed
  jerry-core/ecma/operations/ecma-objects.c
  tests/test262-esnext-excludelist.xml
Labels: ES.next

#4201 Update NuttX repository URLs
  targets/nuttx-stm32f4/Makefile.travis
Labels: targets, tools

#4184 Improve support for built-in native handlers
  jerry-core/api/jerry.c
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-handlers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-handlers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-handlers.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-function-object.h
  jerry-core/ecma/operations/ecma-jobqueue.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-promise-object.c
  jerry-core/ecma/operations/ecma-promise-object.h
  jerry-core/ecma/operations/ecma-proxy-object.c
  jerry-core/lit/lit-magic-strings.h
  jerry-core/vm/opcodes.c
  jerry-core/vm/vm.c
  tests/test262-esnext-excludelist.xml
Labels: ES.next, ecma core, enhancement

#4202 Update Promise.all/race to ES11
  jerry-core/ecma/builtin-objects/ecma-builtin-promise.c
  tests/test262-es6-excludelist.xml
  tests/test262-esnext-excludelist.xml
Labels: ES.next, ecma builtins

#4224 Fix continue label lookup in for statements that have a private scope
  jerry-core/parser/js/js-parser-statm.c
  tests/test262-es6-excludelist.xml
  tests/test262-esnext-excludelist.xml
Labels: ES2015, ecma core

#4227 Legacy octal escapes should not be allowed in template strings
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.h
  tests/test262-es6-excludelist.xml
  tests/test262-esnext-excludelist.xml
Labels: ES2015, ecma core

#4209 Do module cleanup at a later stage
  jerry-core/api/jerry.c
  jerry-core/vm/vm.c
  tests/jerry/es.next/module-resource-name-export.mjs
  tests/jerry/es.next/module-resource-name.js
Labels: ES2015

#4225 Bound names of for-in/of statements cannot contain let
  jerry-core/parser/js/js-parser-statm.c
  tests/test262-es6-excludelist.xml
  tests/test262-esnext-excludelist.xml
Labels: ES2015, ecma core

#4145 Improve arguments object
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/operations/ecma-arguments-object.c
  jerry-core/ecma/operations/ecma-arguments-object.h
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-objects-arguments.c
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/arguments.js
  tests/jerry/es.next/arguments.js
  tests/jerry/es5.1/arguments.js
  tests/test262-es6-excludelist.xml
  tests/test262-esnext-excludelist.xml
Labels: ES.next, ES2015, bug, enhancement, memory consumption

#4226 Fix Symbol to Object comparison
  jerry-core/ecma/operations/ecma-comparison.c
  tests/test262-es6-excludelist.xml
  tests/test262-esnext-excludelist.xml
Labels: ES2015, ecma core

#4223 Fix a typo in case of single thread/process execution in test262 harness
  tools/runners/test262-harness.py
Labels: ES.next, ES2015, test
