Repository jerryscript-project/jerryscript, pull requests merged in 2021-01, with the labels that each got.

#4395 Run CI on pushes and PRs to all branches
  .github/workflows/gh-actions.yml
Labels: infrastructure

#4423 Fix lookahead in lexer_check_numbers
  jerry-core/parser/js/js-lexer.c
  tests/jerry/es.next/regression-test-issue-4375.js
Labels: bug, lexer

#4425 Fix inherited property type check in ordinary object.[[Set]]
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/es.next/regression-test-issue-4405.js
Labels: bug, ecma core

#4415 Don't use property list pointer to store Proxy flags
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-proxy-object.c
  tests/jerry/es.next/regression-test-issue-4396.js
  tests/unit-core/test-proxy.c
Labels: ES.next, ES2015, bug

#4419 Fix reference count management in %TypedArray%.prototype.reduce{Right}
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  tests/jerry/es.next/regression-test-issue-4397.js
Labels: bug, ecma builtins

#4421 Bound function 'length' property should be early initialized
  jerry-core/ecma/builtin-objects/ecma-builtin-function-prototype.c
  tests/jerry/es.next/regression-test-issue-4402.js
Labels: ES.next, bug, ecma builtins

#4429 Fix shifting a negative value when using BigInts
  jerry-core/ecma/operations/ecma-bigint.c
  tests/jerry/es.next/regression-test-issue-4341.js
Labels: ES.next, bug

#4422 Fix bytecode emitting for invalid regexp literals
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-parser-expr.c
  tests/jerry/es.next/regression-test-issue-4408.js
Labels: bug

#4418 Proxy.[[Set]] should reject falsish trap result in strict mode
  jerry-core/ecma/operations/ecma-proxy-object.c
  tests/jerry/es.next/regression-test-issue-4398.js
  tests/jerry/es.next/symbol-search.js
Labels: bug

#4428 Disable libjerry-math by default
  CMakeLists.txt
  jerry-core/CMakeLists.txt
  targets/esp-idf/README.md
  targets/esp8266/Makefile.esp8266
  targets/particle/Makefile.particle
  targets/riot-stm32f4/Makefile.riot
  tests/jerry/es.next/math-cbrt.js
  tools/run-tests.py
Labels: jerry-libm, tools

#4420 Tagged template literal array should be marked after construction
  jerry-core/parser/js/js-parser-tagged-template-literal.c
  tests/jerry/es.next/regression-test-issue-4385.js
Labels: bug

#4426 Fix VM stack size calculation for class initializer assignments
  jerry-core/parser/js/js-parser.c
  tests/jerry/es.next/regression-test-issue-4413.js
Labels: bug

#4412 Rework GitHub Actions workflow configuration
  .github/workflows/gh-actions.yml
Labels: infrastructure

#4417 Enable generating compile_commands.json
  jerry-main/CMakeLists.txt
  tools/build.py
Labels: tools

#4414 Fix the include directory in the pkgconfig of the math lib
  jerry-math/libjerry-math.pc.in
Labels: jerry-libm

#4409 Add --build-type to tools/build.py
  tools/build.py
Labels: tools

#4424 Fix unavailable source file handling in main_print_unhandled_exception
  jerry-main/main-utils.c
  tests/jerry/fail/regression-test-issue-4403.js
Labels: bug, jerry-main

#4430 Move ARM and target checks to Github Actions from Travis
  .github/workflows/gh-actions.yml
  .travis.yml
  targets/riot-stm32f4/Makefile.travis
Labels: infrastructure

#4436 Farewell to Travis CI
  .github/workflows/gh-actions.yml
  .travis.yml
  README.md
Labels: infrastructure

#4438 Replace isnan with inequality check to avoid conversion warning in older Clang
  jerry-ext/arg/arg-transform-functions.c
Labels: jerry-ext

#4434 Fix mapped arguments legacy argument definition initialization
  jerry-core/ecma/operations/ecma-arguments-object.c
  tests/jerry/es.next/regression-test-issue-4432.js
Labels: bug, ecma core

#4416 Officially introduce amalgamated builds
  CMakeLists.txt
  appveyor.yml
  docs/01.CONFIGURATION.md
  jerry-core/CMakeLists.txt
  jerry-math/CMakeLists.txt
  jerry-port/default/CMakeLists.txt
  targets/esp8266/Makefile.esp8266
  targets/nuttx-stm32f4/Makefile.travis
  targets/nuttx-stm32f4/README.md
  targets/particle/Makefile.particle
  targets/riot-stm32f4/Makefile.riot
  targets/zephyr/Makefile.zephyr
  tools/amalgam.py
  tools/build.py
  tools/run-tests.py
  tools/srcgenerator.py
Labels: tools

#4448 Fix underscore lookahead in hex literal parsing
  jerry-core/parser/js/js-lexer.c
  tests/jerry/es.next/regression-test-issue-4442.js
Labels: bug

#4427 Remove file(GLOB ...) usage from CMakeLists.txt
  jerry-core/CMakeLists.txt
  jerry-ext/CMakeLists.txt
  jerry-math/CMakeLists.txt
  jerry-port/default/CMakeLists.txt
  tests/unit-core/CMakeLists.txt
  tests/unit-doc/CMakeLists.txt
  tests/unit-ext/CMakeLists.txt
  tests/unit-ext/module/CMakeLists.txt
  tests/unit-math/CMakeLists.txt
Labels: tools

#4443 Make the whole GH Actions Notification job conditional
  .github/workflows/gh-actions.yml
Labels: infrastructure

#4444 Improve the path normalization of the default port
  jerry-port/default/default-module.c
Labels: jerry-port

#4449 Fix the build and timezone offset with MinGW
  jerry-port/default/default-date.c
Labels: bug, jerry-port, windows

#4461 Fix assert in ecma_op_object_own_property_keys
  jerry-core/ecma/operations/ecma-objects.c
Labels: bug

#4459 Fix error instance query if the error is from a Proxy
  jerry-core/ecma/operations/ecma-exceptions.c
  tests/jerry/es.next/regression-test-issue-4440.js
Labels: ES.next, ES2015, bug

#4457 Drop `-fno-...` compiler flags from CMakeLists
  CMakeLists.txt
  jerry-core/CMakeLists.txt
Labels: binary size

#4115 Refactor ecma_builtin_global_object_unescape
  jerry-core/ecma/builtin-objects/ecma-builtin-global.c
  tests/jerry/es.next/global-unescape.js
  tests/test262-esnext-excludelist.xml
Labels: ES.next

#4447 Remove new target workaround from super call
  jerry-core/vm/opcodes.c
  jerry-core/vm/vm.c
  tests/jerry/es.next/regression-test-issue-4446.js
Labels: bug

#4450 Add strict flag check for ecma_op_object_put_apply_receiver
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/es.next/regression-test-issue-4441.js
Labels: bug

#4210 Update TypedArray builtins to latest standard
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-prototype.c
  jerry-core/ecma/operations/ecma-typedarray-object.c
  jerry-core/ecma/operations/ecma-typedarray-object.h
  tests/test262-esnext-excludelist.xml
Labels: ES.next

#4476 Rename 'this' to 'this_arg' in function arguments
  jerry-core/ecma/operations/ecma-promise-object.c
  jerry-core/ecma/operations/ecma-promise-object.h
Labels: minor

#4477 Correctly release values in Proxy.[[Get]]
  jerry-core/ecma/operations/ecma-proxy-object.c
  tests/jerry/es.next/regression-test-issue-4466.js
Labels: ES.next, ES2015, bug

#4471 Add missing error check for for-in HasNext check
  jerry-core/vm/vm.c
  tests/jerry/es.next/regression-test-issue-4464.js
Labels: bug

#4460 Fix objects foreach unittest in case of mem-stress-test
  tests/unit-core/test-objects-foreach.c
Labels: test

#4458 Fix prototype chain traversing
  jerry-core/api/jerry.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object-prototype.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-objects.h
  jerry-core/ecma/operations/ecma-proxy-object.c
  jerry-core/ecma/operations/ecma-proxy-object.h
  tests/jerry/es.next/regression-test-issue-4445.js
Labels: ES.next, ES2015, bug

#4485 exclude test-ext-autorelease.c in SOURCE_UNIT_TEST_EXT_MODULES properly
  tests/unit-ext/CMakeLists.txt
Labels: jerry-ext, test, windows

#4392 Fixes ENABLE_AMALGAM need FORCE set to ON when building with MSVC
  CMakeLists.txt
  jerry-core/ecma/base/ecma-alloc.c
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-helpers-collection.c
  jerry-core/ecma/base/ecma-helpers-errol.c
  jerry-core/ecma/base/ecma-helpers-number.c
  jerry-core/ecma/base/ecma-helpers-string.c
  jerry-core/ecma/base/ecma-helpers-value.c
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/ecma/base/ecma-lcache.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers-date.c
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/ecma/operations/ecma-array-object.c
  jerry-core/ecma/operations/ecma-arraybuffer-object.c
  jerry-core/ecma/operations/ecma-container-object.c
  jerry-core/ecma/operations/ecma-conversion.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-promise-object.c
  jerry-core/ecma/operations/ecma-typedarray-object.c
  jerry-core/jmem/jmem-allocator.c
  jerry-core/jmem/jmem-heap.c
  jerry-core/lit/lit-magic-strings.c
  jerry-core/lit/lit-strings.c
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-parser-mem.c
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/regexp/re-bytecode.c
  jerry-core/vm/opcodes.c
  jerry-core/vm/vm-utils.c
Labels: windows

#4484 Use _WIN32 instead WIN32.
  jerry-core/ecma/base/ecma-helpers-number.c
  jerry-core/ecma/builtin-objects/ecma-builtin-math.c
  jerry-ext/debugger/debugger-serial.c
  jerry-ext/debugger/debugger-tcp.c
  jerry-port/default/default-debugger.c
  jerry-port/default/default-module.c
Labels: windows

#4483 Use approxEq to judge double compare in math-cbrt.js
  tests/jerry/es.next/math-cbrt.js
Labels: test

#4487 Sort source and header lists in cmake files
  jerry-core/CMakeLists.txt
  tests/unit-core/CMakeLists.txt
  tests/unit-ext/CMakeLists.txt
Labels: tools

#4378 timeout are not working on windows.
  tools/runners/run-test-suite-test262.py
  tools/runners/test262-harness.py
Labels: tools, windows

#4494 Fixes timezone get on win32
  tools/runners/util.py
Labels: tools, windows

#4478 current_new_target -> current_new_target_p
  jerry-core/api/jerry.c
  jerry-core/ecma/base/ecma-init-finalize.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array.c
  jerry-core/ecma/builtin-objects/ecma-builtin-date.c
  jerry-core/ecma/builtin-objects/ecma-builtin-error.c
  jerry-core/ecma/builtin-objects/ecma-builtin-evalerror.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  jerry-core/ecma/builtin-objects/ecma-builtin-rangeerror.c
  jerry-core/ecma/builtin-objects/ecma-builtin-referenceerror.c
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp.c
  jerry-core/ecma/builtin-objects/ecma-builtin-syntaxerror.c
  jerry-core/ecma/builtin-objects/ecma-builtin-typeerror.c
  jerry-core/ecma/builtin-objects/ecma-builtin-urierror.c
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-helpers.c
  jerry-core/ecma/operations/ecma-arraybuffer-object.c
  jerry-core/ecma/operations/ecma-async-generator-object.c
  jerry-core/ecma/operations/ecma-boolean-object.c
  jerry-core/ecma/operations/ecma-container-object.c
  jerry-core/ecma/operations/ecma-dataview-object.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-number-object.c
  jerry-core/ecma/operations/ecma-promise-object.c
  jerry-core/ecma/operations/ecma-string-object.c
  jerry-core/jcontext/jcontext.h
  jerry-core/vm/opcodes.c
  jerry-core/vm/vm.c
Labels: minor

#4488 Unify asserts in jerry-ext
  jerry-ext/arg/arg.c
  jerry-ext/handle-scope/handle-scope-allocator.c
  jerry-ext/handle-scope/handle-scope-internal.h
  jerry-ext/handle-scope/handle-scope.c
  jerry-ext/include/jerryscript-ext/handle-scope.h
Labels: jerry-ext

#4496 Add ${PYTHON_EXECUTABLE} for "Generating doctests"
  tests/unit-doc/CMakeLists.txt
Labels: documentation, test, tools, windows

#4481 Trying to fixes module-resource-name.js win32
  tests/jerry/es.next/module-resource-name.js
Labels: test, windows

#4473 Fix free of NULL value in function ecma_typedarray_helper_dispatch_construct
  jerry-core/ecma/builtin-objects/typedarray/ecma-builtin-typedarray-helpers.c
  tests/jerry/es.next/regression-test-issue-4463.js
  tests/test262-esnext-excludelist.xml
Labels: bug

#4500 Remove template array flag from arrays after the collection is freed
  jerry-core/ecma/base/ecma-helpers-collection.c
  tests/jerry/es.next/regression-test-issue-4469.js
Labels: bug

#4451 Introduce jerry_port_track_promise_rejection
  docs/05.PORT-API.md
  jerry-core/ecma/operations/ecma-promise-object.c
  jerry-core/ecma/operations/ecma-promise-object.h
  jerry-core/include/jerryscript-port.h
  jerry-port/default/CMakeLists.txt
  jerry-port/default/default-promise.c
  targets/esp-idf/promise.c
  targets/nuttx-stm32f4/jerry_port.c
Labels: jerry-port

#4497 Get isfinite, isinf, and isnan right in jerry-math
  jerry-math/CMakeLists.txt
  jerry-math/finite.c
  jerry-math/include/math.h
  jerry-math/isnan.c
  jerry-math/jerry-math-internal.h
  tests/unit-math/test-math.inc.h
  tools/run-tests.py
  tools/unit-tests/gen-test-math.c
Labels: bug, jerry-libm, test

#4503 compile_commands.json should be generated for the whole project
  CMakeLists.txt
  jerry-main/CMakeLists.txt
Labels: tools

#4502 Optimize lexenv binding creation
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-module.c
  jerry-core/ecma/operations/ecma-lex-env.c
  jerry-core/ecma/operations/ecma-lex-env.h
  jerry-core/vm/opcodes.c
  jerry-core/vm/opcodes.h
  jerry-core/vm/vm.c
  tests/jerry/es.next/regression-test-issue-4468.js
Labels: bug, enhancement

#4504 Update API docs for 2.4 release
  docs/02.API-REFERENCE.md
Labels: api, documentation

#4480 Make all dynamic memory allocations via core API functions in jerry-ext
  jerry-ext/handle-scope/handle-scope-allocator.c
  jerry-ext/handle-scope/handle-scope.c
Labels: jerry-ext, memory management

#4082 Implement Symbol.matchAll
  docs/02.API-REFERENCE.md
  jerry-core/CMakeLists.txt
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-string-iterator-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-string-iterator-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-symbol.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtins.inc.h
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-regexp-object.h
  jerry-core/include/jerryscript-core.h
  jerry-core/lit/lit-char-helpers.c
  jerry-core/lit/lit-char-helpers.h
  jerry-core/lit/lit-magic-strings.h
  jerry-core/lit/lit-magic-strings.inc.h
  jerry-core/lit/lit-magic-strings.ini
  tests/jerry/es.next/regexp-prototype-match-all.js
  tests/jerry/es.next/string-prototype-match-all.js
  tests/test262-esnext-excludelist.xml
  tests/unit-core/test-symbol.c
Labels: ES.next

#4279 Update the name handling of anonymous functions to ES11
  jerry-core/ecma/base/ecma-helpers-value.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/jmem/jmem.h
  jerry-core/parser/js/js-parser.c
  jerry-core/vm/opcodes.c
  tests/jerry/es.next/function-name.js
  tests/test262-es6-excludelist.xml
  tests/test262-esnext-excludelist.xml
Labels: ES.next, hacktoberfest-accepted, test262

#4507 Fixes comment in log1p.c
  jerry-math/log1p.c
Labels: minor

#4508 Add expm1 test case to cover the k==1024 case
  tests/unit-math/test-math.inc.h
  tools/unit-tests/gen-test-math.c
Labels: jerry-libm, test

#4506 Invalid regexp literals should throw syntax error in ES11
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/parser/js/byte-code.c
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser.c
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es.next/regression-test-issue-2058.js
  tests/jerry/es.next/regression-test-issue-4408.js
  tests/test262-esnext-excludelist.xml
Labels: ES.next

#4505 Rework export default parsing
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-scanner-internal.h
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
  tests/jerry/es.next/module-export-01.mjs
  tests/jerry/es.next/module-export-default-1.mjs
  tests/jerry/es.next/module-export-default-2.mjs
  tests/jerry/es.next/module-export-default-3.mjs
  tests/jerry/es.next/module-export-default-4.mjs
  tests/jerry/es.next/module-export-default-5.mjs
  tests/jerry/es.next/module-export-default-6.mjs
  tests/jerry/es.next/module-export-default-7.mjs
  tests/jerry/es.next/module-export-default-8.mjs
  tests/jerry/es.next/module-export-default-9.mjs
  tests/jerry/es.next/module-export-default-main.mjs
  tests/jerry/fail/module-export-default-arrow.mjs
  tests/test262-esnext-excludelist.xml
Labels: bug

#4523 Update profile README file
  jerry-core/config.h
  jerry-core/profiles/README.md
Labels: documentation

#4510 Fix MinGW compilation errors in jerry-ext
  jerry-ext/CMakeLists.txt
  jerry-ext/debugger/debugger-tcp.c
  jerry-ext/handle-scope/handle-scope-allocator.c
  jerry-port/default/default-module.c
Labels: jerry-ext, windows

#4540 Update the webpage
  01.CONFIGURATION.md
  02.API-REFERENCE.md
  03.API-EXAMPLE.md
  04.INTERNALS.md
  05.PORT-API.md
Labels: documentation

#4541 Add missing version info to API docs
  docs/02.API-REFERENCE.md
Labels: documentation

#4513 Refactoring time-related default port implementations
  jerry-port/default/CMakeLists.txt
  jerry-port/default/default-date.c
  jerry-port/default/default-debugger.c
Labels: jerry-port

#4549 Extend jerry_create_realm API docs a bit
  docs/02.API-REFERENCE.md
Labels: ES.next, api, documentation
