Repository jerryscript-project/jerryscript, pull requests merged in 2021-02, with the labels that each got.

#4545 Fix failing AsyncFunction tests in test262-esnext
  jerry-core/ecma/builtin-objects/ecma-builtin-async-function.inc.h
  jerry-core/parser/js/byte-code.h
  tests/test262-esnext-excludelist.xml
Labels: ES.next

#4557 Ensure that fast array objects are always extensible
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/es.next/regression-test-issue-3534.js
Labels: bug

#4559 Ensure that fast arrays length property is always writable
  jerry-core/ecma/operations/ecma-array-object.c
  jerry-core/ecma/operations/ecma-array-object.h
  tests/jerry/array.js
Labels: bug

#4552 Add missing tests for realm object type via jerry_object_get_type
  tests/unit-core/test-api-objecttype.c
Labels: api, test

#4548 Add unittest to check realm object and realm this types
  tests/unit-core/test-api-value-type.c
Labels: ES.next, api, test

#4558 Ensure that [[Set]] operation does not reject for TypedArray objects
  jerry-core/ecma/operations/ecma-objects.c
  tests/jerry/es.next/typedarray-put.js
  tests/unit-core/test-typedarray.c
Labels: bug

#4539 Fix literal index decoding for CBC_MOV_IDENT
  jerry-core/parser/js/js-parser.c
  tests/jerry/es.next/regression-test-issue-4532.js
Labels: bug, parser

#4529 Fix lexical declaration check for let variables
  jerry-core/vm/opcodes.c
  jerry-core/vm/opcodes.h
  jerry-core/vm/vm.c
  tests/test262-esnext-excludelist.xml
  tests/unit-core/test-api.c
Labels: ES.next, bug

#4527 Improve destructuring patterns
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/operations/ecma-iterator-object.c
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/parser/js/byte-code.c
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/vm/vm-stack.c
  jerry-core/vm/vm-stack.h
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es.next/array-pattern.js
  tests/test262-esnext-excludelist.xml
Labels: ES.next

#4517 Make install_jerry work with MinGW
  tools/build.py
Labels: windows

#4511 Fixes math library compiling on msvc
  jerry-math/CMakeLists.txt
  jerry-math/expm1.c
  jerry-math/include/math.h
  jerry-math/jerry-math-internal.h
  jerry-math/log.c
  jerry-math/log10.c
  jerry-math/log1p.c
  jerry-math/log2.c
Labels: jerry-libm, windows

#4516 Disable `conversion` warning on win32/gnu-mingw
  CMakeLists.txt
Labels: windows

#4495 Move get_platform_cmd_prefix into util.py
  tools/run-tests.py
  tools/runners/run-test-suite.py
  tools/runners/util.py
Labels: tools

#4562 Add non-standard behaviour support for Proxies
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-proxy.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-proxy-object.c
  jerry-core/ecma/operations/ecma-proxy-object.h
  jerry-core/include/jerryscript-core.h
  tests/unit-core/CMakeLists.txt
  tests/unit-core/test-realm.c
  tests/unit-core/test-special-proxy.c
Labels: api

#4564 Fix cleanup in VM_OC_INITIALIZER_PUSH_PROP on abrupt completion
  jerry-core/vm/vm.c
  tests/jerry/es.next/object-pattern.js
Labels: bug

#4555 Introduce generic backtrace capturing
  docs/02.API-REFERENCE.md
  jerry-core/api/jerry.c
  jerry-core/ecma/operations/ecma-exceptions.c
  jerry-core/include/jerryscript-core.h
  jerry-core/vm/vm-defines.h
  jerry-core/vm/vm-utils.c
  jerry-core/vm/vm.h
  tests/unit-core/test-backtrace.c
Labels: api

#4456 Add --build-debug options for run-tests.py script.
  .github/workflows/gh-actions.yml
  tests/test262-es6-excludelist.xml
  tools/run-tests.py
  tools/runners/test262-harness.py
Labels: infrastructure, tools

#4569 Fix incorrect assert expression in lexer_check_property_modifier
  jerry-core/parser/js/js-lexer.c
Labels: bug, lexer

#4567 Add cross-realm support to RegExp.prototype
  jerry-core/ecma/builtin-objects/ecma-builtin-regexp-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/ecma/builtin-objects/ecma-builtins.h
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-regexp-object.c
  tests/test262-esnext-excludelist.xml
Labels: ES.next

#4572 Fix template memory leak when debugger is running
  jerry-core/ecma/base/ecma-helpers.c
  tests/debugger/do_next.cmd
  tests/debugger/do_next.expected
  tests/debugger/do_next.js
Labels: debugger

#4573 Fix null getters/setters in jerry_property_descriptor_from_ecma
  jerry-core/api/jerry.c
  tests/unit-core/test-to-property-descriptor.c
Labels: api

#4588 Fix ident in documentation of cmake options
  docs/01.CONFIGURATION.md
Labels: documentation

#4561 Fix failing Date tests in test262-esnext
  jerry-core/ecma/builtin-objects/ecma-builtin-date-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers-date.c
  tests/jerry/date-tostring.js
  tests/test262-esnext-excludelist.xml
Labels: ES.next

#4593 Improve date internals
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-date-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-date.c
  jerry-core/ecma/builtin-objects/ecma-builtin-date.inc.h
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers-date.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-intrinsic.c
  tests/jerry/date-parse.js
  tests/unit-core/test-date-helpers.c
Labels: ecma core, enhancement, performance, stack usage

#4599 Rework external function handlers
  docs/02.API-REFERENCE.md
  docs/03.API-EXAMPLE.md
  docs/10.EXT-REFERENCE-HANDLER.md
  jerry-core/api/jerry.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/builtin-objects/ecma-builtin-handlers.c
  jerry-core/ecma/builtin-objects/ecma-builtin-handlers.h
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-promise-object.c
  jerry-core/ecma/operations/ecma-promise-object.h
  jerry-core/ecma/operations/ecma-proxy-object.c
  jerry-core/ecma/operations/ecma-proxy-object.h
  jerry-core/include/jerryscript-core.h
  jerry-core/vm/opcodes.c
  jerry-ext/handler/handler-assert.c
  jerry-ext/handler/handler-gc.c
  jerry-ext/handler/handler-print.c
  jerry-ext/handler/handler-resource-name.c
  jerry-ext/include/jerryscript-ext/handler.h
  jerry-main/main-jerry.c
  jerry-main/main-utils.c
  targets/esp8266/user/jerry_extapi.c
  targets/mbedos5/jerryscript-mbed/jerryscript-mbed-drivers/source/AnalogIn-js.cpp
  targets/mbedos5/jerryscript-mbed/jerryscript-mbed-drivers/source/DigitalOut-js.cpp
  targets/mbedos5/jerryscript-mbed/jerryscript-mbed-drivers/source/I2C-js.cpp
  targets/mbedos5/jerryscript-mbed/jerryscript-mbed-drivers/source/InterruptIn-js.cpp
  targets/mbedos5/jerryscript-mbed/jerryscript-mbed-drivers/source/PwmOut-js.cpp
  targets/mbedos5/jerryscript-mbed/jerryscript-mbed-drivers/source/setInterval-js.cpp
  targets/mbedos5/jerryscript-mbed/jerryscript-mbed-drivers/source/setTimeout-js.cpp
  targets/mbedos5/jerryscript-mbed/jerryscript-mbed-util/wrappers.h
  tests/unit-core/test-abort.c
  tests/unit-core/test-api-binary-operations-instanceof.c
  tests/unit-core/test-api-functiontype.c
  tests/unit-core/test-api-objecttype.c
  tests/unit-core/test-api-value-type.c
  tests/unit-core/test-api.c
  tests/unit-core/test-arraybuffer.c
  tests/unit-core/test-backtrace.c
  tests/unit-core/test-json.c
  tests/unit-core/test-native-instanceof.c
  tests/unit-core/test-newtarget.c
  tests/unit-core/test-promise.c
  tests/unit-core/test-proxy.c
  tests/unit-core/test-regression-3588.c
  tests/unit-core/test-resource-name.c
  tests/unit-core/test-special-proxy.c
  tests/unit-core/test-typedarray.c
  tests/unit-ext/module/jerry-module-test.c
  tests/unit-ext/test-ext-arg.c
  tests/unit-ext/test-ext-method-register.c
Labels: api

#4600 Keep GNU fast path for jerry_port_get_local_time_zone_adjustment
  jerry-port/default/CMakeLists.txt
  jerry-port/default/default-date.c
Labels: jerry-port

#4604 Always run all checks regardless of the previous job result
  .github/workflows/gh-actions.yml
Labels: infrastructure

#4602 Optimize the copying/freeing of ecma values
  jerry-core/ecma/base/ecma-alloc.c
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-gc.h
  jerry-core/ecma/base/ecma-helpers-string.c
  jerry-core/ecma/base/ecma-helpers-value.c
  jerry-core/ecma/base/ecma-helpers.h
Labels: ecma core, enhancement, performance

#4609 Move push literal number opcodes to basic opcodes
  jerry-core/include/jerryscript-snapshot.h
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/common.c
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-lexer.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-util.c
Labels: enhancement, memory consumption

#4603 Limit the string size in jerry_port_track_promise_rejection
  jerry-port/default/default-promise.c
Labels: jerry-port

#4565 Improve ecma_reject to give more detailed error messages
  jerry-core/ecma/operations/ecma-array-object.c
  jerry-core/ecma/operations/ecma-array-object.h
  jerry-core/ecma/operations/ecma-objects-general.c
  jerry-core/ecma/operations/ecma-objects-general.h
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-objects.h
  jerry-core/ecma/operations/ecma-typedarray-object.c
  jerry-core/ecma/operations/ecma-typedarray-object.h
Labels: ecma core

#4601 Add size checks before using JERRY_VLA in unittests
  tests/unit-core/test-arraybuffer.c
  tests/unit-core/test-json.c
  tests/unit-core/test-regexp.c
  tests/unit-core/test-typedarray.c
Labels: test
