Repository jerryscript-project/jerryscript, pull requests merged in 2021-11, with the labels that each got.

#4808 Fix parsing unterminated let statement
  jerry-core/parser/js/js-parser-statm.c
  tests/jerry/fail/regression-test-issue-4754.js
Labels: bug, hacktoberfest-accepted

#4807 Fix for-in collection cleanup on abrupt 'has' result
  jerry-core/vm/vm.c
  tests/jerry/es.next/regression-test-issue-4747.js
Labels: bug, hacktoberfest-accepted

#4809 Fix typos in the documentation and related files
  docs/01.CONFIGURATION.md
  docs/02.API-REFERENCE.md
  docs/04.INTERNALS.md
  docs/05.PORT-API.md
  docs/08.CODING-STANDARDS.md
  docs/10.EXT-REFERENCE-HANDLER.md
  docs/12.EXT-REFERENCE-MODULE.md
  docs/13.DEBUGGER-TRANSPORT.md
  docs/15.MODULE-SYSTEM.md
  docs/16.MIGRATION-GUIDE.md
  jerry-core/api/jerry.c
  jerry-core/ecma/base/ecma-module.c
  jerry-core/ecma/base/ecma-property-hashmap.h
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers-json.c
  jerry-core/ecma/builtin-objects/ecma-builtin-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtin-json.c
  jerry-core/ecma/builtin-objects/ecma-builtin-object.c
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/ecma/operations/ecma-arguments-object.c
  jerry-core/ecma/operations/ecma-array-object.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-promise-object.c
  jerry-core/ecma/operations/ecma-reference.c
  jerry-core/ecma/operations/ecma-string-object.c
  jerry-core/ecma/operations/ecma-typedarray-object.c
  jerry-core/include/jerryscript-core.h
  jerry-core/include/jerryscript-types.h
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/profiles/README.md
  jerry-ext/include/jerryscript-ext/handler.h
  jerry-main/cli.h
  targets/curie_bsp/README.md
  targets/esp-idf/README.md
  targets/openwrt/readme.md
  targets/zephyr/README.md
  tests/test262-es6-excludelist.xml
  tests/unit-core/test-api-object-property-names.c
Labels: documentation, hacktoberfest-accepted

#4813 Update the webpage
  01.CONFIGURATION.md
  02.API-REFERENCE.md
  04.INTERNALS.md
  05.PORT-API.md
  07.DEBUGGER.md
  08.CODING-STANDARDS.md
  10.EXT-REFERENCE-HANDLER.md
  12.EXT-REFERENCE-MODULE.md
  13.DEBUGGER-TRANSPORT.md
  15.MODULE-SYSTEM.md
  16.MIGRATION-GUIDE.md
Labels: documentation

#4817 Optimize ecma_op_function_call
  jerry-core/api/jerry.c
  jerry-core/ecma/builtin-objects/ecma-builtin-async-from-sync-iterator-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-string-prototype.c
  jerry-core/ecma/operations/ecma-async-generator-object.c
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/ecma/operations/ecma-function-object.h
  jerry-core/ecma/operations/ecma-iterator-object.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-proxy-object.c
  jerry-core/vm/vm-stack.c
  jerry-core/vm/vm.c
Labels: enhancement, performance

#4818 Fix goto labels indentation
  .clang-format
  jerry-core/ecma/base/ecma-module.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array-prototype.c
  jerry-core/ecma/builtin-objects/ecma-builtin-array.c
  jerry-core/ecma/operations/ecma-regexp-object.c
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-statm.c
  jerry-core/parser/js/js-scanner.c
  jerry-core/vm/vm.c
Labels: style

#4830 Fix function name evaluation order
  jerry-core/ecma/operations/ecma-function-object.c
  jerry-core/parser/js/js-parser-expr.c
  tests/jerry/es.next/class-fields3.js
  tests/test262-es6-excludelist.xml
  tests/test262-esnext-excludelist.xml
Labels: ES.next, test262

#4832 Fix numeric literal with leading decimal point in accessor property name
  jerry-core/parser/js/js-lexer.c
  tests/test262-esnext-excludelist.xml
Labels: test262

#4836 Outsource parser error messages
  jerry-core/CMakeLists.txt
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser-util.c
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-parser.h
  jerry-core/parser/js/parser-error-messages.inc.h
  jerry-core/parser/js/parser-error-messages.ini
  jerry-core/parser/js/parser-errors.c
  jerry-core/parser/js/parser-errors.h
  tools/gen-strings.py
Labels: tools

#4831 Implement ECMAScript 2022 private class methods and fields
  jerry-core/ecma/base/ecma-error-messages.inc.h
  jerry-core/ecma/base/ecma-error-messages.ini
  jerry-core/ecma/base/ecma-gc.c
  jerry-core/ecma/base/ecma-globals.h
  jerry-core/ecma/base/ecma-helpers-collection.c
  jerry-core/ecma/base/ecma-helpers-string.c
  jerry-core/ecma/base/ecma-helpers.c
  jerry-core/ecma/base/ecma-helpers.h
  jerry-core/ecma/builtin-objects/ecma-builtins.c
  jerry-core/ecma/operations/ecma-get-put-value.c
  jerry-core/ecma/operations/ecma-lex-env.c
  jerry-core/ecma/operations/ecma-objects.c
  jerry-core/ecma/operations/ecma-reference.c
  jerry-core/lit/lit-char-helpers.h
  jerry-core/lit/lit-magic-strings.h
  jerry-core/parser/js/byte-code.c
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-lexer.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/parser/js/js-parser-internal.h
  jerry-core/parser/js/js-parser.c
  jerry-core/parser/js/js-scanner-internal.h
  jerry-core/parser/js/js-scanner-util.c
  jerry-core/parser/js/js-scanner.c
  jerry-core/parser/js/js-scanner.h
  jerry-core/parser/js/parser-error-messages.inc.h
  jerry-core/parser/js/parser-error-messages.ini
  jerry-core/parser/js/parser-errors.h
  jerry-core/vm/opcodes.c
  jerry-core/vm/opcodes.h
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es.next/private_fields.js
  tests/test262-esnext-excludelist.xml
Labels: ES.next, test262

#4837 Update test262 git hash, and update exclude list
  .github/workflows/gh-actions.yml
  jerry-core/vm/vm.c
  tests/test262-esnext-excludelist.xml
  tools/runners/run-test-suite-test262.py
Labels: test262

#4834 Implement logical assignment operators
  jerry-core/parser/js/byte-code.c
  jerry-core/parser/js/byte-code.h
  jerry-core/parser/js/js-lexer.c
  jerry-core/parser/js/js-lexer.h
  jerry-core/parser/js/js-parser-expr.c
  jerry-core/vm/vm.c
  jerry-core/vm/vm.h
  tests/jerry/es.next/logical-assignment.js
  tests/test262-esnext-excludelist.xml
Labels: ES.next, test262
