Repository jerryscript-project/jerryscript, pull requests merged in 2024-11, with the labels that each got.

#5168 Minor fix to ensure Python 3 support in the debugger
  jerry-debugger/jerry_client_websocket.py
Labels: bug, debugger

#4948 Const literal marker should be processed before group assignment marker
  jerry-core/parser/js/js-parser-expr.c
  tests/jerry/es.next/regression-test-issue-4925.js
Labels: bug, parser

#4982 Introduce JERRY_ZSTR_ARG macro to avoid call strlen on string literal.
  docs/05.PORT-API.md
  docs/10.EXT-REFERENCE-HANDLER.md
  docs/16.MIGRATION-GUIDE.md
  jerry-core/api/jerry-snapshot.c
  jerry-core/include/jerryscript-port.h
  jerry-core/include/jerryscript-types.h
  jerry-ext/include/jerryscript-ext/print.h
  jerry-ext/include/jerryscript-ext/repl.h
  jerry-ext/util/handlers.c
  jerry-ext/util/print.c
  jerry-ext/util/repl.c
  jerry-main/main-desktop.c
  jerry-port/common/jerry-port-io.c
  targets/os/nuttx/jerry-main.c
  targets/os/zephyr/src/jerry-main.c
Labels: enhancement
